common/vsid.ico
common/vsid.res
common/x128.ico
common/x128.res
common/x64dtv.ico
common/x64dtv.res
common/x64sc.ico
common/x64sc.res
common/xcbm2.ico
common/xcbm2.res
common/xcbm5x0.ico
common/xcbm5x0.res
common/xpet.ico
common/xpet.res
common/xplus4.ico
common/xplus4.res
common/xscpu64.ico
common/xscpu64.res
common/xvic.ico
common/xvic.res
