Makefile
Makefile.in
**/.deps/
*.out
*.o
*.a
*.m4
*.log
*.map
compile
configure
depcomp
**/*.cache/
vice/doc/html/
vice/missing
vice/ylwrap
vice/src/config.h.in
vice/src/resid/COPYING
vice/src/resid/INSTALL
vice/src/resid-dtv/COPYING
vice/src/resid-dtv/INSTALL
vice/config.status
vice/src/config.h
vice/src/debug.h
vice/src/stamp-h1
vice/src/version.h
vice/src/vice-version.sh
vice/src/resid/config.status
vice/src/resid/siddefs.h
vice/src/resid-dtv/config.status
vice/src/resid-dtv/siddtvdefs.h
vice/data/common/vice.gresource
vice/src/c1541
vice/src/infocontrib.h
vice/src/vsid
vice/src/x64dtv
vice/src/x64sc
vice/src/x128
vice/src/xcbm2
vice/src/xcbm5x0
vice/src/xpet
vice/src/xplus4
vice/src/xscpu64
vice/src/xvic
vice/src/arch/gtk3/novte/box_drawing.h
vice/src/arch/gtk3/novte/marshal.cc
vice/src/arch/gtk3/novte/marshal.h
vice/src/arch/gtk3/novte/vtetypebuiltins.cc
vice/src/arch/gtk3/novte/vtetypebuiltins.h
vice/src/arch/shared/hotkeys/keysymtable.h
vice/src/c64/psiddrv.h
vice/src/c64/psiddrv.o65
vice/src/monitor/mon_lex.c
vice/src/monitor/mon_parse.c
vice/src/monitor/mon_parse.h
vice/src/resid/wave6581__ST.h
vice/src/resid/wave6581_P_T.h
vice/src/resid/wave6581_PS_.h
vice/src/resid/wave6581_PST.h
vice/src/resid/wave8580__ST.h
vice/src/resid/wave8580_P_T.h
vice/src/resid/wave8580_PS_.h
vice/src/resid/wave8580_PST.h
vice/src/svnversion.h
vice/src/tools/cartconv/cartconv
vice/src/tools/petcat/petcat
configure~
