*.a
*.o
.aclocal.out
.autoconf.out
.autoheader.out
.automake.out
.deps
.opendiff-*
CMakeFiles
CMakeLists.txt
Makefile
Makefile.in
_build
aclocal.m4
autom4te.cache
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
missing
vice/data/common/vice.gresource
vice/doc/.vice-texi-charset-ok
vice/doc/vice.pdf
vice/src/arch/android/AnVICE/AndroidManifest.xml
vice/src/arch/gtk3/novte/box_drawing.h
vice/src/arch/gtk3/novte/marshal.cc
vice/src/arch/gtk3/novte/marshal.h
vice/src/arch/gtk3/novte/vtetypebuiltins.cc
vice/src/arch/gtk3/novte/vtetypebuiltins.h
vice/src/c1541
vice/src/c64/psiddrv.h
vice/src/c64/psiddrv.o65
vice/src/debug.h
vice/src/infocontrib.h
vice/src/monitor/mon_lex.c
vice/src/monitor/mon_parse.c
vice/src/monitor/mon_parse.h
vice/src/resid-dtv/COPYING
vice/src/resid-dtv/INSTALL
vice/src/resid-dtv/siddtvdefs.h
vice/src/resid/COPYING
vice/src/resid/INSTALL
vice/src/resid/siddefs.h
vice/src/resid/wave6581_PST.h
vice/src/resid/wave6581_PS_.h
vice/src/resid/wave6581_P_T.h
vice/src/resid/wave6581__ST.h
vice/src/resid/wave8580_PST.h
vice/src/resid/wave8580_PS_.h
vice/src/resid/wave8580_P_T.h
vice/src/resid/wave8580__ST.h
vice/src/stamp-h1
vice/src/tools/cartconv/cartconv
vice/src/tools/petcat/petcat
vice/src/version.h
vice/src/vice-version.sh
vice/src/vsid
vice/src/x128
vice/src/x64dtv
vice/src/x64sc
vice/src/xcbm2
vice/src/xcbm5x0
vice/src/xpet
vice/src/xplus4
vice/src/xscpu64
vice/src/xvic
ylwrap
settings.json
vice/src/arch/headless/uiclient/uiclientmachine.h
vice/src/arch/headless/uiclient/uiclienttest
