# name of the project
PROJECTNAME = _vice

# project type: library, console, gui
PROJECTTYPE = gui

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	c1541
	cartconv
	petcat
	vsid
	x64
	x64dtv
	x64sc
	x128
	xcbm2
	xcbm5x0
	xpet
	xplus4
	xscpu64
	xvic

# library files for application, one per line, preceeded by a tab
PROJECTLIBS =
	advapi32.lib
	comctl32.lib
	comdlg32.lib
	gdi32.lib
	kernel32.lib
	odbc32.lib
	odbccp32.lib
	ole32.lib
	oleaut32.lib
	shell32.lib
	user32.lib
	uuid.lib
	version.lib
	winmm.lib
	winspool.lib
	wsock32.lib
