# name of the project
PROJECTNAME = arch

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	base
	geninfocontrib
	gentranslate

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	arch\win32\msvc\wpcap
	c64
	c64\cart
	c64dtv
	c128
	cbm2
	drive
	imagecontents
	joyport
	lib\libffmpeg
	lib\p64
	monitor
	pet
	platform
	plus4
	raster
	rs232drv
	samplerdrv
	sid
	userport
	vdrive
	vic20

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	arch\sdl\archdep.c
	arch\sdl\blockdev.c
	arch\sdl\catweaselmkiii-drv.c
	arch\sdl\console.c
	arch\sdl\dynlib.c
	arch\sdl\fullscreen.c
	arch\sdl\hardsid-drv.c
	arch\sdl\joy.c
	arch\sdl\kbd.c
	arch\sdl\lightpendrv.c
	arch\sdl\menu_c128hw.c
	arch\sdl\menu_c64_common_expansions.c
	arch\sdl\menu_c64_expansions.c
	arch\sdl\menu_c64cart.c
	arch\sdl\menu_c64dtvhw.c
	arch\sdl\menu_c64hw.c
	arch\sdl\menu_c64model.c
	arch\sdl\menu_cbm2cart.c
	arch\sdl\menu_cbm2hw.c
	arch\sdl\menu_common.c
	arch\sdl\menu_debug.c
	arch\sdl\menu_drive.c
	arch\sdl\menu_drive_rom.c
	arch\sdl\menu_ffmpeg.c
	arch\sdl\menu_help.c
	arch\sdl\menu_jam.c
	arch\sdl\menu_joystick.c
	arch\sdl\menu_joyport.c
	arch\sdl\menu_midi.c
	arch\sdl\menu_mouse.c
	arch\sdl\menu_network.c
	arch\sdl\menu_petcart.c
	arch\sdl\menu_pethw.c
	arch\sdl\menu_plus4cart.c
	arch\sdl\menu_plus4hw.c
	arch\sdl\menu_printer.c
	arch\sdl\menu_ram.c
	arch\sdl\menu_reset.c
	arch\sdl\menu_rom.c
	arch\sdl\menu_rs232.c
	arch\sdl\menu_sampler.c
	arch\sdl\menu_scpu64hw.c
	arch\sdl\menu_screenshot.c
	arch\sdl\menu_settings.c
	arch\sdl\menu_sid.c
	arch\sdl\menu_snapshot.c
	arch\sdl\menu_sound.c
	arch\sdl\menu_speed.c
	arch\sdl\menu_tape.c
	arch\sdl\menu_tfe.c
	arch\sdl\menu_vic20cart.c
	arch\sdl\menu_vic20hw.c
	arch\sdl\menu_video.c
	arch\sdl\mousedrv.c
	arch\sdl\parsid-drv.c
	arch\sdl\rawnetarch.c
	arch\sdl\rs232dev.c
	arch\sdl\sdlmain.c
	arch\sdl\signals.c
	arch\sdl\ssi2001-drv.c
	arch\sdl\ui.c
	arch\sdl\uicmdline.c
	arch\sdl\uifilereq.c
	arch\sdl\uihotkey.c
	arch\sdl\uimenu.c
	arch\sdl\uimon.c
	arch\sdl\uimsgbox.c
	arch\sdl\uipause.c
	arch\sdl\uipoll.c
	arch\sdl\uistatusbar.c
	arch\sdl\video.c
	arch\sdl\vkbd.c
	arch\sdl\vsidui.c
	arch\sdl\vsyncarch.c
	arch\sdl\x128_ui.c
	arch\sdl\x64_ui.c
	arch\sdl\x64dtv_ui.c
	arch\sdl\x64sc_ui.c
	arch\sdl\xcbm2_ui.c
	arch\sdl\xpet_ui.c
	arch\sdl\xplus4_ui.c
	arch\sdl\xscpu64_ui.c
	arch\sdl\xvic_ui.c
