# name of the project
PROJECTNAME = arch

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	base
	geninfocontrib
	genmsvcver
	gentranslate
	genwinres

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	arch\win32\msvc\wpcap
	c128
	c64
	c64\cart
	c64dtv
	cbm2
	drive
	imagecontents
	joyport
	lib\libffmpeg
	lib\p64
	monitor
	pet
	platform
	plus4
	raster
	rs232drv
	samplerdrv
	sid
	userport
	vdrive
	vic20

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	arch\win32\archdep.c
	arch\win32\blockdev.c
	arch\win32\c128ui.c
	arch\win32\c64dtvui.c
	arch\win32\c64ui.c
	arch\win32\catweaselmkiii-drv.c
	arch\win32\cbm2ui.c
	arch\win32\cbm5x0ui.c
	arch\win32\console.c
	arch\win32\dinput_handle.c
	arch\win32\dirent.c
	arch\win32\dynlib.c
	arch\win32\fullscrn.c
	arch\win32\gifdrv.c
	arch\win32\hardsid.c
	arch\win32\intl.c
	arch\win32\joy.c
	arch\win32\kbd.c
	arch\win32\lightpendrv.c
	arch\win32\mididrv.c
	arch\win32\mousedrv.c
	arch\win32\parsid.c
	arch\win32\petui.c
	arch\win32\plus4ui.c
	arch\win32\rawnetarch.c
	arch\win32\rs232dev.c
	arch\win32\scpu64ui.c
	arch\win32\signals.c
	arch\win32\statusbar.c
	arch\win32\ui-resources.c
	arch\win32\ui.c
	arch\win32\uiacia.c
	arch\win32\uiattach.c
	arch\win32\uiautostart.c
	arch\win32\uic128.c
	arch\win32\uic128model.c
	arch\win32\uic64burstmod.c
	arch\win32\uic64cart.c
	arch\win32\uic64dtv.c
	arch\win32\uic64dtvmodel.c
	arch\win32\uic64memoryhacks.c
	arch\win32\uic64model.c
	arch\win32\uicart.c
	arch\win32\uicbm2model.c
	arch\win32\uicbm5x0model.c
	arch\win32\uicbm2set.c
	arch\win32\uicbm5x0set.c
	arch\win32\uicia.c
	arch\win32\uicmdline.c
	arch\win32\uiconsole.c
	arch\win32\uicpclockf83.c
	arch\win32\uidatasette.c
	arch\win32\uidigimax.c
	arch\win32\uidqbb.c
	arch\win32\uidrivec128.c
	arch\win32\uidrivec64.c
	arch\win32\uidrivec64dtv.c
	arch\win32\uidrivepetcbm2.c
	arch\win32\uidriveplus4.c
	arch\win32\uidrivevic20.c
	arch\win32\uids12c887rtc.c
	arch\win32\uieasyflash.c
	arch\win32\uievent.c
	arch\win32\uiexpert.c
	arch\win32\uifliplist.c
	arch\win32\uigeoram.c
	arch\win32\uihelp.c
	arch\win32\uiide64.c
	arch\win32\uiiocollisions.c
	arch\win32\uiisepic.c
	arch\win32\uijoyport.c
	arch\win32\uijoystick.c
	arch\win32\uikeyboard.c
	arch\win32\uilib.c
	arch\win32\uimagicvoice.c
	arch\win32\uimediafile.c
	arch\win32\uimidi.c
	arch\win32\uimmc64.c
	arch\win32\uimmcreplay.c
	arch\win32\uimon.c
	arch\win32\uimouse.c
	arch\win32\uinetwork.c
	arch\win32\uiperipheral.c
	arch\win32\uipetcolour.c
	arch\win32\uipetdww.c
	arch\win32\uipetmodel.c
	arch\win32\uipetreu.c
	arch\win32\uipetset.c
	arch\win32\uiplus4cart.c
	arch\win32\uiplus4mem.c
	arch\win32\uiplus4memoryhacks.c
	arch\win32\uiplus4model.c
	arch\win32\uiquicksnapshot.c
	arch\win32\uiram.c
	arch\win32\uiramcart.c
	arch\win32\uiretroreplay.c
	arch\win32\uireu.c
	arch\win32\uirom.c
	arch\win32\uirrnetmk3.c
	arch\win32\uirs232.c
	arch\win32\uirs232user.c
	arch\win32\uisampler.c
	arch\win32\uiscpu64.c
	arch\win32\uiscpu64model.c
	arch\win32\uisid.c
	arch\win32\uisidcart.c
	arch\win32\uisiddtv.c
	arch\win32\uisnapshot.c
	arch\win32\uisound.c
	arch\win32\uisoundexpander.c
	arch\win32\uisoundsampler.c
	arch\win32\uispeed.c
	arch\win32\uitapelog.c
	arch\win32\uited.c
	arch\win32\uitfe.c
	arch\win32\uiuserportrtc58321a.c
	arch\win32\uiuserportrtcds1307.c
	arch\win32\uiv364speech.c
	arch\win32\uivic.c
	arch\win32\uivic20model.c
	arch\win32\uivicii.c
	arch\win32\uivicset.c
	arch\win32\uivideo.c
	arch\win32\vic20ui.c
	arch\win32\video-ddraw.c
	arch\win32\video-dx9.c
	arch\win32\video.c
	arch\win32\vsidui.c
	arch\win32\vsyncarch.c
	arch\win32\winmain.c

# custom source message
CUSTOMMSG = Generating res.h

# custom source file
CUSTOMSOURCE = ..\res.txt

# custom source deps, seperated by spaces
CUSTOMDEPS = ..\res.txt ..\resdialogs.txt ..\resmenu.txt ..\resstrings.txt

# custom source output
CUSTOMOUTPUT = ..\res.h

# custom source command
CUSTOMCOMMAND = ..\..\..\..\data\genwinres ..\res.h ..\menuid.h ..\stringid.h ..\res.txt ..\resdialogs.txt ..\resmenu.txt ..\resstrings.txt
