# name of the project
PROJECTNAME = avcodec-x86

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	lib\libffmpeg

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	lib\libffmpeg\libavcodec\x86\ac3dsp_init.c
	lib\libffmpeg\libavcodec\x86\audiodsp_init.c
	lib\libffmpeg\libavcodec\x86\blockdsp_init.c
	lib\libffmpeg\libavcodec\x86\bswapdsp_init.c
	lib\libffmpeg\libavcodec\x86\cavsdsp.c
	lib\libffmpeg\libavcodec\x86\dcadsp_init.c
	lib\libffmpeg\libavcodec\x86\dct_init.c
	lib\libffmpeg\libavcodec\x86\dnxhdenc_init.c
	lib\libffmpeg\libavcodec\x86\fdctdsp_init.c
	lib\libffmpeg\libavcodec\x86\fft_init.c
	lib\libffmpeg\libavcodec\x86\flacdsp_init.c
	lib\libffmpeg\libavcodec\x86\fmtconvert_init.c
	lib\libffmpeg\libavcodec\x86\h263dsp_init.c
	lib\libffmpeg\libavcodec\x86\h264_intrapred_init.c
	lib\libffmpeg\libavcodec\x86\h264chroma_init.c
	lib\libffmpeg\libavcodec\x86\h264dsp_init.c
	lib\libffmpeg\libavcodec\x86\h264_qpel.c
	lib\libffmpeg\libavcodec\x86\hevcdsp_init.c
	lib\libffmpeg\libavcodec\x86\hpeldsp_init.c
	lib\libffmpeg\libavcodec\x86\huffyuvdsp_init.c
	lib\libffmpeg\libavcodec\x86\huffyuvencdsp_mmx.c
	lib\libffmpeg\libavcodec\x86\idctdsp_init.c
	lib\libffmpeg\libavcodec\x86\lossless_audiodsp_init.c
	lib\libffmpeg\libavcodec\x86\lossless_videodsp_init.c
	lib\libffmpeg\libavcodec\x86\lpc.c
	lib\libffmpeg\libavcodec\x86\me_cmp_init.c
	lib\libffmpeg\libavcodec\x86\mlpdsp.c
	lib\libffmpeg\libavcodec\x86\mpegaudiodsp.c
	lib\libffmpeg\libavcodec\x86\mpegvideo.c
	lib\libffmpeg\libavcodec\x86\mpegvideodsp.c
	lib\libffmpeg\libavcodec\x86\mpegvideoenc.c
	lib\libffmpeg\libavcodec\x86\mpegvideoencdsp_init.c
	lib\libffmpeg\libavcodec\x86\pixblockdsp_init.c
	lib\libffmpeg\libavcodec\x86\proresdsp_init.c
	lib\libffmpeg\libavcodec\x86\qpeldsp_init.c
	lib\libffmpeg\libavcodec\x86\rv34dsp_init.c
	lib\libffmpeg\libavcodec\x86\rv40dsp_init.c
	lib\libffmpeg\libavcodec\x86\sbrdsp_init.c
	lib\libffmpeg\libavcodec\x86\svq1enc_init.c
	lib\libffmpeg\libavcodec\x86\ttadsp_init.c
	lib\libffmpeg\libavcodec\x86\vc1dsp_init.c
	lib\libffmpeg\libavcodec\x86\videodsp_init.c
	lib\libffmpeg\libavcodec\x86\vorbisdsp_init.c
	lib\libffmpeg\libavcodec\x86\vp3dsp_init.c
	lib\libffmpeg\libavcodec\x86\vp6dsp_init.c
	lib\libffmpeg\libavcodec\x86\vp8dsp_init.c
	lib\libffmpeg\libavcodec\x86\vp9dsp_init.c
	lib\libffmpeg\libavcodec\x86\xvididct_init.c
