# name of the project
PROJECTNAME = avcodec

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	lib\libffmpeg
	lib\liblame\include
	lib\libx264

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	lib\libffmpeg\libavcodec\012v.c
	lib\libffmpeg\libavcodec\4xm.c
	lib\libffmpeg\libavcodec\8bps.c
	lib\libffmpeg\libavcodec\8svx.c
	lib\libffmpeg\libavcodec\a64multienc.c
	lib\libffmpeg\libavcodec\aac_ac3_parser.c
	lib\libffmpeg\libavcodec\aac_adtstoasc_bsf.c
	lib\libffmpeg\libavcodec\aac_parser.c
	lib\libffmpeg\libavcodec\aacadtsdec.c
	lib\libffmpeg\libavcodec\aaccoder.c
	lib\libffmpeg\libavcodec\aacdec.c
	lib\libffmpeg\libavcodec\aacenc.c
	lib\libffmpeg\libavcodec\aacps.c
	lib\libffmpeg\libavcodec\aacpsdsp.c
	lib\libffmpeg\libavcodec\aacpsy.c
	lib\libffmpeg\libavcodec\aacsbr.c
	lib\libffmpeg\libavcodec\aactab.c
	lib\libffmpeg\libavcodec\aandcttab.c
	lib\libffmpeg\libavcodec\aasc.c
	lib\libffmpeg\libavcodec\ac3.c
	lib\libffmpeg\libavcodec\ac3_parser.c
	lib\libffmpeg\libavcodec\ac3dec_data.c
	lib\libffmpeg\libavcodec\ac3dec_fixed.c
	lib\libffmpeg\libavcodec\ac3dec_float.c
	lib\libffmpeg\libavcodec\ac3dsp.c
	lib\libffmpeg\libavcodec\ac3enc.c
	lib\libffmpeg\libavcodec\ac3enc_fixed.c
	lib\libffmpeg\libavcodec\ac3enc_float.c
	lib\libffmpeg\libavcodec\ac3tab.c
	lib\libffmpeg\libavcodec\acelp_filters.c
	lib\libffmpeg\libavcodec\acelp_pitch_delay.c
	lib\libffmpeg\libavcodec\acelp_vectors.c
	lib\libffmpeg\libavcodec\adpcm.c
	lib\libffmpeg\libavcodec\adpcm_data.c
	lib\libffmpeg\libavcodec\adpcmenc.c
	lib\libffmpeg\libavcodec\adx.c
	lib\libffmpeg\libavcodec\adx_parser.c
	lib\libffmpeg\libavcodec\adxdec.c
	lib\libffmpeg\libavcodec\adxenc.c
	lib\libffmpeg\libavcodec\aic.c
	lib\libffmpeg\libavcodec\alac.c
	lib\libffmpeg\libavcodec\alac_data.c
	lib\libffmpeg\libavcodec\alacenc.c
	lib\libffmpeg\libavcodec\aliaspixdec.c
	lib\libffmpeg\libavcodec\aliaspixenc.c
	lib\libffmpeg\libavcodec\allcodecs.c
	lib\libffmpeg\libavcodec\alsdec.c
	lib\libffmpeg\libavcodec\amrnbdec.c
	lib\libffmpeg\libavcodec\amrwbdec.c
	lib\libffmpeg\libavcodec\anm.c
	lib\libffmpeg\libavcodec\ansi.c
	lib\libffmpeg\libavcodec\apedec.c
	lib\libffmpeg\libavcodec\ass.c
	lib\libffmpeg\libavcodec\ass_split.c
	lib\libffmpeg\libavcodec\assdec.c
	lib\libffmpeg\libavcodec\assenc.c
	lib\libffmpeg\libavcodec\asv.c
	lib\libffmpeg\libavcodec\asvdec.c
	lib\libffmpeg\libavcodec\asvenc.c
	lib\libffmpeg\libavcodec\atrac.c
	lib\libffmpeg\libavcodec\atrac1.c
	lib\libffmpeg\libavcodec\atrac3.c
	lib\libffmpeg\libavcodec\atrac3plus.c
	lib\libffmpeg\libavcodec\atrac3plusdec.c
	lib\libffmpeg\libavcodec\atrac3plusdsp.c
	lib\libffmpeg\libavcodec\audio_frame_queue.c
	lib\libffmpeg\libavcodec\audioconvert.c
	lib\libffmpeg\libavcodec\audiodsp.c
	lib\libffmpeg\libavcodec\aura.c
	lib\libffmpeg\libavcodec\avdct.c
	lib\libffmpeg\libavcodec\avfft.c
	lib\libffmpeg\libavcodec\avpacket.c
	lib\libffmpeg\libavcodec\avpicture.c
	lib\libffmpeg\libavcodec\avrndec.c
	lib\libffmpeg\libavcodec\avs.c
	lib\libffmpeg\libavcodec\avuidec.c
	lib\libffmpeg\libavcodec\avuienc.c
	lib\libffmpeg\libavcodec\bethsoftvideo.c
	lib\libffmpeg\libavcodec\bfi.c
	lib\libffmpeg\libavcodec\bgmc.c
	lib\libffmpeg\libavcodec\bink.c
	lib\libffmpeg\libavcodec\binkaudio.c
	lib\libffmpeg\libavcodec\binkdsp.c
	lib\libffmpeg\libavcodec\bintext.c
	lib\libffmpeg\libavcodec\bitstream.c
	lib\libffmpeg\libavcodec\bitstream_filter.c
	lib\libffmpeg\libavcodec\blockdsp.c
	lib\libffmpeg\libavcodec\bmp.c
	lib\libffmpeg\libavcodec\bmp_parser.c
	lib\libffmpeg\libavcodec\bmpenc.c
	lib\libffmpeg\libavcodec\bmvaudio.c
	lib\libffmpeg\libavcodec\bmvvideo.c
	lib\libffmpeg\libavcodec\brenderpix.c
	lib\libffmpeg\libavcodec\bswapdsp.c
	lib\libffmpeg\libavcodec\c93.c
	lib\libffmpeg\libavcodec\cabac.c
	lib\libffmpeg\libavcodec\cavs.c
	lib\libffmpeg\libavcodec\cavs_parser.c
	lib\libffmpeg\libavcodec\cavsdata.c
	lib\libffmpeg\libavcodec\cavsdec.c
	lib\libffmpeg\libavcodec\cavsdsp.c
	lib\libffmpeg\libavcodec\cdgraphics.c
	lib\libffmpeg\libavcodec\cdxl.c
	lib\libffmpeg\libavcodec\celp_filters.c
	lib\libffmpeg\libavcodec\celp_math.c
	lib\libffmpeg\libavcodec\cga_data.c
	lib\libffmpeg\libavcodec\chomp_bsf.c
	lib\libffmpeg\libavcodec\cinepak.c
	lib\libffmpeg\libavcodec\cinepakenc.c
	lib\libffmpeg\libavcodec\cljrdec.c
	lib\libffmpeg\libavcodec\cljrenc.c
	lib\libffmpeg\libavcodec\cllc.c
	lib\libffmpeg\libavcodec\cngdec.c
	lib\libffmpeg\libavcodec\cngenc.c
	lib\libffmpeg\libavcodec\codec_desc.c
	lib\libffmpeg\libavcodec\cook.c
	lib\libffmpeg\libavcodec\cook_parser.c
	lib\libffmpeg\libavcodec\cpia.c
	lib\libffmpeg\libavcodec\cscd.c
	lib\libffmpeg\libavcodec\cyuv.c
	lib\libffmpeg\libavcodec\dca.c
	lib\libffmpeg\libavcodec\dca_parser.c
	lib\libffmpeg\libavcodec\dcadec.c
	lib\libffmpeg\libavcodec\dcadsp.c
	lib\libffmpeg\libavcodec\dcaenc.c
	lib\libffmpeg\libavcodec\dct.c
	lib\libffmpeg\libavcodec\dct32_fixed.c
	lib\libffmpeg\libavcodec\dct32_float.c
	lib\libffmpeg\libavcodec\dfa.c
	lib\libffmpeg\libavcodec\dirac.c
	lib\libffmpeg\libavcodec\dirac_arith.c
	lib\libffmpeg\libavcodec\dirac_dwt.c
	lib\libffmpeg\libavcodec\dirac_parser.c
	lib\libffmpeg\libavcodec\diracdec.c
	lib\libffmpeg\libavcodec\diracdsp.c
	lib\libffmpeg\libavcodec\dnxhd_parser.c
	lib\libffmpeg\libavcodec\dnxhddata.c
	lib\libffmpeg\libavcodec\dnxhddec.c
	lib\libffmpeg\libavcodec\dnxhdenc.c
	lib\libffmpeg\libavcodec\dpcm.c
	lib\libffmpeg\libavcodec\dpx.c
	lib\libffmpeg\libavcodec\dpx_parser.c
	lib\libffmpeg\libavcodec\dpxenc.c
	lib\libffmpeg\libavcodec\dsddec.c
	lib\libffmpeg\libavcodec\dsicinaudio.c
	lib\libffmpeg\libavcodec\dsicinvideo.c
	lib\libffmpeg\libavcodec\dsputil_compat.c
	lib\libffmpeg\libavcodec\dump_extradata_bsf.c
	lib\libffmpeg\libavcodec\dv.c
	lib\libffmpeg\libavcodec\dv_profile.c
	lib\libffmpeg\libavcodec\dvbsub.c
	lib\libffmpeg\libavcodec\dvbsub_parser.c
	lib\libffmpeg\libavcodec\dvbsubdec.c
	lib\libffmpeg\libavcodec\dvd_nav_parser.c
	lib\libffmpeg\libavcodec\dvdata.c
	lib\libffmpeg\libavcodec\dvdec.c
	lib\libffmpeg\libavcodec\dvdsub_parser.c
	lib\libffmpeg\libavcodec\dvdsubdec.c
	lib\libffmpeg\libavcodec\dvdsubenc.c
	lib\libffmpeg\libavcodec\dvenc.c
	lib\libffmpeg\libavcodec\dxtory.c
	lib\libffmpeg\libavcodec\eac3_data.c
	lib\libffmpeg\libavcodec\eac3dec.c
	lib\libffmpeg\libavcodec\eac3enc.c
	lib\libffmpeg\libavcodec\eacmv.c
	lib\libffmpeg\libavcodec\eaidct.c
	lib\libffmpeg\libavcodec\eamad.c
	lib\libffmpeg\libavcodec\eatgq.c
	lib\libffmpeg\libavcodec\eatgv.c
	lib\libffmpeg\libavcodec\eatqi.c
	lib\libffmpeg\libavcodec\elbg.c
	lib\libffmpeg\libavcodec\error_resilience.c
	lib\libffmpeg\libavcodec\escape124.c
	lib\libffmpeg\libavcodec\escape130.c
	lib\libffmpeg\libavcodec\evrcdec.c
	lib\libffmpeg\libavcodec\exif.c
	lib\libffmpeg\libavcodec\faandct.c
	lib\libffmpeg\libavcodec\faanidct.c
	lib\libffmpeg\libavcodec\faxcompr.c
	lib\libffmpeg\libavcodec\fdctdsp.c
	lib\libffmpeg\libavcodec\fft_fixed.c
	lib\libffmpeg\libavcodec\fft_fixed_32.c
	lib\libffmpeg\libavcodec\fft_float.c
	lib\libffmpeg\libavcodec\fft_init_table.c
	lib\libffmpeg\libavcodec\ffv1.c
	lib\libffmpeg\libavcodec\ffv1dec.c
	lib\libffmpeg\libavcodec\ffv1enc.c
	lib\libffmpeg\libavcodec\ffwavesynth.c
	lib\libffmpeg\libavcodec\fic.c
	lib\libffmpeg\libavcodec\flac.c
	lib\libffmpeg\libavcodec\flac_parser.c
	lib\libffmpeg\libavcodec\flacdata.c
	lib\libffmpeg\libavcodec\flacdec.c
	lib\libffmpeg\libavcodec\flacdsp.c
	lib\libffmpeg\libavcodec\flacenc.c
	lib\libffmpeg\libavcodec\flicvideo.c
	lib\libffmpeg\libavcodec\flvdec.c
	lib\libffmpeg\libavcodec\flvenc.c
	lib\libffmpeg\libavcodec\fmtconvert.c
	lib\libffmpeg\libavcodec\frame_thread_encoder.c
	lib\libffmpeg\libavcodec\fraps.c
	lib\libffmpeg\libavcodec\frwu.c
	lib\libffmpeg\libavcodec\g722.c
	lib\libffmpeg\libavcodec\g722dec.c
	lib\libffmpeg\libavcodec\g722enc.c
	lib\libffmpeg\libavcodec\g723_1.c
	lib\libffmpeg\libavcodec\g726.c
	lib\libffmpeg\libavcodec\g729dec.c
	lib\libffmpeg\libavcodec\g729postfilter.c
	lib\libffmpeg\libavcodec\gif.c
	lib\libffmpeg\libavcodec\gifdec.c
	lib\libffmpeg\libavcodec\golomb.c
	lib\libffmpeg\libavcodec\gsm_parser.c
	lib\libffmpeg\libavcodec\gsmdec.c
	lib\libffmpeg\libavcodec\gsmdec_data.c
	lib\libffmpeg\libavcodec\h261.c
	lib\libffmpeg\libavcodec\h261_parser.c
	lib\libffmpeg\libavcodec\h261data.c
	lib\libffmpeg\libavcodec\h261dec.c
	lib\libffmpeg\libavcodec\h261enc.c
	lib\libffmpeg\libavcodec\h263.c
	lib\libffmpeg\libavcodec\h263_parser.c
	lib\libffmpeg\libavcodec\h263dec.c
	lib\libffmpeg\libavcodec\h263dsp.c
	lib\libffmpeg\libavcodec\h264.c
	lib\libffmpeg\libavcodec\h264_cabac.c
	lib\libffmpeg\libavcodec\h264_cavlc.c
	lib\libffmpeg\libavcodec\h264_direct.c
	lib\libffmpeg\libavcodec\h264_loopfilter.c
	lib\libffmpeg\libavcodec\h264_mb.c
	lib\libffmpeg\libavcodec\h264_mp4toannexb_bsf.c
	lib\libffmpeg\libavcodec\h264_parser.c
	lib\libffmpeg\libavcodec\h264_picture.c
	lib\libffmpeg\libavcodec\h264_ps.c
	lib\libffmpeg\libavcodec\h264_refs.c
	lib\libffmpeg\libavcodec\h264_sei.c
	lib\libffmpeg\libavcodec\h264_slice.c
	lib\libffmpeg\libavcodec\h264chroma.c
	lib\libffmpeg\libavcodec\h264dsp.c
	lib\libffmpeg\libavcodec\h264idct.c
	lib\libffmpeg\libavcodec\h264pred.c
	lib\libffmpeg\libavcodec\h264qpel.c
	lib\libffmpeg\libavcodec\hevc.c
	lib\libffmpeg\libavcodec\hevc_cabac.c
	lib\libffmpeg\libavcodec\hevc_filter.c
	lib\libffmpeg\libavcodec\hevc_mvs.c
	lib\libffmpeg\libavcodec\hevc_parser.c
	lib\libffmpeg\libavcodec\hevc_ps.c
	lib\libffmpeg\libavcodec\hevc_refs.c
	lib\libffmpeg\libavcodec\hevc_sei.c
	lib\libffmpeg\libavcodec\hevcdsp.c
	lib\libffmpeg\libavcodec\hevcpred.c
	lib\libffmpeg\libavcodec\hnm4video.c
	lib\libffmpeg\libavcodec\hpeldsp.c
	lib\libffmpeg\libavcodec\huffman.c
	lib\libffmpeg\libavcodec\huffyuv.c
	lib\libffmpeg\libavcodec\huffyuvdec.c
	lib\libffmpeg\libavcodec\huffyuvdsp.c
	lib\libffmpeg\libavcodec\huffyuvenc.c
	lib\libffmpeg\libavcodec\huffyuvencdsp.c
	lib\libffmpeg\libavcodec\idcinvideo.c
	lib\libffmpeg\libavcodec\idctdsp.c
	lib\libffmpeg\libavcodec\iff.c
	lib\libffmpeg\libavcodec\iirfilter.c
	lib\libffmpeg\libavcodec\imc.c
	lib\libffmpeg\libavcodec\imgconvert.c
	lib\libffmpeg\libavcodec\imx_dump_header_bsf.c
	lib\libffmpeg\libavcodec\indeo2.c
	lib\libffmpeg\libavcodec\indeo3.c
	lib\libffmpeg\libavcodec\indeo4.c
	lib\libffmpeg\libavcodec\indeo5.c
	lib\libffmpeg\libavcodec\intelh263dec.c
	lib\libffmpeg\libavcodec\interplayvideo.c
	lib\libffmpeg\libavcodec\intrax8.c
	lib\libffmpeg\libavcodec\intrax8dsp.c
	lib\libffmpeg\libavcodec\ituh263dec.c
	lib\libffmpeg\libavcodec\ituh263enc.c
	lib\libffmpeg\libavcodec\ivi_common.c
	lib\libffmpeg\libavcodec\ivi_dsp.c
	lib\libffmpeg\libavcodec\j2kenc.c
	lib\libffmpeg\libavcodec\jacosubdec.c
	lib\libffmpeg\libavcodec\jfdctfst.c
	lib\libffmpeg\libavcodec\jfdctint.c
	lib\libffmpeg\libavcodec\jpeg2000.c
	lib\libffmpeg\libavcodec\jpeg2000dec.c
	lib\libffmpeg\libavcodec\jpeg2000dwt.c
	lib\libffmpeg\libavcodec\jpegls.c
	lib\libffmpeg\libavcodec\jpeglsdec.c
	lib\libffmpeg\libavcodec\jpeglsenc.c
	lib\libffmpeg\libavcodec\jrevdct.c
	lib\libffmpeg\libavcodec\jvdec.c
	lib\libffmpeg\libavcodec\kbdwin.c
	lib\libffmpeg\libavcodec\kgv1dec.c
	lib\libffmpeg\libavcodec\kmvc.c
	lib\libffmpeg\libavcodec\lagarith.c
	lib\libffmpeg\libavcodec\lagarithrac.c
	lib\libffmpeg\libavcodec\latm_parser.c
	lib\libffmpeg\libavcodec\lcldec.c
	lib\libffmpeg\libavcodec\libmp3lame.c
	lib\libffmpeg\libavcodec\libx264.c
	lib\libffmpeg\libavcodec\ljpegenc.c
	lib\libffmpeg\libavcodec\loco.c
	lib\libffmpeg\libavcodec\lossless_audiodsp.c
	lib\libffmpeg\libavcodec\lossless_videodsp.c
	lib\libffmpeg\libavcodec\lpc.c
	lib\libffmpeg\libavcodec\lsp.c
	lib\libffmpeg\libavcodec\lzw.c
	lib\libffmpeg\libavcodec\lzwenc.c
	lib\libffmpeg\libavcodec\mace.c
	lib\libffmpeg\libavcodec\mathtables.c
	lib\libffmpeg\libavcodec\mdct_fixed.c
	lib\libffmpeg\libavcodec\mdct_fixed_32.c
	lib\libffmpeg\libavcodec\mdct_float.c
	lib\libffmpeg\libavcodec\mdec.c
	lib\libffmpeg\libavcodec\me_cmp.c
	lib\libffmpeg\libavcodec\metasound.c
	lib\libffmpeg\libavcodec\metasound_data.c
	lib\libffmpeg\libavcodec\microdvddec.c
	lib\libffmpeg\libavcodec\mimic.c
	lib\libffmpeg\libavcodec\mjpeg.c
	lib\libffmpeg\libavcodec\mjpeg2jpeg_bsf.c
	lib\libffmpeg\libavcodec\mjpeg_parser.c
	lib\libffmpeg\libavcodec\mjpega_dump_header_bsf.c
	lib\libffmpeg\libavcodec\mjpegbdec.c
	lib\libffmpeg\libavcodec\mjpegdec.c
	lib\libffmpeg\libavcodec\mjpegenc.c
	lib\libffmpeg\libavcodec\mjpegenc_common.c
	lib\libffmpeg\libavcodec\mlp.c
	lib\libffmpeg\libavcodec\mlp_parser.c
	lib\libffmpeg\libavcodec\mlpdec.c
	lib\libffmpeg\libavcodec\mlpdsp.c
	lib\libffmpeg\libavcodec\mmvideo.c
	lib\libffmpeg\libavcodec\motion_est.c
	lib\libffmpeg\libavcodec\motionpixels.c
	lib\libffmpeg\libavcodec\movsub_bsf.c
	lib\libffmpeg\libavcodec\movtextdec.c
	lib\libffmpeg\libavcodec\movtextenc.c
	lib\libffmpeg\libavcodec\mp3_header_decompress_bsf.c
	lib\libffmpeg\libavcodec\mpc.c
	lib\libffmpeg\libavcodec\mpc7.c
	lib\libffmpeg\libavcodec\mpc8.c
	lib\libffmpeg\libavcodec\mpeg12.c
	lib\libffmpeg\libavcodec\mpeg12data.c
	lib\libffmpeg\libavcodec\mpeg12dec.c
	lib\libffmpeg\libavcodec\mpeg12enc.c
	lib\libffmpeg\libavcodec\mpeg4audio.c
	lib\libffmpeg\libavcodec\mpeg4video.c
	lib\libffmpeg\libavcodec\mpeg4video_parser.c
	lib\libffmpeg\libavcodec\mpeg4videodec.c
	lib\libffmpeg\libavcodec\mpeg4videoenc.c
	lib\libffmpeg\libavcodec\mpeg_er.c
	lib\libffmpeg\libavcodec\mpegaudio.c
	lib\libffmpeg\libavcodec\mpegaudio_parser.c
	lib\libffmpeg\libavcodec\mpegaudiodata.c
	lib\libffmpeg\libavcodec\mpegaudiodec_fixed.c
	lib\libffmpeg\libavcodec\mpegaudiodec_float.c
	lib\libffmpeg\libavcodec\mpegaudiodecheader.c
	lib\libffmpeg\libavcodec\mpegaudiodsp.c
	lib\libffmpeg\libavcodec\mpegaudiodsp_data.c
	lib\libffmpeg\libavcodec\mpegaudiodsp_fixed.c
	lib\libffmpeg\libavcodec\mpegaudiodsp_float.c
	lib\libffmpeg\libavcodec\mpegaudioenc_fixed.c
	lib\libffmpeg\libavcodec\mpegaudioenc_float.c
	lib\libffmpeg\libavcodec\mpegutils.c
	lib\libffmpeg\libavcodec\mpegvideo.c
	lib\libffmpeg\libavcodec\mpegvideo_enc.c
	lib\libffmpeg\libavcodec\mpegvideo_motion.c
	lib\libffmpeg\libavcodec\mpegvideo_parser.c
	lib\libffmpeg\libavcodec\mpegvideodsp.c
	lib\libffmpeg\libavcodec\mpegvideoencdsp.c
	lib\libffmpeg\libavcodec\mpl2dec.c
	lib\libffmpeg\libavcodec\mqc.c
	lib\libffmpeg\libavcodec\mqcdec.c
	lib\libffmpeg\libavcodec\mqcenc.c
	lib\libffmpeg\libavcodec\msgsmdec.c
	lib\libffmpeg\libavcodec\msmpeg4.c
	lib\libffmpeg\libavcodec\msmpeg4data.c
	lib\libffmpeg\libavcodec\msmpeg4dec.c
	lib\libffmpeg\libavcodec\msmpeg4enc.c
	lib\libffmpeg\libavcodec\msrle.c
	lib\libffmpeg\libavcodec\msrledec.c
	lib\libffmpeg\libavcodec\mss1.c
	lib\libffmpeg\libavcodec\mss12.c
	lib\libffmpeg\libavcodec\mss2.c
	lib\libffmpeg\libavcodec\mss2dsp.c
	lib\libffmpeg\libavcodec\mss3.c
	lib\libffmpeg\libavcodec\mss34dsp.c
	lib\libffmpeg\libavcodec\mss4.c
	lib\libffmpeg\libavcodec\msvideo1.c
	lib\libffmpeg\libavcodec\msvideo1enc.c
	lib\libffmpeg\libavcodec\mvcdec.c
	lib\libffmpeg\libavcodec\mxpegdec.c
	lib\libffmpeg\libavcodec\nellymoser.c
	lib\libffmpeg\libavcodec\nellymoserdec.c
	lib\libffmpeg\libavcodec\nellymoserenc.c
	lib\libffmpeg\libavcodec\noise_bsf.c
	lib\libffmpeg\libavcodec\nuv.c
	lib\libffmpeg\libavcodec\on2avc.c
	lib\libffmpeg\libavcodec\on2avcdata.c
	lib\libffmpeg\libavcodec\options.c
	lib\libffmpeg\libavcodec\opus.c
	lib\libffmpeg\libavcodec\opus_celt.c
	lib\libffmpeg\libavcodec\opus_imdct.c
	lib\libffmpeg\libavcodec\opus_parser.c
	lib\libffmpeg\libavcodec\opus_silk.c
	lib\libffmpeg\libavcodec\opusdec.c
	lib\libffmpeg\libavcodec\pafaudio.c
	lib\libffmpeg\libavcodec\pafvideo.c
	lib\libffmpeg\libavcodec\pamenc.c
	lib\libffmpeg\libavcodec\parser.c
	lib\libffmpeg\libavcodec\pcm-bluray.c
	lib\libffmpeg\libavcodec\pcm-dvd.c
	lib\libffmpeg\libavcodec\pcm.c
	lib\libffmpeg\libavcodec\pcx.c
	lib\libffmpeg\libavcodec\pcxenc.c
	lib\libffmpeg\libavcodec\pgssubdec.c
	lib\libffmpeg\libavcodec\pictordec.c
	lib\libffmpeg\libavcodec\pixblockdsp.c
	lib\libffmpeg\libavcodec\png_parser.c
	lib\libffmpeg\libavcodec\pnm.c
	lib\libffmpeg\libavcodec\pnm_parser.c
	lib\libffmpeg\libavcodec\pnmdec.c
	lib\libffmpeg\libavcodec\pnmenc.c
	lib\libffmpeg\libavcodec\proresdata.c
	lib\libffmpeg\libavcodec\proresdec2.c
	lib\libffmpeg\libavcodec\proresdec_lgpl.c
	lib\libffmpeg\libavcodec\proresdsp.c
	lib\libffmpeg\libavcodec\proresenc_anatoliy.c
	lib\libffmpeg\libavcodec\proresenc_kostya.c
	lib\libffmpeg\libavcodec\psymodel.c
	lib\libffmpeg\libavcodec\pthread.c
	lib\libffmpeg\libavcodec\pthread_frame.c
	lib\libffmpeg\libavcodec\pthread_slice.c
	lib\libffmpeg\libavcodec\ptx.c
	lib\libffmpeg\libavcodec\qcelpdec.c
	lib\libffmpeg\libavcodec\qdm2.c
	lib\libffmpeg\libavcodec\qdrw.c
	lib\libffmpeg\libavcodec\qpeg.c
	lib\libffmpeg\libavcodec\qpeldsp.c
	lib\libffmpeg\libavcodec\qtrle.c
	lib\libffmpeg\libavcodec\qtrleenc.c
	lib\libffmpeg\libavcodec\r210dec.c
	lib\libffmpeg\libavcodec\r210enc.c
	lib\libffmpeg\libavcodec\ra144.c
	lib\libffmpeg\libavcodec\ra144dec.c
	lib\libffmpeg\libavcodec\ra144enc.c
	lib\libffmpeg\libavcodec\ra288.c
	lib\libffmpeg\libavcodec\ralf.c
	lib\libffmpeg\libavcodec\rangecoder.c
	lib\libffmpeg\libavcodec\ratecontrol.c
	lib\libffmpeg\libavcodec\raw.c
	lib\libffmpeg\libavcodec\rawdec.c
	lib\libffmpeg\libavcodec\rawenc.c
	lib\libffmpeg\libavcodec\rdft.c
	lib\libffmpeg\libavcodec\realtextdec.c
	lib\libffmpeg\libavcodec\remove_extradata_bsf.c
	lib\libffmpeg\libavcodec\resample.c
	lib\libffmpeg\libavcodec\resample2.c
	lib\libffmpeg\libavcodec\rl2.c
	lib\libffmpeg\libavcodec\rle.c
	lib\libffmpeg\libavcodec\roqaudioenc.c
	lib\libffmpeg\libavcodec\roqvideo.c
	lib\libffmpeg\libavcodec\roqvideodec.c
	lib\libffmpeg\libavcodec\roqvideoenc.c
	lib\libffmpeg\libavcodec\rpza.c
	lib\libffmpeg\libavcodec\rtjpeg.c
	lib\libffmpeg\libavcodec\rv10.c
	lib\libffmpeg\libavcodec\rv10enc.c
	lib\libffmpeg\libavcodec\rv20enc.c
	lib\libffmpeg\libavcodec\rv30.c
	lib\libffmpeg\libavcodec\rv30dsp.c
	lib\libffmpeg\libavcodec\rv34.c
	lib\libffmpeg\libavcodec\rv34_parser.c
	lib\libffmpeg\libavcodec\rv34dsp.c
	lib\libffmpeg\libavcodec\rv40.c
	lib\libffmpeg\libavcodec\rv40dsp.c
	lib\libffmpeg\libavcodec\s302m.c
	lib\libffmpeg\libavcodec\s302menc.c
	lib\libffmpeg\libavcodec\s3tc.c
	lib\libffmpeg\libavcodec\samidec.c
	lib\libffmpeg\libavcodec\sanm.c
	lib\libffmpeg\libavcodec\sbrdsp.c
	lib\libffmpeg\libavcodec\sgidec.c
	lib\libffmpeg\libavcodec\sgienc.c
	lib\libffmpeg\libavcodec\sgirledec.c
	lib\libffmpeg\libavcodec\shorten.c
	lib\libffmpeg\libavcodec\simple_idct.c
	lib\libffmpeg\libavcodec\sinewin.c
	lib\libffmpeg\libavcodec\sipr.c
	lib\libffmpeg\libavcodec\sipr16k.c
	lib\libffmpeg\libavcodec\smacker.c
	lib\libffmpeg\libavcodec\smc.c
	lib\libffmpeg\libavcodec\smvjpegdec.c
	lib\libffmpeg\libavcodec\snow.c
	lib\libffmpeg\libavcodec\snow_dwt.c
	lib\libffmpeg\libavcodec\snowdec.c
	lib\libffmpeg\libavcodec\snowenc.c
	lib\libffmpeg\libavcodec\sonic.c
	lib\libffmpeg\libavcodec\sp5xdec.c
	lib\libffmpeg\libavcodec\srtdec.c
	lib\libffmpeg\libavcodec\srtenc.c
	lib\libffmpeg\libavcodec\startcode.c
	lib\libffmpeg\libavcodec\subviewerdec.c
	lib\libffmpeg\libavcodec\sunrast.c
	lib\libffmpeg\libavcodec\sunrastenc.c
	lib\libffmpeg\libavcodec\svq1.c
	lib\libffmpeg\libavcodec\svq13.c
	lib\libffmpeg\libavcodec\svq1dec.c
	lib\libffmpeg\libavcodec\svq1enc.c
	lib\libffmpeg\libavcodec\svq3.c
	lib\libffmpeg\libavcodec\synth_filter.c
	lib\libffmpeg\libavcodec\tak.c
	lib\libffmpeg\libavcodec\tak_parser.c
	lib\libffmpeg\libavcodec\takdec.c
	lib\libffmpeg\libavcodec\targa.c
	lib\libffmpeg\libavcodec\targa_y216dec.c
	lib\libffmpeg\libavcodec\targaenc.c
	lib\libffmpeg\libavcodec\textdec.c
	lib\libffmpeg\libavcodec\tiertexseqv.c
	lib\libffmpeg\libavcodec\tiff.c
	lib\libffmpeg\libavcodec\tiff_common.c
	lib\libffmpeg\libavcodec\tiff_data.c
	lib\libffmpeg\libavcodec\tiffenc.c
	lib\libffmpeg\libavcodec\tmv.c
	lib\libffmpeg\libavcodec\tpeldsp.c
	lib\libffmpeg\libavcodec\truemotion1.c
	lib\libffmpeg\libavcodec\truemotion2.c
	lib\libffmpeg\libavcodec\truespeech.c
	lib\libffmpeg\libavcodec\tscc2.c
	lib\libffmpeg\libavcodec\tta.c
	lib\libffmpeg\libavcodec\ttadata.c
	lib\libffmpeg\libavcodec\ttadsp.c
	lib\libffmpeg\libavcodec\ttaenc.c
	lib\libffmpeg\libavcodec\twinvq.c
	lib\libffmpeg\libavcodec\twinvqdec.c
	lib\libffmpeg\libavcodec\txd.c
	lib\libffmpeg\libavcodec\ulti.c
	lib\libffmpeg\libavcodec\utils.c
	lib\libffmpeg\libavcodec\utvideo.c
	lib\libffmpeg\libavcodec\utvideodec.c
	lib\libffmpeg\libavcodec\utvideoenc.c
	lib\libffmpeg\libavcodec\v210dec.c
	lib\libffmpeg\libavcodec\v210enc.c
	lib\libffmpeg\libavcodec\v210x.c
	lib\libffmpeg\libavcodec\v308dec.c
	lib\libffmpeg\libavcodec\v308enc.c
	lib\libffmpeg\libavcodec\v408dec.c
	lib\libffmpeg\libavcodec\v408enc.c
	lib\libffmpeg\libavcodec\v410dec.c
	lib\libffmpeg\libavcodec\v410enc.c
	lib\libffmpeg\libavcodec\vb.c
	lib\libffmpeg\libavcodec\vble.c
	lib\libffmpeg\libavcodec\vc1.c
	lib\libffmpeg\libavcodec\vc1_parser.c
	lib\libffmpeg\libavcodec\vc1data.c
	lib\libffmpeg\libavcodec\vc1dec.c
	lib\libffmpeg\libavcodec\vc1dsp.c
	lib\libffmpeg\libavcodec\vcr1.c
	lib\libffmpeg\libavcodec\videodsp.c
	lib\libffmpeg\libavcodec\vima.c
	lib\libffmpeg\libavcodec\vmdaudio.c
	lib\libffmpeg\libavcodec\vmdvideo.c
	lib\libffmpeg\libavcodec\vmnc.c
	lib\libffmpeg\libavcodec\vorbis.c
	lib\libffmpeg\libavcodec\vorbis_data.c
	lib\libffmpeg\libavcodec\vorbis_parser.c
	lib\libffmpeg\libavcodec\vorbisdec.c
	lib\libffmpeg\libavcodec\vorbisdsp.c
	lib\libffmpeg\libavcodec\vorbisenc.c
	lib\libffmpeg\libavcodec\vp3.c
	lib\libffmpeg\libavcodec\vp3_parser.c
	lib\libffmpeg\libavcodec\vp3dsp.c
	lib\libffmpeg\libavcodec\vp5.c
	lib\libffmpeg\libavcodec\vp56.c
	lib\libffmpeg\libavcodec\vp56data.c
	lib\libffmpeg\libavcodec\vp56dsp.c
	lib\libffmpeg\libavcodec\vp56rac.c
	lib\libffmpeg\libavcodec\vp6.c
	lib\libffmpeg\libavcodec\vp6dsp.c
	lib\libffmpeg\libavcodec\vp8.c
	lib\libffmpeg\libavcodec\vp8_parser.c
	lib\libffmpeg\libavcodec\vp8dsp.c
	lib\libffmpeg\libavcodec\vp9.c
	lib\libffmpeg\libavcodec\vp9_parser.c
	lib\libffmpeg\libavcodec\vp9dsp.c
	lib\libffmpeg\libavcodec\vqavideo.c
	lib\libffmpeg\libavcodec\wavpack.c
	lib\libffmpeg\libavcodec\wavpackenc.c
	lib\libffmpeg\libavcodec\webp.c
	lib\libffmpeg\libavcodec\webvttdec.c
	lib\libffmpeg\libavcodec\webvttenc.c
	lib\libffmpeg\libavcodec\wma.c
	lib\libffmpeg\libavcodec\wma_common.c
	lib\libffmpeg\libavcodec\wma_freqs.c
	lib\libffmpeg\libavcodec\wmadec.c
	lib\libffmpeg\libavcodec\wmaenc.c
	lib\libffmpeg\libavcodec\wmalosslessdec.c
	lib\libffmpeg\libavcodec\wmaprodec.c
	lib\libffmpeg\libavcodec\wmavoice.c
	lib\libffmpeg\libavcodec\wmv2.c
	lib\libffmpeg\libavcodec\wmv2dec.c
	lib\libffmpeg\libavcodec\wmv2dsp.c
	lib\libffmpeg\libavcodec\wmv2enc.c
	lib\libffmpeg\libavcodec\wnv1.c
	lib\libffmpeg\libavcodec\ws-snd1.c
	lib\libffmpeg\libavcodec\xan.c
	lib\libffmpeg\libavcodec\xbmdec.c
	lib\libffmpeg\libavcodec\xbmenc.c
	lib\libffmpeg\libavcodec\xface.c
	lib\libffmpeg\libavcodec\xfacedec.c
	lib\libffmpeg\libavcodec\xfaceenc.c
	lib\libffmpeg\libavcodec\xiph.c
	lib\libffmpeg\libavcodec\xl.c
	lib\libffmpeg\libavcodec\xsubdec.c
	lib\libffmpeg\libavcodec\xsubenc.c
	lib\libffmpeg\libavcodec\xvididct.c
	lib\libffmpeg\libavcodec\xwddec.c
	lib\libffmpeg\libavcodec\xwdenc.c
	lib\libffmpeg\libavcodec\xxan.c
	lib\libffmpeg\libavcodec\y41pdec.c
	lib\libffmpeg\libavcodec\y41penc.c
	lib\libffmpeg\libavcodec\yop.c
	lib\libffmpeg\libavcodec\yuv4dec.c
	lib\libffmpeg\libavcodec\yuv4enc.c
