# name of the project
PROJECTNAME = avfilter

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	lib\libffmpeg

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	lib\libffmpeg\libavfilter\aeval.c
	lib\libffmpeg\libavfilter\af_aconvert.c
	lib\libffmpeg\libavfilter\af_adelay.c
	lib\libffmpeg\libavfilter\af_aecho.c
	lib\libffmpeg\libavfilter\af_afade.c
	lib\libffmpeg\libavfilter\af_aformat.c
	lib\libffmpeg\libavfilter\af_amerge.c
	lib\libffmpeg\libavfilter\af_amix.c
	lib\libffmpeg\libavfilter\af_anull.c
	lib\libffmpeg\libavfilter\af_apad.c
	lib\libffmpeg\libavfilter\af_aphaser.c
	lib\libffmpeg\libavfilter\af_aresample.c
	lib\libffmpeg\libavfilter\af_asetnsamples.c
	lib\libffmpeg\libavfilter\af_asetrate.c
	lib\libffmpeg\libavfilter\af_ashowinfo.c
	lib\libffmpeg\libavfilter\af_astats.c
	lib\libffmpeg\libavfilter\af_astreamsync.c
	lib\libffmpeg\libavfilter\af_atempo.c
	lib\libffmpeg\libavfilter\af_biquads.c
	lib\libffmpeg\libavfilter\af_channelmap.c
	lib\libffmpeg\libavfilter\af_channelsplit.c
	lib\libffmpeg\libavfilter\af_compand.c
	lib\libffmpeg\libavfilter\af_earwax.c
	lib\libffmpeg\libavfilter\af_flanger.c
	lib\libffmpeg\libavfilter\af_join.c
	lib\libffmpeg\libavfilter\af_pan.c
	lib\libffmpeg\libavfilter\af_replaygain.c
	lib\libffmpeg\libavfilter\af_silencedetect.c
	lib\libffmpeg\libavfilter\af_silenceremove.c
	lib\libffmpeg\libavfilter\af_volume.c
	lib\libffmpeg\libavfilter\af_volumedetect.c
	lib\libffmpeg\libavfilter\allfilters.c
	lib\libffmpeg\libavfilter\asink_anullsink.c
	lib\libffmpeg\libavfilter\asrc_anullsrc.c
	lib\libffmpeg\libavfilter\asrc_sine.c
	lib\libffmpeg\libavfilter\audio.c
	lib\libffmpeg\libavfilter\avcodec.c
	lib\libffmpeg\libavfilter\avf_avectorscope.c
	lib\libffmpeg\libavfilter\avf_concat.c
	lib\libffmpeg\libavfilter\avf_showcqt.c
	lib\libffmpeg\libavfilter\avf_showspectrum.c
	lib\libffmpeg\libavfilter\avf_showwaves.c
	lib\libffmpeg\libavfilter\avfilter.c
	lib\libffmpeg\libavfilter\avfiltergraph.c
	lib\libffmpeg\libavfilter\bbox.c
	lib\libffmpeg\libavfilter\buffer.c
	lib\libffmpeg\libavfilter\buffersink.c
	lib\libffmpeg\libavfilter\buffersrc.c
	lib\libffmpeg\libavfilter\drawutils.c
	lib\libffmpeg\libavfilter\dualinput.c
	lib\libffmpeg\libavfilter\f_ebur128.c
	lib\libffmpeg\libavfilter\f_interleave.c
	lib\libffmpeg\libavfilter\f_perms.c
	lib\libffmpeg\libavfilter\f_select.c
	lib\libffmpeg\libavfilter\f_sendcmd.c
	lib\libffmpeg\libavfilter\fifo.c
	lib\libffmpeg\libavfilter\formats.c
	lib\libffmpeg\libavfilter\framesync.c
	lib\libffmpeg\libavfilter\generate_wave_table.c
	lib\libffmpeg\libavfilter\graphdump.c
	lib\libffmpeg\libavfilter\graphparser.c
	lib\libffmpeg\libavfilter\lavfutils.c
	lib\libffmpeg\libavfilter\libmpcodecs\\img_format.c
	lib\libffmpeg\libavfilter\libmpcodecs\\mp_image.c
	lib\libffmpeg\libavfilter\libmpcodecs\vf_eq.c
	lib\libffmpeg\libavfilter\libmpcodecs\vf_eq2.c
	lib\libffmpeg\libavfilter\libmpcodecs\vf_fspp.c
	lib\libffmpeg\libavfilter\libmpcodecs\vf_ilpack.c
	lib\libffmpeg\libavfilter\libmpcodecs\vf_pp7.c
	lib\libffmpeg\libavfilter\libmpcodecs\vf_softpulldown.c
	lib\libffmpeg\libavfilter\libmpcodecs\vf_uspp.c
	lib\libffmpeg\libavfilter\lswsutils.c
	lib\libffmpeg\libavfilter\opencl_allkernels.c
	lib\libffmpeg\libavfilter\pthread.c
	lib\libffmpeg\libavfilter\setpts.c
	lib\libffmpeg\libavfilter\settb.c
	lib\libffmpeg\libavfilter\split.c
	lib\libffmpeg\libavfilter\src_movie.c
	lib\libffmpeg\libavfilter\transform.c
	lib\libffmpeg\libavfilter\trim.c
	lib\libffmpeg\libavfilter\vf_alphamerge.c
	lib\libffmpeg\libavfilter\vf_aspect.c
	lib\libffmpeg\libavfilter\vf_bbox.c
	lib\libffmpeg\libavfilter\vf_blackdetect.c
	lib\libffmpeg\libavfilter\vf_blackframe.c
	lib\libffmpeg\libavfilter\vf_blend.c
	lib\libffmpeg\libavfilter\vf_boxblur.c
	lib\libffmpeg\libavfilter\vf_codecview.c
	lib\libffmpeg\libavfilter\vf_colorbalance.c
	lib\libffmpeg\libavfilter\vf_colorchannelmixer.c
	lib\libffmpeg\libavfilter\vf_colormatrix.c
	lib\libffmpeg\libavfilter\vf_copy.c
	lib\libffmpeg\libavfilter\vf_crop.c
	lib\libffmpeg\libavfilter\vf_cropdetect.c
	lib\libffmpeg\libavfilter\vf_curves.c
	lib\libffmpeg\libavfilter\vf_dctdnoiz.c
	lib\libffmpeg\libavfilter\vf_decimate.c
	lib\libffmpeg\libavfilter\vf_dejudder.c
	lib\libffmpeg\libavfilter\vf_delogo.c
	lib\libffmpeg\libavfilter\vf_deshake.c
	lib\libffmpeg\libavfilter\vf_drawbox.c
	lib\libffmpeg\libavfilter\vf_edgedetect.c
	lib\libffmpeg\libavfilter\vf_elbg.c
	lib\libffmpeg\libavfilter\vf_extractplanes.c
	lib\libffmpeg\libavfilter\vf_fade.c
	lib\libffmpeg\libavfilter\vf_field.c
	lib\libffmpeg\libavfilter\vf_fieldmatch.c
	lib\libffmpeg\libavfilter\vf_fieldorder.c
	lib\libffmpeg\libavfilter\vf_format.c
	lib\libffmpeg\libavfilter\vf_fps.c
	lib\libffmpeg\libavfilter\vf_framepack.c
	lib\libffmpeg\libavfilter\vf_framestep.c
	lib\libffmpeg\libavfilter\vf_geq.c
	lib\libffmpeg\libavfilter\vf_gradfun.c
	lib\libffmpeg\libavfilter\vf_hflip.c
	lib\libffmpeg\libavfilter\vf_histeq.c
	lib\libffmpeg\libavfilter\vf_histogram.c
	lib\libffmpeg\libavfilter\vf_hqdn3d.c
	lib\libffmpeg\libavfilter\vf_hqx.c
	lib\libffmpeg\libavfilter\vf_hue.c
	lib\libffmpeg\libavfilter\vf_idet.c
	lib\libffmpeg\libavfilter\vf_il.c
	lib\libffmpeg\libavfilter\vf_interlace.c
	lib\libffmpeg\libavfilter\vf_kerndeint.c
	lib\libffmpeg\libavfilter\vf_lenscorrection.c
	lib\libffmpeg\libavfilter\vf_lut.c
	lib\libffmpeg\libavfilter\vf_lut3d.c
	lib\libffmpeg\libavfilter\vf_mcdeint.c
	lib\libffmpeg\libavfilter\vf_mergeplanes.c
	lib\libffmpeg\libavfilter\vf_mp.c
	lib\libffmpeg\libavfilter\vf_mpdecimate.c
	lib\libffmpeg\libavfilter\vf_noise.c
	lib\libffmpeg\libavfilter\vf_null.c
	lib\libffmpeg\libavfilter\vf_overlay.c
	lib\libffmpeg\libavfilter\vf_owdenoise.c
	lib\libffmpeg\libavfilter\vf_pad.c
	lib\libffmpeg\libavfilter\vf_perspective.c
	lib\libffmpeg\libavfilter\vf_phase.c
	lib\libffmpeg\libavfilter\vf_pixdesctest.c
	lib\libffmpeg\libavfilter\vf_pp.c
	lib\libffmpeg\libavfilter\vf_psnr.c
	lib\libffmpeg\libavfilter\vf_pullup.c
	lib\libffmpeg\libavfilter\vf_removelogo.c
	lib\libffmpeg\libavfilter\vf_rotate.c
	lib\libffmpeg\libavfilter\vf_sab.c
	lib\libffmpeg\libavfilter\vf_scale.c
	lib\libffmpeg\libavfilter\vf_separatefields.c
	lib\libffmpeg\libavfilter\vf_setfield.c
	lib\libffmpeg\libavfilter\vf_showinfo.c
	lib\libffmpeg\libavfilter\vf_shuffleplanes.c
	lib\libffmpeg\libavfilter\vf_signalstats.c
	lib\libffmpeg\libavfilter\vf_smartblur.c
	lib\libffmpeg\libavfilter\vf_spp.c
	lib\libffmpeg\libavfilter\vf_stereo3d.c
	lib\libffmpeg\libavfilter\vf_super2xsai.c
	lib\libffmpeg\libavfilter\vf_swapuv.c
	lib\libffmpeg\libavfilter\vf_telecine.c
	lib\libffmpeg\libavfilter\vf_thumbnail.c
	lib\libffmpeg\libavfilter\vf_tile.c
	lib\libffmpeg\libavfilter\vf_tinterlace.c
	lib\libffmpeg\libavfilter\vf_transpose.c
	lib\libffmpeg\libavfilter\vf_unsharp.c
	lib\libffmpeg\libavfilter\vf_vflip.c
	lib\libffmpeg\libavfilter\vf_vignette.c
	lib\libffmpeg\libavfilter\vf_w3fdif.c
	lib\libffmpeg\libavfilter\vf_yadif.c
	lib\libffmpeg\libavfilter\vf_zoompan.c
	lib\libffmpeg\libavfilter\video.c
	lib\libffmpeg\libavfilter\vsink_nullsink.c
	lib\libffmpeg\libavfilter\vsrc_cellauto.c
	lib\libffmpeg\libavfilter\vsrc_life.c
	lib\libffmpeg\libavfilter\vsrc_mandelbrot.c
	lib\libffmpeg\libavfilter\vsrc_mptestsrc.c
	lib\libffmpeg\libavfilter\vsrc_testsrc.c
