# name of the project
PROJECTNAME = avformat

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	lib\libffmpeg

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	lib\libffmpeg\libavformat\4xm.c
	lib\libffmpeg\libavformat\a64.c
	lib\libffmpeg\libavformat\aacdec.c
	lib\libffmpeg\libavformat\ac3dec.c
	lib\libffmpeg\libavformat\act.c
	lib\libffmpeg\libavformat\adp.c
	lib\libffmpeg\libavformat\adtsenc.c
	lib\libffmpeg\libavformat\adxdec.c
	lib\libffmpeg\libavformat\aea.c
	lib\libffmpeg\libavformat\afc.c
	lib\libffmpeg\libavformat\aiffdec.c
	lib\libffmpeg\libavformat\aiffenc.c
	lib\libffmpeg\libavformat\allformats.c
	lib\libffmpeg\libavformat\amr.c
	lib\libffmpeg\libavformat\anm.c
	lib\libffmpeg\libavformat\apc.c
	lib\libffmpeg\libavformat\ape.c
	lib\libffmpeg\libavformat\apetag.c
	lib\libffmpeg\libavformat\aqtitledec.c
	lib\libffmpeg\libavformat\asf.c
	lib\libffmpeg\libavformat\asfcrypt.c
	lib\libffmpeg\libavformat\asfdec.c
	lib\libffmpeg\libavformat\asfenc.c
	lib\libffmpeg\libavformat\assdec.c
	lib\libffmpeg\libavformat\assenc.c
	lib\libffmpeg\libavformat\ast.c
	lib\libffmpeg\libavformat\astdec.c
	lib\libffmpeg\libavformat\astenc.c
	lib\libffmpeg\libavformat\au.c
	lib\libffmpeg\libavformat\audiointerleave.c
	lib\libffmpeg\libavformat\avc.c
	lib\libffmpeg\libavformat\avidec.c
	lib\libffmpeg\libavformat\avienc.c
	lib\libffmpeg\libavformat\avio.c
	lib\libffmpeg\libavformat\aviobuf.c
	lib\libffmpeg\libavformat\avlanguage.c
	lib\libffmpeg\libavformat\avr.c
	lib\libffmpeg\libavformat\avs.c
	lib\libffmpeg\libavformat\bethsoftvid.c
	lib\libffmpeg\libavformat\bfi.c
	lib\libffmpeg\libavformat\bink.c
	lib\libffmpeg\libavformat\bintext.c
	lib\libffmpeg\libavformat\bit.c
	lib\libffmpeg\libavformat\bmv.c
	lib\libffmpeg\libavformat\boadec.c
	lib\libffmpeg\libavformat\brstm.c
	lib\libffmpeg\libavformat\c93.c
	lib\libffmpeg\libavformat\cache.c
	lib\libffmpeg\libavformat\caf.c
	lib\libffmpeg\libavformat\cafdec.c
	lib\libffmpeg\libavformat\cafenc.c
	lib\libffmpeg\libavformat\cavsvideodec.c
	lib\libffmpeg\libavformat\cdg.c
	lib\libffmpeg\libavformat\cdxl.c
	lib\libffmpeg\libavformat\cinedec.c
	lib\libffmpeg\libavformat\concat.c
	lib\libffmpeg\libavformat\concatdec.c
	lib\libffmpeg\libavformat\crcenc.c
	lib\libffmpeg\libavformat\crypto.c
	lib\libffmpeg\libavformat\cutils.c
	lib\libffmpeg\libavformat\data_uri.c
	lib\libffmpeg\libavformat\dauddec.c
	lib\libffmpeg\libavformat\daudenc.c
	lib\libffmpeg\libavformat\dfa.c
	lib\libffmpeg\libavformat\diracdec.c
	lib\libffmpeg\libavformat\dnxhddec.c
	lib\libffmpeg\libavformat\dsfdec.c
	lib\libffmpeg\libavformat\dsicin.c
	lib\libffmpeg\libavformat\dtsdec.c
	lib\libffmpeg\libavformat\dtshddec.c
	lib\libffmpeg\libavformat\dump.c
	lib\libffmpeg\libavformat\dv.c
	lib\libffmpeg\libavformat\dvenc.c
	lib\libffmpeg\libavformat\dxa.c
	lib\libffmpeg\libavformat\eacdata.c
	lib\libffmpeg\libavformat\electronicarts.c
	lib\libffmpeg\libavformat\epafdec.c
	lib\libffmpeg\libavformat\ffmdec.c
	lib\libffmpeg\libavformat\ffmenc.c
	lib\libffmpeg\libavformat\ffmetadec.c
	lib\libffmpeg\libavformat\ffmetaenc.c
	lib\libffmpeg\libavformat\file.c
	lib\libffmpeg\libavformat\filmstripdec.c
	lib\libffmpeg\libavformat\filmstripenc.c
	lib\libffmpeg\libavformat\flac_picture.c
	lib\libffmpeg\libavformat\flacdec.c
	lib\libffmpeg\libavformat\flacenc.c
	lib\libffmpeg\libavformat\flacenc_header.c
	lib\libffmpeg\libavformat\flic.c
	lib\libffmpeg\libavformat\flvdec.c
	lib\libffmpeg\libavformat\flvenc.c
	lib\libffmpeg\libavformat\format.c
	lib\libffmpeg\libavformat\framecrcenc.c
	lib\libffmpeg\libavformat\framehash.c
	lib\libffmpeg\libavformat\frmdec.c
	lib\libffmpeg\libavformat\ftp.c
	lib\libffmpeg\libavformat\g722.c
	lib\libffmpeg\libavformat\g723_1.c
	lib\libffmpeg\libavformat\g729dec.c
	lib\libffmpeg\libavformat\gif.c
	lib\libffmpeg\libavformat\gifdec.c
	lib\libffmpeg\libavformat\gopher.c
	lib\libffmpeg\libavformat\gsmdec.c
	lib\libffmpeg\libavformat\gxf.c
	lib\libffmpeg\libavformat\gxfenc.c
	lib\libffmpeg\libavformat\h261dec.c
	lib\libffmpeg\libavformat\h263dec.c
	lib\libffmpeg\libavformat\h264dec.c
	lib\libffmpeg\libavformat\hdsenc.c
	lib\libffmpeg\libavformat\hevc.c
	lib\libffmpeg\libavformat\hevcdec.c
	lib\libffmpeg\libavformat\hls.c
	lib\libffmpeg\libavformat\hlsenc.c
	lib\libffmpeg\libavformat\hlsproto.c
	lib\libffmpeg\libavformat\hnm.c
	lib\libffmpeg\libavformat\http.c
	lib\libffmpeg\libavformat\httpauth.c
	lib\libffmpeg\libavformat\icecast.c
	lib\libffmpeg\libavformat\icodec.c
	lib\libffmpeg\libavformat\icoenc.c
	lib\libffmpeg\libavformat\id3v1.c
	lib\libffmpeg\libavformat\id3v2.c
	lib\libffmpeg\libavformat\id3v2enc.c
	lib\libffmpeg\libavformat\idcin.c
	lib\libffmpeg\libavformat\idroqdec.c
	lib\libffmpeg\libavformat\idroqenc.c
	lib\libffmpeg\libavformat\iff.c
	lib\libffmpeg\libavformat\ilbc.c
	lib\libffmpeg\libavformat\img2.c
	lib\libffmpeg\libavformat\img2_alias_pix.c
	lib\libffmpeg\libavformat\img2_brender_pix.c
	lib\libffmpeg\libavformat\img2dec.c
	lib\libffmpeg\libavformat\img2enc.c
	lib\libffmpeg\libavformat\ingenientdec.c
	lib\libffmpeg\libavformat\ipmovie.c
	lib\libffmpeg\libavformat\ircam.c
	lib\libffmpeg\libavformat\ircamdec.c
	lib\libffmpeg\libavformat\ircamenc.c
	lib\libffmpeg\libavformat\isom.c
	lib\libffmpeg\libavformat\iss.c
	lib\libffmpeg\libavformat\iv8.c
	lib\libffmpeg\libavformat\ivfdec.c
	lib\libffmpeg\libavformat\ivfenc.c
	lib\libffmpeg\libavformat\jacosubdec.c
	lib\libffmpeg\libavformat\jacosubenc.c
	lib\libffmpeg\libavformat\jvdec.c
	lib\libffmpeg\libavformat\latmenc.c
	lib\libffmpeg\libavformat\lmlm4.c
	lib\libffmpeg\libavformat\loasdec.c
	lib\libffmpeg\libavformat\lrc.c
	lib\libffmpeg\libavformat\lrcdec.c
	lib\libffmpeg\libavformat\lrcenc.c
	lib\libffmpeg\libavformat\lvfdec.c
	lib\libffmpeg\libavformat\lxfdec.c
	lib\libffmpeg\libavformat\m4vdec.c
	lib\libffmpeg\libavformat\matroska.c
	lib\libffmpeg\libavformat\matroskadec.c
	lib\libffmpeg\libavformat\matroskaenc.c
	lib\libffmpeg\libavformat\md5enc.c
	lib\libffmpeg\libavformat\md5proto.c
	lib\libffmpeg\libavformat\metadata.c
	lib\libffmpeg\libavformat\mgsts.c
	lib\libffmpeg\libavformat\microdvddec.c
	lib\libffmpeg\libavformat\microdvdenc.c
	lib\libffmpeg\libavformat\mkvtimestamp_v2.c
	lib\libffmpeg\libavformat\mlvdec.c
	lib\libffmpeg\libavformat\mm.c
	lib\libffmpeg\libavformat\mmf.c
	lib\libffmpeg\libavformat\mms.c
	lib\libffmpeg\libavformat\mmsh.c
	lib\libffmpeg\libavformat\mmst.c
	lib\libffmpeg\libavformat\mov.c
	lib\libffmpeg\libavformat\mov_chan.c
	lib\libffmpeg\libavformat\movenc.c
	lib\libffmpeg\libavformat\movenchint.c
	lib\libffmpeg\libavformat\mp3dec.c
	lib\libffmpeg\libavformat\mp3enc.c
	lib\libffmpeg\libavformat\mpc.c
	lib\libffmpeg\libavformat\mpc8.c
	lib\libffmpeg\libavformat\mpeg.c
	lib\libffmpeg\libavformat\mpegenc.c
	lib\libffmpeg\libavformat\mpegts.c
	lib\libffmpeg\libavformat\mpegtsenc.c
	lib\libffmpeg\libavformat\mpegvideodec.c
	lib\libffmpeg\libavformat\mpjpeg.c
	lib\libffmpeg\libavformat\mpl2dec.c
	lib\libffmpeg\libavformat\mpsubdec.c
	lib\libffmpeg\libavformat\msnwc_tcp.c
	lib\libffmpeg\libavformat\mtv.c
	lib\libffmpeg\libavformat\mux.c
	lib\libffmpeg\libavformat\mvdec.c
	lib\libffmpeg\libavformat\mvi.c
	lib\libffmpeg\libavformat\mxf.c
	lib\libffmpeg\libavformat\mxfdec.c
	lib\libffmpeg\libavformat\mxfenc.c
	lib\libffmpeg\libavformat\mxg.c
	lib\libffmpeg\libavformat\ncdec.c
	lib\libffmpeg\libavformat\network.c
	lib\libffmpeg\libavformat\nistspheredec.c
	lib\libffmpeg\libavformat\nsvdec.c
	lib\libffmpeg\libavformat\nullenc.c
	lib\libffmpeg\libavformat\nut.c
	lib\libffmpeg\libavformat\nutdec.c
	lib\libffmpeg\libavformat\nutenc.c
	lib\libffmpeg\libavformat\nuv.c
	lib\libffmpeg\libavformat\oggdec.c
	lib\libffmpeg\libavformat\oggenc.c
	lib\libffmpeg\libavformat\oggparsecelt.c
	lib\libffmpeg\libavformat\oggparsedirac.c
	lib\libffmpeg\libavformat\oggparseflac.c
	lib\libffmpeg\libavformat\oggparseogm.c
	lib\libffmpeg\libavformat\oggparseopus.c
	lib\libffmpeg\libavformat\oggparseskeleton.c
	lib\libffmpeg\libavformat\oggparsespeex.c
	lib\libffmpeg\libavformat\oggparsetheora.c
	lib\libffmpeg\libavformat\oggparsevorbis.c
	lib\libffmpeg\libavformat\oggparsevp8.c
	lib\libffmpeg\libavformat\oma.c
	lib\libffmpeg\libavformat\omadec.c
	lib\libffmpeg\libavformat\omaenc.c
	lib\libffmpeg\libavformat\options.c
	lib\libffmpeg\libavformat\os_support.c
	lib\libffmpeg\libavformat\paf.c
	lib\libffmpeg\libavformat\pcm.c
	lib\libffmpeg\libavformat\pcmdec.c
	lib\libffmpeg\libavformat\pcmenc.c
	lib\libffmpeg\libavformat\pjsdec.c
	lib\libffmpeg\libavformat\pmpdec.c
	lib\libffmpeg\libavformat\psxstr.c
	lib\libffmpeg\libavformat\pva.c
	lib\libffmpeg\libavformat\pvfdec.c
	lib\libffmpeg\libavformat\qcp.c
	lib\libffmpeg\libavformat\r3d.c
	lib\libffmpeg\libavformat\rawdec.c
	lib\libffmpeg\libavformat\rawenc.c
	lib\libffmpeg\libavformat\rawvideodec.c
	lib\libffmpeg\libavformat\rdt.c
	lib\libffmpeg\libavformat\realtextdec.c
	lib\libffmpeg\libavformat\redspark.c
	lib\libffmpeg\libavformat\replaygain.c
	lib\libffmpeg\libavformat\riff.c
	lib\libffmpeg\libavformat\riffdec.c
	lib\libffmpeg\libavformat\riffenc.c
	lib\libffmpeg\libavformat\rl2.c
	lib\libffmpeg\libavformat\rm.c
	lib\libffmpeg\libavformat\rmdec.c
	lib\libffmpeg\libavformat\rmenc.c
	lib\libffmpeg\libavformat\rmsipr.c
	lib\libffmpeg\libavformat\rpl.c
	lib\libffmpeg\libavformat\rsd.c
	lib\libffmpeg\libavformat\rso.c
	lib\libffmpeg\libavformat\rsodec.c
	lib\libffmpeg\libavformat\rsoenc.c
	lib\libffmpeg\libavformat\rtmphttp.c
	lib\libffmpeg\libavformat\rtmppkt.c
	lib\libffmpeg\libavformat\rtmpproto.c
	lib\libffmpeg\libavformat\rtp.c
	lib\libffmpeg\libavformat\rtpdec.c
	lib\libffmpeg\libavformat\rtpdec_amr.c
	lib\libffmpeg\libavformat\rtpdec_asf.c
	lib\libffmpeg\libavformat\rtpdec_g726.c
	lib\libffmpeg\libavformat\rtpdec_h261.c
	lib\libffmpeg\libavformat\rtpdec_h263.c
	lib\libffmpeg\libavformat\rtpdec_h263_rfc2190.c
	lib\libffmpeg\libavformat\rtpdec_h264.c
	lib\libffmpeg\libavformat\rtpdec_hevc.c
	lib\libffmpeg\libavformat\rtpdec_ilbc.c
	lib\libffmpeg\libavformat\rtpdec_jpeg.c
	lib\libffmpeg\libavformat\rtpdec_latm.c
	lib\libffmpeg\libavformat\rtpdec_mpeg12.c
	lib\libffmpeg\libavformat\rtpdec_mpeg4.c
	lib\libffmpeg\libavformat\rtpdec_mpegts.c
	lib\libffmpeg\libavformat\rtpdec_qcelp.c
	lib\libffmpeg\libavformat\rtpdec_qdm2.c
	lib\libffmpeg\libavformat\rtpdec_qt.c
	lib\libffmpeg\libavformat\rtpdec_svq3.c
	lib\libffmpeg\libavformat\rtpdec_vp8.c
	lib\libffmpeg\libavformat\rtpdec_xiph.c
	lib\libffmpeg\libavformat\rtpenc.c
	lib\libffmpeg\libavformat\rtpenc_aac.c
	lib\libffmpeg\libavformat\rtpenc_amr.c
	lib\libffmpeg\libavformat\rtpenc_chain.c
	lib\libffmpeg\libavformat\rtpenc_h261.c
	lib\libffmpeg\libavformat\rtpenc_h263.c
	lib\libffmpeg\libavformat\rtpenc_h263_rfc2190.c
	lib\libffmpeg\libavformat\rtpenc_h264.c
	lib\libffmpeg\libavformat\rtpenc_jpeg.c
	lib\libffmpeg\libavformat\rtpenc_latm.c
	lib\libffmpeg\libavformat\rtpenc_mpv.c
	lib\libffmpeg\libavformat\rtpenc_vp8.c
	lib\libffmpeg\libavformat\rtpenc_xiph.c
	lib\libffmpeg\libavformat\rtpproto.c
	lib\libffmpeg\libavformat\rtsp.c
	lib\libffmpeg\libavformat\rtspdec.c
	lib\libffmpeg\libavformat\rtspenc.c
	lib\libffmpeg\libavformat\samidec.c
	lib\libffmpeg\libavformat\sapdec.c
	lib\libffmpeg\libavformat\sapenc.c
	lib\libffmpeg\libavformat\sauce.c
	lib\libffmpeg\libavformat\sbgdec.c
	lib\libffmpeg\libavformat\sdp.c
	lib\libffmpeg\libavformat\sdr2.c
	lib\libffmpeg\libavformat\seek.c
	lib\libffmpeg\libavformat\segafilm.c
	lib\libffmpeg\libavformat\segment.c
	lib\libffmpeg\libavformat\sierravmd.c
	lib\libffmpeg\libavformat\siff.c
	lib\libffmpeg\libavformat\smacker.c
	lib\libffmpeg\libavformat\smjpeg.c
	lib\libffmpeg\libavformat\smjpegdec.c
	lib\libffmpeg\libavformat\smjpegenc.c
	lib\libffmpeg\libavformat\smoothstreamingenc.c
	lib\libffmpeg\libavformat\smush.c
	lib\libffmpeg\libavformat\sol.c
	lib\libffmpeg\libavformat\soxdec.c
	lib\libffmpeg\libavformat\soxenc.c
	lib\libffmpeg\libavformat\spdif.c
	lib\libffmpeg\libavformat\spdifdec.c
	lib\libffmpeg\libavformat\spdifenc.c
	lib\libffmpeg\libavformat\srtdec.c
	lib\libffmpeg\libavformat\srtenc.c
	lib\libffmpeg\libavformat\srtp.c
	lib\libffmpeg\libavformat\srtpproto.c
	lib\libffmpeg\libavformat\subfile.c
	lib\libffmpeg\libavformat\subtitles.c
	lib\libffmpeg\libavformat\subviewer1dec.c
	lib\libffmpeg\libavformat\subviewerdec.c
	lib\libffmpeg\libavformat\swf.c
	lib\libffmpeg\libavformat\swfdec.c
	lib\libffmpeg\libavformat\swfenc.c
	lib\libffmpeg\libavformat\takdec.c
	lib\libffmpeg\libavformat\tcp.c
	lib\libffmpeg\libavformat\tedcaptionsdec.c
	lib\libffmpeg\libavformat\tee.c
	lib\libffmpeg\libavformat\thp.c
	lib\libffmpeg\libavformat\tiertexseq.c
	lib\libffmpeg\libavformat\tmv.c
	lib\libffmpeg\libavformat\tta.c
	lib\libffmpeg\libavformat\tty.c
	lib\libffmpeg\libavformat\txd.c
	lib\libffmpeg\libavformat\udp.c
	lib\libffmpeg\libavformat\uncodedframecrcenc.c
	lib\libffmpeg\libavformat\url.c
	lib\libffmpeg\libavformat\urldecode.c
	lib\libffmpeg\libavformat\utils.c
	lib\libffmpeg\libavformat\vc1test.c
	lib\libffmpeg\libavformat\vc1testenc.c
	lib\libffmpeg\libavformat\vivo.c
	lib\libffmpeg\libavformat\voc.c
	lib\libffmpeg\libavformat\vocdec.c
	lib\libffmpeg\libavformat\vocenc.c
	lib\libffmpeg\libavformat\vorbiscomment.c
	lib\libffmpeg\libavformat\vplayerdec.c
	lib\libffmpeg\libavformat\vqf.c
	lib\libffmpeg\libavformat\w64.c
	lib\libffmpeg\libavformat\wavdec.c
	lib\libffmpeg\libavformat\wavenc.c
	lib\libffmpeg\libavformat\wc3movie.c
	lib\libffmpeg\libavformat\webmdashenc.c
	lib\libffmpeg\libavformat\webvttdec.c
	lib\libffmpeg\libavformat\webvttenc.c
	lib\libffmpeg\libavformat\westwood_aud.c
	lib\libffmpeg\libavformat\westwood_vqa.c
	lib\libffmpeg\libavformat\wtv_common.c
	lib\libffmpeg\libavformat\wtvdec.c
	lib\libffmpeg\libavformat\wtvenc.c
	lib\libffmpeg\libavformat\wv.c
	lib\libffmpeg\libavformat\wvdec.c
	lib\libffmpeg\libavformat\wvenc.c
	lib\libffmpeg\libavformat\xa.c
	lib\libffmpeg\libavformat\xmv.c
	lib\libffmpeg\libavformat\xwma.c
	lib\libffmpeg\libavformat\yop.c
	lib\libffmpeg\libavformat\yuv4mpegdec.c
	lib\libffmpeg\libavformat\yuv4mpegenc.c
