# name of the project
PROJECTNAME = avutil

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	lib\libffmpeg

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	lib\libffmpeg\libavutil\adler32.c
	lib\libffmpeg\libavutil\aes.c
	lib\libffmpeg\libavutil\atomic.c
	lib\libffmpeg\libavutil\audio_fifo.c
	lib\libffmpeg\libavutil\avstring.c
	lib\libffmpeg\libavutil\base64.c
	lib\libffmpeg\libavutil\blowfish.c
	lib\libffmpeg\libavutil\bprint.c
	lib\libffmpeg\libavutil\buffer.c
	lib\libffmpeg\libavutil\channel_layout.c
	lib\libffmpeg\libavutil\cpu.c
	lib\libffmpeg\libavutil\crc.c
	lib\libffmpeg\libavutil\des.c
	lib\libffmpeg\libavutil\dict.c
	lib\libffmpeg\libavutil\display.c
	lib\libffmpeg\libavutil\downmix_info.c
	lib\libffmpeg\libavutil\error.c
	lib\libffmpeg\libavutil\eval.c
	lib\libffmpeg\libavutil\fifo.c
	lib\libffmpeg\libavutil\file.c
	lib\libffmpeg\libavutil\file_open.c
	lib\libffmpeg\libavutil\fixed_dsp.c
	lib\libffmpeg\libavutil\float_dsp.c
	lib\libffmpeg\libavutil\frame.c
	lib\libffmpeg\libavutil\hash.c
	lib\libffmpeg\libavutil\hmac.c
	lib\libffmpeg\libavutil\imgutils.c
	lib\libffmpeg\libavutil\intfloat_readwrite.c
	lib\libffmpeg\libavutil\intmath.c
	lib\libffmpeg\libavutil\lfg.c
	lib\libffmpeg\libavutil\lls.c
	lib\libffmpeg\libavutil\log.c
	lib\libffmpeg\libavutil\log2_tab.c
	lib\libffmpeg\libavutil\lzo.c
	lib\libffmpeg\libavutil\mathematics.c
	lib\libffmpeg\libavutil\md5.c
	lib\libffmpeg\libavutil\mem.c
	lib\libffmpeg\libavutil\murmur3.c
	lib\libffmpeg\libavutil\opt.c
	lib\libffmpeg\libavutil\parseutils.c
	lib\libffmpeg\libavutil\pixdesc.c
	lib\libffmpeg\libavutil\pixelutils.c
	lib\libffmpeg\libavutil\random_seed.c
	lib\libffmpeg\libavutil\rational.c
	lib\libffmpeg\libavutil\rc4.c
	lib\libffmpeg\libavutil\ripemd.c
	lib\libffmpeg\libavutil\samplefmt.c
	lib\libffmpeg\libavutil\sha.c
	lib\libffmpeg\libavutil\sha512.c
	lib\libffmpeg\libavutil\stereo3d.c
	lib\libffmpeg\libavutil\threadmessage.c
	lib\libffmpeg\libavutil\time.c
	lib\libffmpeg\libavutil\timecode.c
	lib\libffmpeg\libavutil\tree.c
	lib\libffmpeg\libavutil\utils.c
	lib\libffmpeg\libavutil\xga_font_data.c
	lib\libffmpeg\libavutil\xtea.c
