# name of the project
PROJECTNAME = c128

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	base

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	c64
	c64\cart
	drive
	joyport
	lib\p64
	monitor
	raster
	rtc
	samplerdrv
	sid
	tape
	userport
	vdc
	vicii
	video

# cpu type source files for normal compile, , relative to the top src dir, one per line, preceeded by a tab
CPUSOURCES =
	c128\c128cpu.c

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	c128\c128-cmdline-options.c
	c128\c128-resources.c
	c128\c128-snapshot.c
	c128\c128.c
	c128\c128cia1.c
	c128\c128drive.c
	c128\c128embedded.c
	c128\c128fastiec.c
	c128\c128mem.c
	c128\c128meminit.c
	c128\c128memlimit.c
	c128\c128memrom.c
	c128\c128memsnapshot.c
	c128\c128mmu.c
	c128\c128model.c
	c128\c128rom.c
	c128\c128romset.c
	c128\c128video.c
	c128\functionrom.c
	c128\z80.c
	c128\z80mem.c
