# name of the project
PROJECTNAME = c64c64dtv

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	base
	rtc

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	drive
	drive\iec\c64exp
	joyport
	lib\p64
	monitor
	raster
	rs232drv
	sid
	tape
	vicii

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	c64\c64bus.c
	c64\c64drive.c
	c64\c64fastiec.c
	c64\c64keyboard.c
	c64\c64parallel.c
	c64\c64rom.c
	c64\c64romset.c
	c64\c64rsuser.c
	c64\c64video.c
	c64\patchrom.c
