# name of the project
PROJECTNAME = c64dtvstubs

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	base

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	c64
	drive
	sid
	tape
	vicii

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	c64dtv\c64dtvcart.c
