# name of the project
PROJECTNAME = c64dtv

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	base

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	c64
	drive
	joyport
	lib\p64
	raster
	samplerdrv
	sid
	tape
	tapeport
	userport
	vicii
	video

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	c64dtv\c64dtv-cmdline-options.c
	c64dtv\c64dtv-resources.c
	c64dtv\c64dtv-snapshot.c
	c64dtv\c64dtv.c
	c64dtv\c64dtvblitter.c
	c64dtv\c64dtvcia1.c
	c64dtv\c64dtvcia2.c
	c64dtv\c64dtvdma.c
	c64dtv\c64dtvembedded.c
	c64dtv\c64dtvflash.c
	c64dtv\c64dtviec.c
	c64dtv\c64dtvmem.c
	c64dtv\c64dtvmeminit.c
	c64dtv\c64dtvmemrom.c
	c64dtv\c64dtvmemsnapshot.c
	c64dtv\c64dtvmodel.c
	c64dtv\c64dtvpla.c
	c64dtv\c64dtvprinter.c
	c64dtv\c64dtvsound.c
	c64dtv\debugcart.c
	c64dtv\flash-trap.c
	c64dtv\hummeradc.c

# cpu type source files for normal compile, , relative to the top src dir, one per line, preceeded by a tab
CPUSOURCES =
	c64dtv\c64dtvcpu.c
