# name of the project
PROJECTNAME = c64sc

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	base

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	c64\cart
	drive
	drive\iec\c64exp
	lib\p64
	monitor
	raster
	rs232drv
	samplerdrv
	sid
	tape
	userport
	viciisc
	video

# cpu type source files for normal compile, , relative to the top src dir, one per line, preceeded by a tab
CPUSOURCES =
	c64\c64cpu.c

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	c64\c64-cmdline-options.c
	c64\c64-memory-hacks.c
	c64\c64-resources.c
	c64\c64-snapshot.c
	c64\c64.c
	c64\c64_256k.c
	c64\c64bus.c
	c64\c64cia1.c
	c64\c64cia2.c
	c64\c64datasette.c
	c64\c64drive.c
	c64\c64export.c
	c64\c64fastiec.c
	c64\c64gluelogic.c
	c64\c64iec.c
	c64\c64io.c
	c64\c64keyboard.c
	c64\c64meminit.c
	c64\c64memlimit.c
	c64\c64memrom.c
	c64\c64memsc.c
	c64\c64memsnapshot.c
	c64\c64parallel.c
	c64\c64pla.c
	c64\c64printer.c
	c64\c64rom.c
	c64\c64romset.c
	c64\c64rsuser.c
	c64\c64scmodel.c
	c64\c64sound.c
	c64\c64video.c
	c64\patchrom.c
	c64\plus256k.c
	c64\plus60k.c
	c64\psid.c
	c64\reloc65.c
