# name of the project
PROJECTNAME = cbm2common

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	base

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	crtc
	drive
	joyport
	lib\p64
	monitor
	raster
	sid
	tape
	userport
	vicii

# cpu type source files for normal compile, , relative to the top src dir, one per line, preceeded by a tab
CPUSOURCES =
	cbm2\cbm2cpu.c

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	cbm2\cbm2-cmdline-options.c
	cbm2\cbm2acia1.c
	cbm2\cbm2bus.c
	cbm2\cbm2cart.c
	cbm2\cbm2datasette.c
	cbm2\cbm2drive.c
	cbm2\cbm2iec.c
	cbm2\cbm2memsnapshot.c
	cbm2\cbm2model.c
	cbm2\cbm2printer.c
	cbm2\cbm2romset.c
	cbm2\cbm2sound.c
	cbm2\cbm2tpi1.c
	cbm2\cbm2tpi2.c
