# name of the project
PROJECTNAME = cbm2

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	base

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	crtc
	drive
	joyport
	lib\p64
	monitor
	raster
	samplerdrv
	sid
	tape
	userport
	vicii
	video

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	cbm2\cbm2-resources.c
	cbm2\cbm2-snapshot.c
	cbm2\cbm2.c
	cbm2\cbm2cia1.c
	cbm2\cbm2embedded.c
	cbm2\cbm2mem.c
	cbm2\cbm2rom.c
	cbm2\cbm2video.c
