# name of the project
PROJECTNAME = cbm5x0

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	base

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	crtc
	drive
	joyport
	lib\p64
	monitor
	raster
	samplerdrv
	sid
	tape
	userport
	vicii
	video

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	cbm2\cbm5x0-resources.c
	cbm2\cbm5x0-snapshot.c
	cbm2\cbm5x0.c
	cbm2\cbm5x0cia1.c
	cbm2\cbm5x0embedded.c
	cbm2\cbm5x0mem.c
	cbm2\cbm5x0rom.c
	cbm2\cbm5x0video.c
