# name of the project
PROJECTNAME = core

# project type: library, console, gui
PROJECTTYPE = library

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	core
	monitor

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	core\ata.c
	core\ciacore.c
	core\ciatimer.c
	core\cs8900.c
	core\flash040core.c
	core\fmopl.c
	core\mc6821core.c
	core\riotcore.c
	core\ser-eeprom.c
	core\spi-sdcard.c
	core\t6721.c
	core\tpicore.c
	core\viacore.c
