# name of the project
PROJECTNAME = crtc

# project type: library, console, gui
PROJECTTYPE = library

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	raster

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	crtc\crtc-cmdline-options.c
	crtc\crtc-color.c
	crtc\crtc-draw.c
	crtc\crtc-mem.c
	crtc\crtc-resources.c
	crtc\crtc-snapshot.c
	crtc\crtc.c
