# name of the project
PROJECTNAME = dat2h

# project type: library, console, gui
PROJECTTYPE = console

# library files for application, one per line, preceeded by a tab
PROJECTLIBS =
	advapi32.lib
	comdlg32.lib
	gdi32.lib
	kernel32.lib
	odbc32.lib
	odbccp32.lib
	ole32.lib
	oleaut32.lib
	shell32.lib
	user32.lib
	uuid.lib
	version.lib
	winspool.lib
	wsock32.lib

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	buildtools\dat2h.c

# post custom source message
POST_CUSTOMMSG = Generating resid sample header files

# post custom source file
POST_CUSTOMSOURCE = ..\..\..\..\data\dat2h.exe

# custom source output
POST_CUSTOMOUTPUT = ..\..\..\resid\wave6581__ST.h

# custom source command
POST_CUSTOMCOMMAND = ..\..\..\..\data\dat2h ..\..\..\resid\\
