# name of the project
PROJECTNAME = diag

# project type: library, console, gui
PROJECTTYPE = library

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	diag\c64_diag_586220_harness.c
