# name of the project
PROJECTNAME = diskimage

# project type: library, console, gui
PROJECTTYPE = library

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	diskimage
	lib\p64

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	diskimage\diskimage.c
	diskimage\fsimage-check.c
	diskimage\fsimage-create.c
	diskimage\fsimage-dxx.c
	diskimage\fsimage-gcr.c
	diskimage\fsimage-p64.c
	diskimage\fsimage-probe.c
	diskimage\fsimage.c
	diskimage\realimage.c
