# name of the project
PROJECTNAME = fileio

# project type: library, console, gui
PROJECTTYPE = library

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	drive
	vdrive

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	fileio\cbmfile.c
	fileio\fileio.c
	fileio\p00.c
