# name of the project
PROJECTNAME = fsdevice

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	base

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	fsdevice
	vdrive

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	fsdevice\fsdevice-close.c
	fsdevice\fsdevice-cmdline-options.c
	fsdevice\fsdevice-flush.c
	fsdevice\fsdevice-open.c
	fsdevice\fsdevice-read.c
	fsdevice\fsdevice-resources.c
	fsdevice\fsdevice-write.c
	fsdevice\fsdevice.c
