# name of the project
PROJECTNAME = geninfocontrib

# project type: library, console, gui
PROJECTTYPE = console

# library files for application, one per line, preceeded by a tab
PROJECTLIBS =
	advapi32.lib
	comdlg32.lib
	gdi32.lib
	kernel32.lib
	odbc32.lib
	odbccp32.lib
	ole32.lib
	oleaut32.lib
	shell32.lib
	user32.lib
	uuid.lib
	version.lib
	winspool.lib
	wsock32.lib

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	arch\win32\utils\geninfocontrib.c

# post custom source message
POST_CUSTOMMSG = Generating infocontrib.h

# post custom source file
POST_CUSTOMSOURCE = ..\..\..\..\data\geninfocontrib.exe

# custom source output
POST_CUSTOMOUTPUT = ..\..\..\infocontrib.h

# custom source command
POST_CUSTOMCOMMAND = ..\..\..\..\data\geninfocontrib ..\..\..\..\ ..\..\..\..\ doc\vice.texi src\infocontrib.h src\infocontrib.sed AUTHORS src\arch\unix\macosx\Resources\Credits.html README doc\html\index.html src\arch\os2\dialogs\dialogs.rc man\vice.1
