# name of the project
PROJECTNAME = hwsiddrv

# project type: library, console, gui
PROJECTTYPE = library

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	platform
	sid

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	hwsiddrv\catweaselmkiii-win32-drv.c
	hwsiddrv\cw-win32-dll.c
	hwsiddrv\cw-win32-pci.c
	hwsiddrv\hardsid-win32-drv.c
	hwsiddrv\hs-win32-dll.c
	hwsiddrv\hs-win32-isa.c
	hwsiddrv\hs-win32-pci.c
	hwsiddrv\parsid-win32-drv.c
	hwsiddrv\ps-win32-dll.c
	hwsiddrv\ps-win32-io.c
	hwsiddrv\ssi2001-win32-drv.c
