# name of the project
PROJECTNAME = iecieee

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	base

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	drive
	lib\p64

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	drive\iecieee\iecieee.c
	drive\iecieee\via2d.c
