# name of the project
PROJECTNAME = ieee

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	base

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	drive
	lib\p64

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	drive\ieee\fdc.c
	drive\ieee\ieee-cmdline-options.c
	drive\ieee\ieee-resources.c
	drive\ieee\ieee.c
	drive\ieee\ieeerom.c
	drive\ieee\memieee.c
	drive\ieee\riot1d.c
	drive\ieee\riot2d.c
	drive\ieee\via1d2031.c
