# name of the project
PROJECTNAME = imagecontents

# project type: library, console, gui
PROJECTTYPE = library

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	vdrive

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	imagecontents\diskcontents-block.c
	imagecontents\diskcontents-iec.c
	imagecontents\diskcontents.c
	imagecontents\imagecontents.c
	imagecontents\tapecontents.c
