# name of the project
PROJECTNAME = joyport

# project type: library, console, gui
PROJECTTYPE = library

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	rtc
	samplerdrv

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	joyport\joyport.c
	joyport\lightpen.c
	joyport\mouse.c
	joyport\sampler2bit.c
