# name of the project
PROJECTNAME = mididrv

# project type: library, console, gui
PROJECTTYPE = library

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	mididrv\midi-win32-drv.c
