# name of the project
PROJECTNAME = monitor

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	base

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	drive
	imagecontents
	lib\p64
	monitor
	vdrive

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	monitor\asm6502.c
	monitor\asm6502dtv.c
	monitor\asm65816.c
	monitor\asm6809.c
	monitor\asmR65C02.c
	monitor\asmz80.c
	monitor\mon_assemble6502.c
	monitor\mon_assemble65816.c
	monitor\mon_assemble6809.c
	monitor\mon_assembleR65C02.c
	monitor\mon_assemblez80.c
	monitor\mon_breakpoint.c
	monitor\mon_command.c
	monitor\mon_disassemble.c
	monitor\mon_drive.c
	monitor\mon_file.c
	monitor\mon_lex.c
	monitor\mon_memory.c
	monitor\mon_parse.c
	monitor\mon_register.c
	monitor\mon_register6502.c
	monitor\mon_register6502dtv.c
	monitor\mon_register65816.c
	monitor\mon_registerR65C02.c
	monitor\mon_register6809.c
	monitor\mon_registerz80.c
	monitor\mon_ui.c
	monitor\mon_util.c
	monitor\monitor.c
	monitor\monitor_network.c
