# name of the project
PROJECTNAME = parallel

# project type: library, console, gui
PROJECTTYPE = library

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	drive
	lib\p64

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	parallel\parallel-trap.c
	parallel\parallel.c
