# name of the project
PROJECTNAME = pet

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	base

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	crtc
	drive
	joyport
	lib\p64
	monitor
	raster
	samplerdrv
	sid
	tape
	tapeport
	userport
	video

# cpu type source files for normal compile, , relative to the top src dir, one per line, preceeded by a tab
CPUSOURCES =
	pet\petcpu.c

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	pet\6809.c
	pet\debugcart.c
	pet\pet-cmdline-options.c
	pet\pet-resources.c
	pet\pet-sidcart.c
	pet\pet-snapshot.c
	pet\pet.c
	pet\petacia1.c
	pet\petbus.c
	pet\petcolour.c
	pet\petdatasette.c
	pet\petdrive.c
	pet\petdww.c
	pet\petembedded.c
	pet\pethre.c
	pet\petiec.c
	pet\petio.c
	pet\petmem.c
	pet\petmemsnapshot.c
	pet\petmodel.c
	pet\petpia1.c
	pet\petpia2.c
	pet\petprinter.c
	pet\petreu.c
	pet\petrom.c
	pet\petromset.c
	pet\petsound.c
	pet\petvia.c
	pet\petvideo.c
