# name of the project
PROJECTNAME = petcat

# project type: library, console, gui
PROJECTTYPE = console

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	arch
	base
	fileio
	platform

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	drive
	vdrive

# library files for application, one per line, preceeded by a tab
PROJECTLIBS =
	advapi32.lib
	comdlg32.lib
	gdi32.lib
	kernel32.lib
	odbc32.lib
	odbccp32.lib
	ole32.lib
	oleaut32.lib
	shell32.lib
	user32.lib
	uuid.lib
	version.lib
	winspool.lib
	wsock32.lib

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	charset.c
	findpath.c
	ioutil.c
	lib.c
	log.c
	petcat.c
	rawfile.c
	resources.c
	util.c
	zipcode.c
