# name of the project
PROJECTNAME = plus4

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	base

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	core
	drive
	joyport
	lib\p64
	monitor
	raster
	samplerdrv
	sid
	tape
	tapeport
	userport
	video

# cpu type source files for normal compile, , relative to the top src dir, one per line, preceeded by a tab
CPUSOURCES =
	plus4\plus4cpu.c

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	plus4\debugcart.c
	plus4\digiblaster.c
	plus4\plus4-cmdline-options.c
	plus4\plus4-resources.c
	plus4\plus4-sidcart.c
	plus4\plus4-snapshot.c
	plus4\plus4.c
	plus4\plus4acia.c
	plus4\plus4bus.c
	plus4\plus4cart.c
	plus4\plus4datasette.c
	plus4\plus4drive.c
	plus4\plus4embedded.c
	plus4\plus4iec.c
	plus4\plus4io.c
	plus4\plus4mem.c
	plus4\plus4memcsory256k.c
	plus4\plus4memhacks.c
	plus4\plus4memhannes256k.c
	plus4\plus4memlimit.c
	plus4\plus4memrom.c
	plus4\plus4memsnapshot.c
	plus4\plus4model.c
	plus4\plus4parallel.c
	plus4\plus4pio1.c
	plus4\plus4pio2.c
	plus4\plus4printer.c
	plus4\plus4rom.c
	plus4\plus4romset.c
	plus4\plus4speech.c
	plus4\plus4tcbm.c
	plus4\plus4video.c
	plus4\ted-badline.c
	plus4\ted-cmdline-options.c
	plus4\ted-color.c
	plus4\ted-draw.c
	plus4\ted-fetch.c
	plus4\ted-irq.c
	plus4\ted-mem.c
	plus4\ted-resources.c
	plus4\ted-snapshot.c
	plus4\ted-sound.c
	plus4\ted-timer.c
	plus4\ted-timing.c
	plus4\ted.c
