# name of the project
PROJECTNAME = printerdrv

# project type: library, console, gui
PROJECTTYPE = library

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	userport

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	base

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	printerdrv\driver-select.c
	printerdrv\drv-1520.c
	printerdrv\drv-ascii.c
	printerdrv\drv-mps803.c
	printerdrv\drv-nl10.c
	printerdrv\drv-raw.c
	printerdrv\interface-serial.c
	printerdrv\interface-userport.c
	printerdrv\output-graphics.c
	printerdrv\output-select.c
	printerdrv\output-text.c
	printerdrv\printer-serial.c
	printerdrv\printer-userport.c
	printerdrv\printer.c
