# name of the project
PROJECTNAME = raster

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	base

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	raster\raster-cache.c
	raster\raster-canvas.c
	raster\raster-changes.c
	raster\raster-cmdline-options.c
	raster\raster-line-changes-sprite.c
	raster\raster-line-changes.c
	raster\raster-line.c
	raster\raster-modes.c
	raster\raster-resources.c
	raster\raster-sprite-cache.c
	raster\raster-sprite-status.c
	raster\raster-sprite.c
	raster\raster.c
