# name of the project
PROJECTNAME = residdtv

# project type: library, console, gui
PROJECTTYPE = library

# C++ source directory path, relative to the top src dir
CCSOURCEPATH = resid-dtv

# C++ source files for normal compile, relative to the C++ source directory path, one per line, preceeded by a tab, without extensions (.cc/.cpp)
CCSOURCES =
	envelope
	extfilt
	filter
	sid
	version
	voice
	wave
