# name of the project
PROJECTNAME = rs232drv

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	base

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	rs232drv

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	rs232drv\rs232.c
	rs232drv\rs232drv.c
	rs232drv\rs232net.c
	rs232drv\rsuser.c
