# name of the project
PROJECTNAME = scpu64

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	base

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	c64
	c64\cart
	drive
	drive\iec\c64exp
	lib\p64
	monitor
	raster
	rs232drv
	sid
	tape
	userport
	viciisc
	video

# cpu type source files for normal compile, , relative to the top src dir, one per line, preceeded by a tab
CPUSOURCES =
	scpu64\scpu64cpu.c

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	scpu64\scpu64.c
	scpu64\scpu64-cmdline-options.c
	scpu64\scpu64gluelogic.c
	scpu64\scpu64mem.c
	scpu64\scpu64meminit.c
	scpu64\scpu64memsnapshot.c
	scpu64\scpu64model.c
	scpu64\scpu64-resources.c
	scpu64\scpu64rom.c
	scpu64\scpu64-snapshot.c
	scpu64\scpu64stubs.c
