# name of the project
PROJECTNAME = sid

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	base

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	joyport
	resid

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	sid\catweaselmkiii.c
	sid\fastsid.c
	sid\hardsid.c
	sid\sid-cmdline-options.c
	sid\sid-resources.c
	sid\sid-snapshot.c
	sid\sid.c

# C++ source directory path, relative to the top src dir
CCSOURCEPATH = sid

# C++ source files for normal compile, relative to the C++ source directory path, one per line, preceeded by a tab, without extensions (.cc/.cpp)
CCSOURCES =
	resid
