# name of the project
PROJECTNAME = sounddrv

# project type: library, console, gui
PROJECTTYPE = library

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	sounddrv\soundaiff.c
	sounddrv\sounddummy.c
	sounddrv\sounddump.c
	sounddrv\sounddx.c
	sounddrv\soundfs.c
	sounddrv\soundiff.c
	sounddrv\soundmovie.c
	sounddrv\soundvoc.c
	sounddrv\soundwav.c
	sounddrv\soundwmm.c

# source files for sdl compile, relative to the top src dir, one per line, preceeded by a tab
SDL_SOURCES =
	sounddrv\soundsdl.c
