# name of the project
PROJECTNAME = tapeport

# project type: library, console, gui
PROJECTTYPE = library

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	rtc

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	tapeport\cp-clockf83.c
	tapeport\tapelog.c
	tapeport\tapeport.c
