# name of the project
PROJECTNAME = tape

# project type: library, console, gui
PROJECTTYPE = library

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	tape

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	tape\t64.c
	tape\tap.c
	tape\tape-internal.c
	tape\tape-snapshot.c
	tape\tape.c
	tape\tapeimage.c
