# name of the project
PROJECTNAME = userport

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	base

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	c64\cart
	joyport
	rtc

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	userport\userport.c
	userport\userport_dac.c
	userport\userport_digimax.c
	userport\userport_joystick.c
	userport\userport_rtc.c
