# name of the project
PROJECTNAME = vdrive

# project type: library, console, gui
PROJECTTYPE = library

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	drive
	lib\p64

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	vdrive\vdrive-bam.c
	vdrive\vdrive-command.c
	vdrive\vdrive-dir.c
	vdrive\vdrive-iec.c
	vdrive\vdrive-internal.c
	vdrive\vdrive-rel.c
	vdrive\vdrive-snapshot.c
	vdrive\vdrive.c
