# name of the project
PROJECTNAME = vic20

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	base

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	drive
	joyport
	lib\p64
	monitor
	raster
	samplerdrv
	sid
	tape
	tapeport
	userport
	vic20\cart
	video

# cpu type source files for normal compile, , relative to the top src dir, one per line, preceeded by a tab
CPUSOURCES =
	vic20\vic20cpu.c

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	vic20\vic-cmdline-options.c
	vic20\vic-color.c
	vic20\vic-cycle.c
	vic20\vic-draw.c
	vic20\vic-mem.c
	vic20\vic-resources.c
	vic20\vic-snapshot.c
	vic20\vic-timing.c
	vic20\vic.c
	vic20\vic20-cmdline-options.c
	vic20\vic20-resources.c
	vic20\vic20-snapshot.c
	vic20\vic20.c
	vic20\vic20bus.c
	vic20\vic20datasette.c
	vic20\vic20drive.c
	vic20\vic20embedded.c
	vic20\vic20export.c
	vic20\vic20iec.c
	vic20\vic20ieeevia1.c
	vic20\vic20ieeevia2.c
	vic20\vic20io.c
	vic20\vic20mem.c
	vic20\vic20memrom.c
	vic20\vic20memsnapshot.c
	vic20\vic20model.c
	vic20\vic20printer.c
	vic20\vic20rom.c
	vic20\vic20romset.c
	vic20\vic20rsuser.c
	vic20\vic20sound.c
	vic20\vic20via1.c
	vic20\vic20via2.c
	vic20\vic20video.c
