# name of the project
PROJECTNAME = vic20cart

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	base

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	c64\cart
	drive
	monitor
	raster
	sid
	tape
	vic20

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	vic20\cart\finalexpansion.c
	vic20\cart\mascuerade-stubs.c
	vic20\cart\megacart.c
	vic20\cart\ultimem.c
	vic20\cart\vic-fp.c
	vic20\cart\vic20-generic.c
	vic20\cart\vic20-ieee488.c
	vic20\cart\vic20-midi.c
	vic20\cart\vic20-sidcart.c
	vic20\cart\vic20cart.c
	vic20\cart\vic20cartmem.c
