# Project names, one per line, preceeded by a tab, common to both native and SDL
PROJECTS =
	_vice
	avcodec
	avcodec-x86
	avfilter
	avformat
	avutil
	avutil-x86
	base
	c128
	c1541
	c64
	c64c128
	c64c64dtv
	c64cart
	c64cartsystem
	c64commoncart
	c64dtv
	c64dtvstubs
	c64exp
	c64sc
	c64scpu64
	cartconv
	cbm2
	cbm2common
	cbm5x0
	core
	compat
	crtc
	diskimage
	drive
	fileio
	fsdevice
	geninfocontrib
	gentranslate
	gfxoutputdrv
	iec
	iec128dcr
	iecbus
	iecieee
	ieee
	imagecontents
	joyport
	lame
	monitor
	p64
	parallel
	pet
	petcat
	platform
	plus4
	plus4exp
	postproc
	printerdrv
	raster
	resid
	residdtv
	rs232drv
	rtc
	samplerdrv
	scpu64
	serial
	sid
	sounddrv
	swresample
	swresample-x86
	swscale
	swscale-x86
	tape
	tapeport
	tcbm
	userport
	vdc
	vdrive
	vic20
	vic20cart
	vicii
	viciidtv
	viciisc
	viciivsid
	video
	vsid
	vsidlib
	x264
	x264common
	x264encoder
	x264filter
	x264input
	x264output
	x128
	x64
	x64dtv
	x64sc
	xcbm2
	xcbm5x0
	xpet
	xplus4
	xscpu64
	xvic

# Native only project names, one per line, preceeded by a tab
PROJECTS_NATIVE =
	arch_native
	genmsvcver
	genwinres

# SDL only project names, one per line, preceeded by a tab
PROJECTS_SDL =
	arch_sdl
