# name of the project
PROJECTNAME = viciivsid

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	base

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	c64
	c64\cart
	c64dtv
	monitor
	raster
	video

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	viciivsid\viciivsid-badline.c
	viciivsid\viciivsid-cmdline-options.c
	viciivsid\viciivsid-color.c
	viciivsid\viciivsid-draw.c
	viciivsid\viciivsid-fetch.c
	viciivsid\viciivsid-irq.c
	viciivsid\viciivsid-mem.c
	viciivsid\viciivsid-phi1.c
	viciivsid\viciivsid-resources.c
	viciivsid\viciivsid-snapshot.c
	viciivsid\viciivsid-sprites.c
	viciivsid\viciivsid-timing.c
	viciivsid\viciivsid.c
