# name of the project
PROJECTNAME = viciidtv

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	base

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	c64
	c64\cart
	c64dtv
	monitor
	raster
	video

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	vicii\vicii-badline.c
	vicii\vicii-cmdline-options.c
	vicii\vicii-fetch.c
	vicii\vicii-irq.c
	vicii\vicii-mem.c
	vicii\vicii-phi1.c
	vicii\vicii-resources.c
	vicii\vicii-sprites.c
	vicii\vicii-timing.c
	vicii\vicii.c
	vicii\viciidtv-color.c
	vicii\viciidtv-draw.c
	vicii\viciidtv-snapshot.c
