# name of the project
PROJECTNAME = vsidlib

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	base

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	c64\cart
	drive
	joyport
	lib\p64
	monitor
	raster
	rs232drv
	rtc
	sid
	tape
	tapeport
	userport
	vdrive
	viciivsid

# cpu type source files for normal compile, , relative to the top src dir, one per line, preceeded by a tab
CPUSOURCES =
	c64\vsidcpu.c

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	c64\c64gluelogic.c
	c64\c64keyboard.c
	c64\c64memlimit.c
	c64\c64memrom.c
	c64\c64model.c
	c64\c64rom.c
	c64\c64romset.c
	c64\c64rsuser.c
	c64\c64video.c
	c64\patchrom.c
	c64\psid.c
	c64\reloc65.c
	c64\vsid-cmdline-options.c
	c64\vsid-resources.c
	c64\vsid-snapshot.c
	c64\vsid.c
	c64\vsidcia1.c
	c64\vsidcia2.c
	c64\vsidmem.c
	c64\vsidmeminit.c
	c64\vsidmemsnapshot.c
	c64\vsidpla.c
	c64\vsidsound.c
	c64\vsidstubs.c
