# name of the project
PROJECTNAME = vsid

# project type: library, console, gui
PROJECTTYPE = gui

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	arch
	base
	core
	monitor
	platform
	raster
	resid
	serial
	sid
	sounddrv
	viciivsid
	video
	vsidlib

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	drive
	lib\p64
	monitor
	platform
	rtc
	vdrive

# library files for application, one per line, preceeded by a tab
PROJECTLIBS =
	advapi32.lib
	comctl32.lib
	comdlg32.lib
	gdi32.lib
	kernel32.lib
	odbc32.lib
	odbccp32.lib
	ole32.lib
	oleaut32.lib
	shell32.lib
	user32.lib
	uuid.lib
	version.lib
	winmm.lib
	winspool.lib
	wsock32.lib

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	main.c
	mouse.c

# resource source name
RESSOURCE = resvsid.rc

# resource dependencies, separated by spaces
RESDEPS = resvsid.rc res.rc ressid.rc resvicii.rc

# resource output name
RESOUTPUT = resvsidcat.rc
