# name of the project
PROJECTNAME = x264output

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	lib\libx264
	lib\libx264\extras

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	lib\libx264\output\raw.c
	lib\libx264\output\matroska.c
	lib\libx264\output\matroska_ebml.c
	lib\libx264\output\flv.c
	lib\libx264\output\flv_bytestream.c
