# name of the project
PROJECTNAME = x264input

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	lib\libx264
	lib\libx264\extras

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	lib\libx264\input\input.c
	lib\libx264\input\timecode.c
	lib\libx264\input\raw.c
	lib\libx264\input\y4m.c
	lib\libx264\input\avs.c
	lib\libx264\input\thread.c
