# name of the project
PROJECTNAME = x264filter

# project type: library, console, gui
PROJECTTYPE = library

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	lib\libx264
	lib\libx264\extras

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	lib\libx264\filters\filters.c
	lib\libx264\filters\video\video.c
	lib\libx264\filters\video\source.c
	lib\libx264\filters\video\internal.c
	lib\libx264\filters\video\resize.c
	lib\libx264\filters\video\cache.c
	lib\libx264\filters\video\fix_vfr_pts.c
	lib\libx264\filters\video\select_every.c
	lib\libx264\filters\video\crop.c
	lib\libx264\filters\video\depth.c
