# name of the project
PROJECTNAME = xplus4

# project type: library, console, gui
PROJECTTYPE = gui

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	arch
	avcodec
	avcodec-x86
	avfilter
	avformat
	avutil
	avutil-x86
	base
	compat
	core
	diskimage
	drive
	fileio
	fsdevice
	gfxoutputdrv
	iec
	iecbus
	iecieee
	imagecontents
	lame
	monitor
	p64
	platform
	plus4
	plus4exp
	postproc
	printerdrv
	raster
	resid
	rs232drv
	rtc
	serial
	sid
	sounddrv
	swresample
	swresample-x86
	swscale
	swscale-x86
	tape
	tcbm
	userport
	vdrive
	video
	x264
	x264common
	x264encoder
	x264filter
	x264input
	x264output

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	drive
	lib\p64
	monitor
	platform
	sid
	vdrive

# library files for application, one per line, preceeded by a tab
PROJECTLIBS =
	advapi32.lib
	comctl32.lib
	comdlg32.lib
	gdi32.lib
	kernel32.lib
	odbc32.lib
	odbccp32.lib
	ole32.lib
	oleaut32.lib
	shell32.lib
	user32.lib
	uuid.lib
	version.lib
	winmm.lib
	winspool.lib
	wsock32.lib

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	main.c

# resource source name
RESSOURCE = resplus4.rc

# resource dependencies, separated by spaces
RESDEPS = resplus4.rc res.rc rested.rc resacia.rc resdriveplus4.rc resautostart.rc resv364speech.rc ressidcart.rc

# resource output name
RESOUTPUT = resplus4cat.rc
