# name of the project
PROJECTNAME = xvic

# project type: library, console, gui
PROJECTTYPE = gui

# project dependencies, one per line, preceeded by a tab
PROJECTDEPS =
	arch
	avcodec
	avcodec-x86
	avfilter
	avformat
	avutil
	avutil-x86
	base
	c64commoncart
	compat
	core
	diskimage
	drive
	fileio
	fsdevice
	gfxoutputdrv
	iec
	iecbus
	iecieee
	ieee
	imagecontents
	joyport
	lame
	monitor
	p64
	parallel
	platform
	postproc
	printerdrv
	raster
	resid
	rs232drv
	rtc
	samplerdrv
	serial
	sid
	sounddrv
	swresample
	swresample-x86
	swscale
	swscale-x86
	tape
	userport
	vdrive
	vic20
	vic20cart
	video
	x264
	x264common
	x264encoder
	x264filter
	x264input
	x264output

# include directories, relative to the top src dir, one per line, preceeded by a tab
INCLUDEDIRS =
	drive
	joyport
	lib\p64
	monitor
	platform
	rtc
	sid
	vdrive

# library files for application, one per line, preceeded by a tab
PROJECTLIBS =
	advapi32.lib
	comctl32.lib
	comdlg32.lib
	gdi32.lib
	kernel32.lib
	odbc32.lib
	odbccp32.lib
	ole32.lib
	oleaut32.lib
	shell32.lib
	user32.lib
	uuid.lib
	version.lib
	winmm.lib
	winspool.lib
	wsock32.lib

# source files for normal compile, relative to the top src dir, one per line, preceeded by a tab
SOURCES =
	main.c

# resource source name
RESSOURCE = resvic20.rc

# resource dependencies, separated by spaces
RESDEPS = resvic20.rc res.rc resvic.rc resdrivevic20.rc resrs232user.rc ressidcart.rc resautostart.rc resmidi.rc resacia.rc resgeoram.rc resdigimax.rc restfe.rc ressoundexpander.rc ressoundsampler.rc resjoyport.rc resds12c887rtc.rc resmouse.rc ressampler.rc

# resource output name
RESOUTPUT = resvic20cat.rc
