*.exe
c1541
c64/psiddrv.h
c64/psiddrv.o65
config.h
config.h.in
debug.h
infocontrib.h
monitor/mon_lex.c
monitor/mon_parse.c
monitor/mon_parse.h
resid-dtv/COPYING
resid-dtv/INSTALL
resid-dtv/siddtvdefs.h
resid/COPYING
resid/INSTALL
resid/siddefs.h
resid/wave6581_PST.h
resid/wave6581_PS_.h
resid/wave6581_P_T.h
resid/wave6581__ST.h
resid/wave8580_PST.h
resid/wave8580_PS_.h
resid/wave8580_P_T.h
resid/wave8580__ST.h
stamp-h1
tools/cartconv/cartconv
tools/petcat/petcat
version.h
vice-version.sh
vsid
x128
x64dtv
x64sc
xcbm2
xcbm5x0
xpet
xplus4
xscpu64
xvic
