FONT  1 "CHARGEN-C64 Upper Case.FNT"
FONT  2 "CHARGEN-C64 Lower Case.FNT"
FONT  3 "CHARGEN-C128 Upper Case.FNT"
FONT  4 "CHARGEN-C128 Lower Case.FNT"
FONT  5 "CHARGEN-C128 Upper Case (DE).FNT"
FONT  6 "CHARGEN-C128 Lower Case (DE).FNT"
FONT  7 "CHARGEN-C128 Upper Case (FR).FNT"
FONT  8 "CHARGEN-C128 Lower Case (FR).FNT"
FONT  9 "CHARGEN-C128 Upper Case (SE).FNT"
FONT 10 "CHARGEN-C128 Lower Case (SE).FNT"
FONT 11 "CHARGEN-PET.FNT"
FONT 12 "CHARGEN-PET German.FNT"
FONT 13 "CHARGEN-VIC20 Upper Case.FNT"
FONT 14 "CHARGEN-VIC20 Lower Case.FNT"
