<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Autostart</key>
	<dict>
		<key>Handle True Drive Emulation</key>
		<string>AutostartHandleTrueDriveEmulation,b</string>
		<key>Run With Colon</key>
		<string>AutostartRunWithColon,b</string>
		<key>Warp Mode during Autostart</key>
		<string>AutostartWarp,b</string>
		<key>PRG Startup Mode</key>
		<string>AutostartPrgMode,e,Virtual FS,Inject to RAM,Disk Image</string>
		<key>PRG Disk Image</key>
		<string>AutostartPrgDiskImage,s</string>
	</dict>
	<key>Cartridges</key>
	<dict>
		<key>MIDI</key>
		<dict>
			<key>Enable</key>
			<string>MIDIEnable,b</string>
			<key>Name Client</key>
			<string>MIDIName,s</string>
			<key>Name Port In</key>
			<string>MIDIInName,s</string>
			<key>Name Port Out</key>
			<string>MIDIOutName,s</string>
			<key>Type</key>
			<string>MIDIMode,e,Sequential,Passport,DATEL,Namesoft,Maplin</string>
		</dict>
	</dict>
	<key>Datasette</key>
	<dict>
		<key>Reset with CPU</key>
		<string>DatasetteResetWithCPU,b</string>
		<key>Speed Tuning</key>
		<string>DatasetteSpeedTuning,E,0,1,2,3,4,5,6,7</string>
		<key>Zero Gap Delay</key>
		<string>DatasetteZeroGapDelay,E,1000,2000,5000,10000,20000,50000,100000</string>
	</dict>
	<key>Joystick</key>
	<dict>
		<key>Extra Joystick Enable</key>
		<string>ExtraJoy,b</string>
		<key>Extra Joystick Hardware</key>
		<string>ExtraJoyType,e,CGA/Protovision Userport,PET Userport,HUMMER Userport,OEM Userport,DXS/HIT Userport</string>
	</dict>
	<key>Mouse</key>
	<dict>
		<key>Port</key>
		<string>Mouseport,m,Joy1=1,Joy2=2</string>
		<key>Scale X</key>
		<string>MouseScaleX,i</string>
		<key>Scale Y</key>
		<string>MouseScaleY,i</string>
		<key>Type</key>
		<string>Mousetype,e,1351,NEOS,AMIGA,Paddles</string>
	</dict>
	<key>Peripherals</key>
	<dict>
		<key>RS232</key>
		<dict>
			<key>Device 1</key>
			<string>RsDevice1,s</string>
			<key>Device 2</key>
			<string>RsDevice2,s</string>
			<key>Device 3</key>
			<string>RsDevice3,s</string>
			<key>Device 4</key>
			<string>RsDevice4,s</string>
		</dict>
		<key>Userport RS232</key>
		<dict>
			<key>Baud Rate</key>
			<string>RsUserBaud,E,300,600,1200,2400,4800,9600</string>
			<key>Enable</key>
			<string>RsUserEnable,b</string>
			<key>RS232 Device</key>
			<string>RsUserDev,e,Device 1,Device 2,Device 3,Device 4</string>
		</dict>
	</dict>
	<key>RAM</key>
	<dict>
		<key>Length of constant pattern</key>
		<string>RAMInitPatternInvert,i</string>
		<key>Length of constant values</key>
		<string>RAMInitValueInvert,i</string>
		<key>Value of first Byte</key>
		<string>RAMInitStartValue,i</string>
	</dict>
	<key>ROM</key>
	<dict>
		<key>Drives</key>
		<dict>
			<key>1001</key>
			<string>DosName1001,fo</string>
			<key>1541</key>
			<string>DosName1541,fo</string>
			<key>1541-II</key>
			<string>DosName1541ii,fo</string>
			<key>1570</key>
			<string>DosName1570,fo</string>
			<key>1571</key>
			<string>DosName1571,fo</string>
			<key>1581</key>
			<string>DosName1581,fo</string>
			<key>2031</key>
			<string>DosName2031,fo</string>
			<key>2040</key>
			<string>DosName2040,fo</string>
			<key>3040</key>
			<string>DosName3040,fo</string>
			<key>4040</key>
			<string>DosName4040,fo</string>
		</dict>
		<key>Machine</key>
		<dict>
			<key>Basic</key>
			<string>BasicName,fo</string>
			<key>Character</key>
			<string>ChargenName,fo</string>
			<key>Kernal</key>
			<string>KernalName,fo</string>
		</dict>
	</dict>
	<key>SID</key>
	<dict>
		<key>Engine</key>
		<string>SidEngine,m,Fast SID=0,ReSID=1,ReSID-FP=7</string>
		<key>Filters</key>
		<string>SidFilters,b</string>
		<key>Model</key>
		<string>SidModel,m,6581=0,8580=1,8580+digiboost=2,6581R3 4885=8,6581R3 0486S=9,6581R3 3984=10,6581R4AR 3789=11,6581R3 4485=12,6581R4 1986S=13,8580R5 3691=16,8580R5 3691D=17,8580R5 1489=18,8580R5 1489D=19</string>
	</dict>
	<key>VIC II</key>
	<dict>
		<key>Border Mode</key>
		<string>VICIIBorderMode,e,Normal,Full,Debug</string>
		<key>Check Sprite Background Collision</key>
		<string>VICIICheckSbColl,b</string>
		<key>Check Sprite Sprite Collision</key>
		<string>VICIICheckSsColl,b</string>
		<key>New Luminances</key>
		<string>VICIINewLuminances,b</string>
	</dict>
	<key>Video</key>
	<dict>
		<key>Sync Draw</key>
		<string>SyncDrawMode,e,Off,Nearest,Blend</string>
		<key>Sync Draw Flicker Fix</key>
		<string>SyncDrawFlickerFix,b</string>
		<key>Sync Draw Buffers</key>
		<string>SyncDrawBuffers,i</string>
	</dict>
	<key>Remote Monitor</key>
	<dict>
		<key>Enable</key>
		<string>MonitorServer,b</string>
		<key>IP Address</key>
		<string>MonitorServerAddress,s</string>
	</dict>
</dict>
</plist>
