/*
 * dialogs.rc - Resource script file
 *
 * Written by
 *  Thomas Bretz <tbretz@gsi.de>
 *
 * This file is part of VICE, the Versatile Commodore Emulator.
 * See README for copyright notice.
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA
 *  02111-1307  USA.
 *
 */

#define INCL_SW
#define INCL_NLS
#define INCL_WINSYS
#define INCL_WINBIDI
#define INCL_WINSTDDLGS
#define INCL_WINSTDSPIN

// Don't change the order of the include files!
#include "../config.h"
#include "dialogs.h"
#include "../../../version.h"

// My Styles
#define STY_STD               WS_TABSTOP | WS_VISIBLE

#define STY_CLOSEBUTTON       WC_BUTTON, BS_PUSHBUTTON      | STY_STD | BS_DEFAULT
#define STY_GROUPBOX          WC_STATIC, SS_GROUPBOX        | WS_GROUP | WS_VISIBLE
#define STY_PUSHBUTTON        WC_BUTTON, BS_PUSHBUTTON      | STY_STD
#define STY_AUTORADIOBUTTON   WC_BUTTON, BS_AUTORADIOBUTTON | STY_STD
#define STY_AUTOCHECKBOX      WC_BUTTON, BS_AUTOCHECKBOX    | STY_STD
#define STY_SPINBUTTON        WC_SPINBUTTON, SPBS_MASTER | SPBS_JUSTRIGHT | \
                              SPBS_NUMERICONLY | SPBS_FASTSPIN | \
                              SPBS_PADWITHZEROS | STY_STD
#define STY_DIALOG            FS_NOBYTEALIGN | FS_SCREENALIGN | FS_DLGBORDER | \
                              WS_CLIPSIBLINGS | WS_SAVEBITS | WS_VISIBLE, \
                              FCF_TITLEBAR | FCF_SYSMENU

#define TEXT(txt,x,y,w,h) CONTROL txt, ID_NONE, x, y, w, h, WC_STATIC, \
                                       SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE

#ifdef __X64__
DEFAULTICON "..\icons\x64.ico"
#endif

#ifdef __XPET__
DEFAULTICON "..\icons\xpet.ico"
#endif

#ifdef __XCBM__
DEFAULTICON "..\icons\xcbm2.ico"
#endif

#ifdef __X128__
DEFAULTICON "..\icons\x128.ico"
#endif

#ifdef HAS_JOYSTICK
DLGTEMPLATE DLG_JOYSTICK 850 MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Joystick Setup", DLG_JOYSTICK, 162, 122, 135, 88, STY_DIALOG
    BEGIN
        CONTROL "Close",        DID_CLOSE,     5,  5,  38, 12, STY_CLOSEBUTTON |
                                WS_GROUP 
        CONTROL "Calib",        ID_CALIBRATE, 48,  5,  38, 12, STY_PUSHBUTTON
        CONTROL "Swap",         ID_SWAP,      91,  5,  38, 12, STY_PUSHBUTTON
        CONTROL "Joystick",     ID_NONE,       7, 22, 118, 62, STY_GROUPBOX
        CONTROL "",             CB_JOY11,     77, 53,   9,  9, STY_AUTOCHECKBOX
        CONTROL "",             CB_JOY21,     77, 38,   9,  9, STY_AUTOCHECKBOX
        CONTROL "",             CB_JOY12,    105, 53,   9,  9, STY_AUTOCHECKBOX
        CONTROL "",             CB_JOY22,    105, 38,   9,  9, STY_AUTOCHECKBOX
        TEXT("PC",        17, 46, 11, 8)
        TEXT("Commodore", 69, 26, 45, 8)
        TEXT("Port#1",    67, 66, 26, 8)
        TEXT("Port#2",    94, 66, 26, 8)
        TEXT("Joy#1",     38, 54, 24, 8)
        TEXT("Joy#2",     38, 39, 24, 8)
    END
END

DLGTEMPLATE DLG_CALIBRATE 850 MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Joystick Calibration", DLG_CALIBRATE, 162, 122, 155, 103, STY_DIALOG
    BEGIN
        CONTROL "Close",        DID_CLOSE, 5,  5,  38, 12, STY_CLOSEBUTTON |
                                WS_GROUP 
        CONTROL "Calibration",  ID_NONE,   7, 22, 138, 77, STY_GROUPBOX
        CONTROL "Joy#1",        RB_JOY1,  15, 80,  35,  8, STY_AUTORADIOBUTTON |
                                WS_GROUP
        CONTROL "Joy#2",        RB_JOY2,  15, 70,  35,  8, STY_AUTORADIOBUTTON
        CONTROL "",             SPB_UP,   82, 79,  35, 12, STY_SPINBUTTON
                CTLDATA 24, 0, 4, 0, 0, 0, 1024, 0, 0, 0, 0, 0
        CONTROL "",             SPB_DOWN, 82, 53, 35, 12, STY_SPINBUTTON
                CTLDATA 24, 0, 4, 0, 0, 0, 1024, 0, 0, 0, 0, 0
        CONTROL "",             SPB_LEFT, 62, 66, 35, 12, STY_SPINBUTTON
                CTLDATA 24, 0, 4, 0, 0, 0, 1024, 0, 0, 0, 0, 0
        CONTROL "",             SPB_RIGHT, 102, 66, 35, 12, STY_SPINBUTTON
                CTLDATA 24, 0, 4, 0, 0, 0, 1024, 0, 0, 0, 0, 0
        TEXT("Autocalibration", 15, 41, 60, 8)         
        CONTROL "Start",        ID_START, 13, 27, 38, 12, STY_PUSHBUTTON |
                                WS_GROUP
        CONTROL "Stop",         ID_STOP,  56, 27, 38, 12, STY_PUSHBUTTON
        CONTROL "Reset",        ID_RESET, 99, 27, 38, 12, STY_PUSHBUTTON
    END
END
#endif

DLGTEMPLATE DLG_SOUND 850 MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Sound Setup", DLG_SOUND, 162, 122, 165, 163, STY_DIALOG
    BEGIN
        CONTROL "Close",        DID_CLOSE,  5,   5,  38,  12, STY_CLOSEBUTTON |
        			WS_GROUP
        CONTROL "Sound",        ID_NONE,    7,  22, 148, 137, STY_GROUPBOX
        CONTROL "Sound",        CB_SOUND,  17, 141,  40,   9, STY_AUTOCHECKBOX
        TEXT("Vol", 129, 125, 20, 8)
        CONTROL "",             CS_VOLUME, 127, 46,  16,  71/*80*/, WC_SLIDER,
                                SLS_VERTICAL | SLS_CENTER |
                                SLS_BUTTONSTOP | SLS_HOMELEFT |
                                SLS_RIBBONSTRIP | SLS_PRIMARYSCALE1 |
                                STY_STD
                // cbSize-lo, cbSizeHi, Increment1, Space1, Increment2, Space2
                CTLDATA 12, 0, 8/*21*/, 0, 5, 5
        TEXT("Frequency", 17, 125, 55, 8)
        CONTROL "8000Hz",       RB_8000HZ,  17, 115, 45, 10, STY_AUTORADIOBUTTON |
                                WS_GROUP
        CONTROL "11025Hz",      RB_11025HZ, 17, 105, 45, 10, STY_AUTORADIOBUTTON
        CONTROL "22050Hz",      RB_22050HZ, 17, 95, 45, 10,  STY_AUTORADIOBUTTON
        CONTROL "44100Hz",      RB_44100HZ, 17, 85, 45, 10,  STY_AUTORADIOBUTTON
        TEXT("Oversampling", 62, 125, 55, 8)
        CONTROL "Off",          RB_OFF,     77, 115, 25, 10, STY_AUTORADIOBUTTON |
                                WS_GROUP
        CONTROL "2x",           RB_2X,      77, 105, 25, 10, STY_AUTORADIOBUTTON
        CONTROL "4x",           RB_4X,      77,  95, 25, 10, STY_AUTORADIOBUTTON
        CONTROL "8x",           RB_8X,      77,  85, 25, 10, STY_AUTORADIOBUTTON
#if defined __X64__ || defined __X128__ || defined __XCBM__
        TEXT("SID:", 17, 70, 20, 8)
        CONTROL "6581",         RB_6581,    37,  69, 30, 10, STY_AUTORADIOBUTTON |
                                WS_GROUP
        CONTROL "8580",         RB_8580,    77,  69, 30, 10, STY_AUTORADIOBUTTON
        CONTROL "Sid Filters",  CB_SIDFILTER, 17, 55, 50, 9, STY_AUTOCHECKBOX
#endif
#ifdef HAVE_RESID
        CONTROL "HiFi (reSID)", CB_RESID,   70,  55, 60,  9, STY_AUTOCHECKBOX
#endif
        TEXT("Buffer Size <msec>", 17, 40, 75, 8)
        TEXT("[100-1000]",         17, 30, 55, 8)
        CONTROL "",             SPB_BUFFER, 70, 29, 35, 12, STY_SPINBUTTON
                CTLDATA 24, 0, 4, 0, 100, 0, 1000, 0, 0, 0, 0, 0
    END
END

DLGTEMPLATE DLG_DRIVE 850 MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Drive Setup", DLG_DRIVE, 106, 46, 263, 145, STY_DIALOG
    BEGIN
        CONTROL "Close",       DID_CLOSE,    5,   5,  38, 12, STY_CLOSEBUTTON |
                                                              WS_GROUP 
        CONTROL "Drive",       ID_NONE,      5, 104, 251, 38, STY_GROUPBOX
        CONTROL "True Drive Emulation",
                               CB_TRUEDRIVE,12, 121,  93, 10, STY_AUTOCHECKBOX
        TEXT("Drive Sync Factor:", 178, 123,  69, 8)
        CONTROL "PAL",         RB_PAL,     178, 111,  39, 10, STY_AUTORADIOBUTTON |
                                                              WS_GROUP
        CONTROL "NTSC",        RB_NTSC,    210, 111,  39, 10, STY_AUTORADIOBUTTON
        TEXT("Drive:", 12, 110, 26, 8)
        CONTROL "8",           RB_DRIVE8,   40, 109,  16, 10, STY_AUTORADIOBUTTON |
                                                              WS_GROUP
        CONTROL "9",           RB_DRIVE9,   62, 109,  16, 10, STY_AUTORADIOBUTTON
        CONTROL "10",          RB_DRIVE10,  83, 109,  21, 10, STY_AUTORADIOBUTTON
        CONTROL "11",          RB_DRIVE11, 107, 109,  21, 10, STY_AUTORADIOBUTTON

        CONTROL "",            ID_NONE,      5,  20, 251, 89, STY_GROUPBOX
        CONTROL "",            CBS_IMAGE, 14, 18, 216/*234*/, 79, WC_COMBOBOX, 
                               CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | 
                               WS_VISIBLE
        CONTROL "...",         PB_ATTACH, 232, 86, 16, 11, STY_PUSHBUTTON
        TEXT("Drive Type:", 151, 73, 45, 8)
        CONTROL "",            CBS_TYPE,   198, 41,  50, 42, WC_COMBOBOX, 
                               CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | 
                               WS_VISIBLE
        CONTROL "Parallel Cable",
                               CB_PARALLEL, 14, 72, 64, 10, STY_AUTOCHECKBOX
        TEXT("Idle Method:", 15, 60, 45, 8)
        CONTROL "None",        RB_NONE,    110, 59, 39, 10, STY_AUTORADIOBUTTON |
                                                            WS_GROUP
        CONTROL "Skip Cycles", RB_SKIP,    196, 59, 55, 10, STY_AUTORADIOBUTTON
        CONTROL "Trap Idle",   RB_TRAP,    148, 59, 44, 10, STY_AUTORADIOBUTTON
        TEXT("Extend 40 Track Image:",  14, 47, 93, 8)
        CONTROL "Never",       RB_NEVER,   110, 47, 39, 10, STY_AUTORADIOBUTTON |
                                                            WS_GROUP
        CONTROL "Always",      RB_ALWAYS,  196, 49, 39, 10, STY_AUTORADIOBUTTON
        CONTROL "Ask",         RB_ASK,     148, 48, 30, 10, STY_AUTORADIOBUTTON 
        CONTROL "Allow FS-Directory Access",
                               CB_ALLOWACCESS, 13, 34, 109, 10, STY_AUTOCHECKBOX
        CONTROL "Convert p00-Filenames",
                               CB_CONVERTP00, 135, 35,  99, 10, STY_AUTOCHECKBOX
        CONTROL "Save p00-Files to FS",
                               CB_SAVEP00,    135, 25,  88, 10, STY_AUTOCHECKBOX
        CONTROL "Hide non-p00-Files",
        		       CB_HIDENONP00,  13, 24,  85, 10, STY_AUTOCHECKBOX
        TEXT("Image:", 142/*97*/, 4, 29, 8)
//        CONTROL "Attach",      PB_ATTACH, 128, 2, 40, 14, STY_PUSHBUTTON
        CONTROL "Detach",      PB_DETACH, 173, 2, 40, 14, STY_PUSHBUTTON
        CONTROL "Flip",        PB_FLIP,   217, 2, 40, 14, STY_PUSHBUTTON
    END
END

DLGTEMPLATE DLG_DATASETTE 850 MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Datasette Control", DLG_DATASETTE, 162, 122, 135, 88, STY_DIALOG
    BEGIN
        CONTROL "Close",        DID_CLOSE, 5, 5, 38, 12, WC_BUTTON,
                                BS_PUSHBUTTON | BS_DEFAULT |
                                WS_GROUP | WS_TABSTOP | WS_VISIBLE
        CONTROL "Datasette",    ID_NONE, 7, 22, 118, 62, WC_STATIC,
                                SS_GROUPBOX | WS_GROUP | WS_VISIBLE
        CONTROL "Rec",          PB_RECORD,  15, 45, 18, 12,  STY_PUSHBUTTON |
                                WS_GROUP
        CONTROL "<<",           PB_REWIND,  35,  45, 18, 12, STY_PUSHBUTTON
        CONTROL "Stop",         PB_START,   55, 45, 18, 12,  STY_PUSHBUTTON
        CONTROL ">",            PB_START,   75, 45, 18, 12,  STY_PUSHBUTTON
        CONTROL ">>",           PB_FORWARD, 95, 45, 18, 12,  STY_PUSHBUTTON
        CONTROL "Reset",        PB_RESET,   15,  30, 38, 12, STY_PUSHBUTTON
    END
END

DLGTEMPLATE DLG_ABOUT 850 MOVEABLE DISCARDABLE
BEGIN
    DIALOG "About Vice...", DLG_ABOUT, 162, 122, 240, 265, STY_DIALOG
    BEGIN
        CONTROL "OK",  DID_CLOSE, 101,  5,  38,  12, STY_CLOSEBUTTON
        CONTROL "",    ID_NONE,     7, 22, 226, 236, STY_GROUPBOX
            TEXT("V I C E",                                         17, 240, 210, 8)
            TEXT("the Versatile Commodore Emulator",                17, 230, 210, 8)
            TEXT("Version " VERSION,                                17, 210, 210, 8)
            TEXT("Copyright © 1996-1999 Ettore Perazzoli",          17, 190, 210, 8)
            TEXT("Copyright © 1996-1999 André Fachat",              17, 180, 210, 8)
            TEXT("Copyright © 1993-1994, 1997-1999 Teemu Rantanen", 17, 170, 210, 8)
            TEXT("Copyright © 1997-1999 Daniel Sladic",             17, 160, 210, 8)
            TEXT("Copyright © 1998-1999 Andreas Boose",             17, 150, 210, 8)
            TEXT("Copyright © 1998-1999 Tibor Biczo",               17, 140, 210, 8)
            TEXT("Copyright © 1993-1996 Jouko Valta",               17, 130, 210, 8)
            TEXT("Copyright © 1993-1994 Jarkko Sonninen",           17, 120, 210, 8)
            TEXT("Vice/2 - Vice for OS/2",                          17, 100, 210, 8)
            TEXT("Copyright © 1999-1999 Thomas Bretz",              17,  90, 210, 8)
            TEXT("reSID engine",                                    17,  70, 210, 8)
            TEXT("Copyright © 1999 Dag Lem",                        17,  60, 210, 8)
            TEXT("Official VICE homepage:",                         17,  40, 210, 8)
            TEXT("http://www.cs.cmu.edu/~dsladic/vice/vice.html",   17,  30, 210, 8)
    END
END

DLGTEMPLATE DLG_EMULATOR 850 MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Emulator Setup", DLG_EMULATOR, 162, 122, 152, 128, STY_DIALOG
    BEGIN
        CONTROL "Close",     DID_CLOSE,  5,  5,  38, 12, STY_CLOSEBUTTON |
                             WS_GROUP 
        CONTROL "Emulator",  ID_NONE,    7, 22, 128, 102, STY_GROUPBOX

        CONTROL "Pause",                       CB_PAUSE,  14, 95,  40,  9, STY_AUTOCHECKBOX
        CONTROL "Emulator Identification",     CB_EMUID,  14, 85, 105,  9, STY_AUTOCHECKBOX
        CONTROL "Video Cache",                 CB_VCACHE, 14, 75,  60,  9, STY_AUTOCHECKBOX
#if defined __X64__ || defined __X128__
        CONTROL "Sprite-Background Collision", CB_SBCOLL, 14, 65, 115,  9, STY_AUTOCHECKBOX
        CONTROL "Sprite-Sprite Collision",     CB_SSCOLL, 14, 55, 105,  9, STY_AUTOCHECKBOX
#endif
	TEXT("Refrash Rate", 13, 43, 50, 8)
        CONTROL "",          CBS_REFRATE, 64, 5, 33, 48, WC_COMBOBOX,
         		     CBS_DROPDOWNLIST | STY_STD

	TEXT("Max.Speed", 13, 30, 50, 8)

        CONTROL "",          SPB_SPEED, 64, 29, 33, 12, STY_SPINBUTTON
                CTLDATA 24, 0, 4, 0, 1, 0, 9999, 0, 0, 0, 0, 0
        CONTROL "100%",      PB_SPEED100, 102, 28,  29, 12, STY_PUSHBUTTON

    END
END

DLGTEMPLATE DLG_MONITOR 850 MOVEABLE DISCARDABLE 
BEGIN
    DIALOG  "Monitor", DLG_MONITOR, 141, 95, 340, 180, STY_DIALOG
    BEGIN
//        CONTROL "",     MLE_MONITOR, 0, 0, 148, 84, WC_MLE, MLS_READONLY | 
//                        MLS_WORDWRAP | MLS_VSCROLL | MLS_IGNORETAB | 
//                        WS_GROUP | WS_TABSTOP | WS_VISIBLE
        LISTBOX         LB_MONOUT, 1, 12, 338, 169, LS_MULTIPLESEL
        ENTRYFIELD "",  EF_MONIN,  2,  2, 336,   8, ES_MARGIN

    END
END

DLGTEMPLATE DLG_CONTENTS 850 MOVEABLE DISCARDABLE 
BEGIN
    DIALOG  "Contents", DLG_CONTENTS, 141, 95, 148, 84, /*FS_SIZEBORDER |*/ STY_DIALOG
    BEGIN
        LISTBOX  LB_CONTENTS, 1, 1, 146, 81
    END
END
