/*
 * dialogs.rc - Resource script file
 *
 * Written by
 *  Thomas Bretz <tbretz@gsi.de>
 *
 * This file is part of VICE, the Versatile Commodore Emulator.
 * See README for copyright notice.
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA
 *  02111-1307  USA.
 *
 */

#include "../../../version.h"

#include "dialogs.h"

POINTER PTR_DRAGOK "..\\icons\\check.ico"
ICON    PTR_INFO   "..\\icons\\info.ico"
ICON    PTR_SKULL  "..\\icons\\skull.ico"
ICON    PTR_NOTE   "..\\icons\\note.ico"

#ifdef __X64__
//DEFAULTICON "..\\icons\\x64.ico"
ICON    IDM_VICE2  "..\\icons\\x64.ico"
#endif

#ifdef __XPET__
//DEFAULTICON "..\\icons\\xpet.ico"
ICON    IDM_VICE2 "..\\icons\\xpet.ico"
POINTER IDM_VICE2 "..\\icons\\xpet.ico"
#endif

#ifdef __XCBM__
//DEFAULTICON "..\\icons\\xcbm2.ico"
ICON    IDM_VICE2 "..\\icons\\xcbm2.ico"
POINTER IDM_VICE2 "..\\icons\\xcbm2.ico"
#endif

#ifdef __X128__
//DEFAULTICON "..\\icons\\x128.ico"
ICON    IDM_VICE2 "..\\icons\\x128.ico"
POINTER IDM_VICE2 "..\\icons\\x128.ico"
#endif

#ifdef __XVIC__
//DEFAULTICON "..\\icons\\xvic.ico"
ICON    IDM_VICE2 "..\\icons\\xvic.ico"
POINTER IDM_VICE2 "..\\icons\\xvic.ico"
#endif

DLGTEMPLATE DLG_ABOUT 850 MOVEABLE DISCARDABLE
BEGIN
  DIALOG "About Vice...", DLG_ABOUT, 162, 122, 240, 260, STY_DIALOG
  PRESPARAMS PP_FONTNAMESIZE, "9.Warp Sans Bold"
  BEGIN
    CONTROL "OK",  DID_CLOSE, 101,  5,  38,  12, STY_CLOSEBUTTON
    CONTROL "",    ID_NONE,     7, 22, 226, 236, STY_GROUPBOX
    ICON IDM_VICE2, ID_NONE, 27, 206, 0, 0
    TEXT("V I C E",                                         17, 240, 210, 8)
    TEXT("the Versatile Commodore Emulator",                17, 230, 210, 8)
    TEXT("Version "VERSION,                                 65, 210,  90, 8)
    TEXT("Copyright ¸ 1996-1999 Ettore Perazzoli",          17, 190, 210, 8)
    TEXT("Copyright ¸ 1996-1999 Andr‚ Fachat",              17, 180, 210, 8)
    TEXT("Copyright ¸ 1993-1994, 1997-1999 Teemu Rantanen", 17, 170, 210, 8)
    TEXT("Copyright ¸ 1997-2001 Daniel Sladic",             17, 160, 210, 8)
    TEXT("Copyright ¸ 1998-2001 Andreas Boose",             17, 150, 210, 8)
    TEXT("Copyright ¸ 1998-2001 Tibor Biczo",               17, 140, 210, 8)
    TEXT("Copyright ¸ 1993-1996 Jouko Valta",               17, 130, 210, 8)
    TEXT("Copyright ¸ 1993-1994 Jarkko Sonninen",           17, 120, 210, 8)
    //    Copyright C 1999-2000 Andreas Dehmel
    //    Copyright C 1999-2000 Andreas Matthies
    TEXT("Vice/2 - Vice for OS/2",                          17, 100, 210, 8)
    TEXT("Copyright ¸ 1999-2001 Thomas Bretz",              17,  90, 210, 8)
    TEXT("reSID engine",                                    17,  70, 210, 8)
    TEXT("Copyright ¸ 1999-2001 Dag Lem",                   17,  60, 210, 8)
    TEXT("Official VICE homepage:",                         17,  40, 210, 8)
    TEXT("http://www.cs.cmu.edu/~dsladic/vice/vice.html",   17,  30, 210, 8)
    //
    // USING zlib 1.1.3
    // USING lpng 1.0.8
    //
  END
END

DLGTEMPLATE DLG_MONITOR 850 MOVEABLE DISCARDABLE 
BEGIN
    DIALOG  "Monitor", DLG_MONITOR, 141, 95, 340, 174, FS_SIZEBORDER | STY_DIALOG
    PRESPARAMS PP_FONTNAMESIZE, "9.Warp Sans Bold"
    BEGIN
        LISTBOX         LB_MONOUT, 0, 11, 340, 163, LS_MULTIPLESEL|LS_NOADJUSTPOS
        ENTRYFIELD "",  EF_MONIN,  1,  1, 338,   8, ES_MARGIN

    END
END             

DLGTEMPLATE DLG_CONTENTS 850 MOVEABLE DISCARDABLE 
BEGIN
    DIALOG  "Contents", DLG_CONTENTS, 141, 95, 152, 88, FS_SIZEBORDER | STY_DIALOG
    PRESPARAMS PP_FONTNAMESIZE, "9.Warp Sans Bold"
    BEGIN
        LISTBOX  LB_CONTENTS, 0, 0, 152, 87, LS_NOADJUSTPOS
    END
END

DLGTEMPLATE DLG_CMDOPT 850 MOVEABLE DISCARDABLE 
BEGIN
    DIALOG  "Commandline Options", DLG_CMDOPT, 141, 95, 152+150, 88+200, \
            FS_SIZEBORDER|FS_TASKLIST|STY_DIALOG
    PRESPARAMS PP_FONTNAMESIZE, "11.System VIO"
    BEGIN
        LISTBOX  LB_CMDOPT, 0, 0, 152+150, 87+200, LS_NOADJUSTPOS|LS_HORZSCROLL
    END
END
