/*
 * dilg-monitor.rc - Resource script file
 *
 * Written by
 *  Thomas Bretz <tbretz@gsi.de>
 *
 * This file is part of VICE, the Versatile Commodore Emulator.
 * See README for copyright notice.
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA
 *  02111-1307  USA.
 *
 */

#include "dialogs.h"
#include "dlg-monitor.h" 

#ifdef WATCOM_COMPILE
#include <pmwin.h>
#endif

#define XM 4
#define YM 6

#define IDTEXT(id, txt,x,y,w,h) CONTROL txt, id, x, y, w, h, WC_STATIC, \
                                       SS_AUTOSIZE | SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE

BITMAP DID_STEPOVER  "..\\icons\\stepover.bmp"
BITMAP DID_STEPINTO  "..\\icons\\stepinto.bmp"
BITMAP DID_MONRETURN "..\\icons\\return.bmp"
BITMAP DID_MONEXIT   "..\\icons\\exit.bmp"
BITMAP DID_MONREC    "..\\icons\\record.bmp"
BITMAP DID_MONPLAY   "..\\icons\\playback.bmp"
BITMAP DID_MONSTOP   "..\\icons\\stop.bmp"

DLGTEMPLATE DLG_MONDIS 850 MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Disassembly", DLG_MONDIS, 181, 95, 152 + 50, 88, FS_SIZEBORDER | FS_NOBYTEALIGN | FS_SCREENALIGN | FS_DLGBORDER | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_TITLEBAR | FCF_MINMAX
    BEGIN
        LISTBOX  LB_MONDIS, 0, 0, 152 + 50, 87, LS_NOADJUSTPOS | LS_HORZSCROLL
        PRESPARAMS PP_FONTNAMESIZE, "11.System VIO"
    END
END

DLGTEMPLATE DLG_MONREG 850 MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Registers", DLG_MONDIS, 181, 95, 100, 88, FS_SIZEBORDER | FS_NOBYTEALIGN | FS_SCREENALIGN | FS_DLGBORDER | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_TITLEBAR | FCF_MINMAX
    BEGIN
        LISTBOX LB_MONDIS, 0, 0, 100, 87, LS_NOADJUSTPOS | LS_HORZSCROLL
        PRESPARAMS PP_FONTNAMESIZE, "11.System VIO"
    END
END

MENU DLG_MONITOR MOVEABLE DISCARDABLE
BEGIN
    SUBMENU "Setup", -1, MIS_TEXT
    BEGIN
        MENUITEM "Side Effects", IDM_SIDEFX, MIS_TEXT
    END
    SUBMENU "Register", IDM_REGISTER, MIS_TEXT
    BEGIN
        MENUITEM "Main ~CPU", IDM_REGCPU, MIS_TEXT
        MENUITEM "Drive ~8", IDM_REGDRV8, MIS_TEXT
        MENUITEM "Drive ~9", IDM_REGDRV9, MIS_TEXT
    END
    SUBMENU "Disassamble", IDM_DISASSABMBLE, MIS_TEXT
    BEGIN
        MENUITEM "Main ~CPU", IDM_DISCPU, MIS_TEXT
        MENUITEM "Drive ~8", IDM_DISDRV8, MIS_TEXT
        MENUITEM "Drive ~9", IDM_DISDRV9, MIS_TEXT
    END
    SUBMENU "Memory", IDM_MEMORY, MIS_TEXT
    BEGIN
        MENUITEM "Main ~CPU", IDM_MEMCPU, MIS_TEXT
        MENUITEM "Drive ~8", IDM_MEMDRV8, MIS_TEXT
        MENUITEM "Drive ~9", IDM_MEMDRV9, MIS_TEXT
    END
    MENUITEM "#16", DID_STEPOVER, MIS_BITMAP | MIS_BREAK
    MENUITEM "#17", DID_STEPINTO, MIS_BITMAP
    MENUITEM "", ID_NONE, MIS_STATIC | MIS_TEXT
    MENUITEM "#18", DID_MONRETURN, MIS_BITMAP
    MENUITEM "#19", DID_MONEXIT, MIS_BITMAP
    MENUITEM "", ID_NONE, MIS_STATIC | MIS_TEXT
    MENUITEM "#20", DID_MONREC, MIS_BITMAP
    MENUITEM "#22", DID_MONSTOP, MIS_BITMAP
    MENUITEM "#21", DID_MONPLAY, MIS_BITMAP
END

DLGTEMPLATE DLG_MONITOR 850 MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Monitor", DLG_MONITOR, 141, 95, 190, 160, FS_SIZEBORDER | FS_NOBYTEALIGN | FS_SCREENALIGN | FS_DLGBORDER | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_TITLEBAR | FCF_MAXBUTTON
    BEGIN
        LISTBOX LB_MONOUT, 0, 11, 190, 149 - 12 - 8, LS_NOADJUSTPOS
        PRESPARAMS PP_FONTNAMESIZE, "11.System VIO"
        ENTRYFIELD "", EF_MONIN, 1, 1, 188, 8, ES_MARGIN
        PRESPARAMS PP_FONTNAMESIZE, "11.System VIO"
    END
END
