/*
 * dlg-color.rc - Resource script file
 *
 * Written by
 *  Thomas Bretz <tbretz@gsi.de>
 *  Marco van den Heuvel <blackystardust68@yahoo.com>
 *
 * This file is part of VICE, the Versatile Commodore Emulator.
 * See README for copyright notice.
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA
 *  02111-1307  USA.
 *
 */

#include "dialogs.h"
#include "dlg-color.h" 

#ifdef WATCOM_COMPILE
#include <pmwin.h>
#include <pmstddlg.h>
#endif

#define STY_SLIDER WC_SLIDER, SLS_HORIZONTAL | SLS_BOTTOM | SLS_BUTTONSRIGHT | SLS_HOMELEFT | SLS_RIBBONSTRIP | SLS_SNAPTOINCREMENT | SLS_PRIMARYSCALE1 | WS_TABSTOP | WS_VISIBLE

DLGTEMPLATE DLG_COLOR 850 MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Video Color Settings", DLG_COLOR, 162, 122, 200, 103, STY_DIALOG | FCF_CLOSEBUTTON
    PRESPARAMS PP_FONTNAMESIZE, "9.Warp Sans Bold"
    BEGIN
        CONTROL "Close", DID_CLOSE, 7, 5, 38, 12, STY_CLOSEBUTTON | WS_GROUP
        CONTROL "Defaults", ID_DEFAULT, 150, 5, 44, 12, STY_PUSHBUTTON
        CONTROL "Color", ID_NONE, 7, 22, 186, 77, STY_GROUPBOX

        TEXT("Gamma", 12, 65)
        TEXT("Tint", 12, 55)
        TEXT("Saturation", 12, 45)
        TEXT("Contrast", 12, 35)
        TEXT("Brightness", 12, 25)

        CONTROL "", ID_GAMMA,   56, 65, 135, 10, STY_SLIDER
            CTLDATA 12, 0, 201, 0, 0, 0
        CONTROL "", ID_TINT, 56, 55, 135, 10, STY_SLIDER
            CTLDATA 12, 0, 201, 0, 0, 0
        CONTROL "", ID_SATURATION, 56  45, 135, 10, STY_SLIDER
            CTLDATA 12, 0, 201, 0, 0, 0
        CONTROL "", ID_CONTRAST, 56  35, 135, 10, STY_SLIDER
            CTLDATA 12, 0, 201, 0, 0, 0
        CONTROL "", ID_BRIGHTNESS, 56  25, 135, 10, STY_SLIDER
            CTLDATA 12, 0, 201, 0, 0, 0
    END
END

DLGTEMPLATE DLG_CRT 850 MOVEABLE DISCARDABLE
BEGIN
    DIALOG "CRT Settings", DLG_CRT, 162, 122, 200, 103, STY_DIALOG | FCF_CLOSEBUTTON
    PRESPARAMS PP_FONTNAMESIZE, "9.Warp Sans Bold"
    BEGIN
        CONTROL "Close", DID_CLOSE, 7, 5, 38, 12, STY_CLOSEBUTTON | WS_GROUP
        CONTROL "Defaults", ID_DEFAULT, 150, 5, 44, 12, STY_PUSHBUTTON
        CONTROL "CRT settings", ID_NONE, 7, 22, 186, 77, STY_GROUPBOX

        TEXT("Scanline shade", 12, 55)
        TEXT("Blur", 12, 45)
        TEXT("Odd lines phase", 12, 35)
        TEXT("Odd lines offset", 12, 25)

        CONTROL "", ID_SCANLINE_SHADE, 56, 55, 135, 10, STY_SLIDER
            CTLDATA 12, 0, 201, 0, 0, 0
        CONTROL "", ID_BLUR, 56  45, 135, 10, STY_SLIDER
            CTLDATA 12, 0, 201, 0, 0, 0
        CONTROL "", ID_ODDLINES_PHASE, 56  35, 135, 10, STY_SLIDER
            CTLDATA 12, 0, 201, 0, 0, 0
        CONTROL "", ID_ODDLINES_OFFSET, 56  25, 135, 10, STY_SLIDER
            CTLDATA 12, 0, 201, 0, 0, 0
    END
END
