/*
 * dialogs.rc - Resource script file
 *
 * Written by
 *  Thomas Bretz <tbretz@gsi.de>
 *
 * This file is part of VICE, the Versatile Commodore Emulator.
 * See README for copyright notice.
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA
 *  02111-1307  USA.
 *
 */

#include "dialogs.h"
#include "dlg-emulator.h" 

#ifdef WATCOM_COMPILE
#include <pmwin.h>
#include <pmstddlg.h>
#endif

DLGTEMPLATE DLG_EMULATOR 850 MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Emulator Setup", DLG_EMULATOR, 162, 122, 152 + 35, 123, STY_DIALOG | FCF_CLOSEBUTTON
    PRESPARAMS PP_FONTNAMESIZE, "9.Warp Sans Bold"
    BEGIN
        CONTROL "Close", DID_CLOSE, 5, 5, 38, 12, STY_CLOSEBUTTON | WS_GROUP 
        CONTROL "Emulator", ID_NONE, 7, 22, 128 + 43, 97, STY_GROUPBOX
        TEXT("Save Snapshot as:", 14, 98)
        CONTROL "", CBS_SPSNAME, 14, 8 + 41, 216 - 75, 79 - 30, WC_COMBOBOX, CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VISIBLE
        CONTROL "...", PB_SPSCHANGE, 232 - 75, 79 + 38 - 30, 16, 11, STY_PUSHBUTTON
        TEXT("Save Screenshot as:", 14, 73)
#ifdef HAVE_PNG
        CONTROL "BMP", RB_BMP, 110, 74, 30, 10, STY_AUTORADIOBUTTON | WS_GROUP
        CONTROL "PNG", RB_PNG, 145, 74, 30, 10, STY_AUTORADIOBUTTON
#endif // HAVE_PNG
        CONTROL "", CBS_SSNAME, 14, 8 + 16, 216 - 75, 79 - 30, WC_COMBOBOX, CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VISIBLE
        CONTROL "...", PB_SSCHANGE, 232 - 75, 76 + 16 - 30, 16, 11, STY_PUSHBUTTON
        CONTROL "Refresh Rate", ID_NONE, 14, 43, 55, 9, STY_TEXT
        CONTROL "0fps", ID_REFRATEDISP, 105, 43, 35, 9, STY_TEXT | DT_CENTER
        CONTROL "", CBS_REFRATE, 70, 5, 33, 48, WC_COMBOBOX, CBS_DROPDOWNLIST | STY_STD
        CONTROL "Max.Speed", ID_NONE, 14, 29, 50, 9, STY_TEXT
        CONTROL "---%", ID_SPEEDDISP, 105, 29, 35, 9, STY_TEXT | DT_CENTER
        CONTROL "100%", PB_SPEED100, 141, 28, 33, 12, STY_PUSHBUTTON
        CONTROL "", SPB_SPEED, 70, 29, 33, 12, STY_SPINBUTTON
            CTLDATA 24, 0, 4, 0, 1, 0, 9999, 0, 0, 0, 0, 0
    END
END
