/*
 * dialogs.rc - Resource script file
 *
 * Written by
 *  Marco van den Heuvel <blackystardust68@yahoo.com>
 *
 * This file is part of VICE, the Versatile Commodore Emulator.
 * See README for copyright notice.
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA
 *  02111-1307  USA.
 *
 */

#include "dialogs.h"
#include "dlg-ide64.h" 

#ifdef WATCOM_COMPILE
#include <pmwin.h>
#include <pmstddlg.h>
#endif

DLGTEMPLATE DLG_IDE64 850 MOVEABLE DISCARDABLE
BEGIN
    DIALOG "IDE64 Geometry Control", DLG_IDE64, 162, 122, 157, 100, STY_DIALOG | FCF_CLOSEBUTTON
    PRESPARAMS PP_FONTNAMESIZE, "9.Warp Sans Bold"
    BEGIN
        CONTROL "Close", DID_CLOSE, 6, 5, 38, 12, STY_CLOSEBUTTON | WS_GROUP

        TEXT("Sectors", 14, 65)
        CONTROL "", IDE64_SECTORS, 74, 64, 38, 12, STY_SPINBUTTON
            CTLDATA 24, 0, 2, 0, 0, 0, 63, 0, 0, 0, 0, 0

        TEXT("Heads", 14, 45)
        CONTROL "", IDE64_HEADS, 74, 44, 38, 12, STY_SPINBUTTON
            CTLDATA 24, 0, 2, 0, 1, 0, 16, 0, 0, 0, 0, 0

        TEXT("Cylinders", 14, 25)
        CONTROL "", IDE64_CYLS, 74, 24, 38, 12, STY_SPINBUTTON
            CTLDATA 24, 0, 4, 0, 1, 0, 65535, 0, 0, 0, 0, 0
    END
END
