/*
 * dialogs.rc - Resource script file
 *
 * Written by
 *  Thomas Bretz <tbretz@gsi.de>
 *
 * This file is part of VICE, the Versatile Commodore Emulator.
 * See README for copyright notice.
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA
 *  02111-1307  USA.
 *
 */

#include "dialogs.h"
#include "dlg-vsid.h" 

DLGTEMPLATE DLG_VSID 850 MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Vice/2 SID Player", DLG_VSID, 162, 131, 170, 106, STY_DIALOG | FCF_SYSMENU | FCF_TASKLIST | FCF_MENU | FCF_AUTOICON | FCF_MINBUTTON | FCF_CLOSEBUTTON
    PRESPARAMS PP_FONTNAMESIZE, "9.Warp Sans Bold"
    BEGIN
        CONTROL "Tune:", ID_NONE, 10, 93, 25, 9, STY_TEXT
        CONTROL "0", ID_TUNENO, 35, 93, 12, 9, STY_TEXT | DT_RIGHT
        CONTROL "of", ID_NONE, 49, 93, 12, 9, STY_TEXT | DT_CENTER
        CONTROL "0", ID_TUNES, 61, 93, 12, 9, STY_TEXT
        CONTROL "", SPB_SETTUNE, 77, 93, 23, 12, STY_SPINBUTTON
            CTLDATA 24, 0, 2, 0, 1, 0, 99, 0, 0, 0, 0, 0
        CONTROL "Time:", ID_NONE, 115, 93, 25, 9, STY_TEXT
        CONTROL "00:00", ID_TIME, 140, 93, 30, 9, STY_TEXT
        CONTROL "Playing:", ID_TBOX, 5, 24, 158, 69, STY_GROUPBOX
        CONTROL "Name", ID_TNAME, 10, 72, 150, 9, STY_TEXT
        CONTROL "Author", ID_TAUTHOR, 10, 63, 150, 9, STY_TEXT
        CONTROL "Copyright", ID_TCOPYRIGHT, 10, 54, 150, 9, STY_TEXT
        CONTROL "", ID_TSYNC, 10, 45, 150, 9, STY_TEXT
        CONTROL "", ID_TIRQ, 10, 36, 150, 9, STY_TEXT
        CONTROL "", ID_TSID, 10, 27, 150, 9, STY_TEXT
        CONTROL "Close", DID_CLOSE, 7, 5, 38, 12, STY_CLOSEBUTTON | WS_GROUP 
    END
END
