/*
 * dialogs.rc - Resource script file
 *
 * Written by
 *  Thomas Bretz <tbretz@gsi.de>
 *
 * This file is part of VICE, the Versatile Commodore Emulator.
 * See README for copyright notice.
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA
 *  02111-1307  USA.
 *
 */
 
#include "dialogs.h"
#include "dlg-drive.h" 

#include <pmwin.h>
#include <pmstddlg.h>

DLGTEMPLATE DLG_DRIVE 850 MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Drive Setup", DLG_DRIVE, 106, 46, 263, 204 + 16, STY_DIALOG | FCF_CLOSEBUTTON
    PRESPARAMS PP_FONTNAMESIZE, "9.Warp Sans Bold"
    BEGIN
        CONTROL "Close", DID_CLOSE, 5, 4, 40, 12, STY_CLOSEBUTTON | WS_GROUP 
        CONTROL "True Drive Emulation", CB_TRUEDRIVE, 12, 183 + 16, 100, 10, STY_AUTOCHECKBOX
        TEXT("Track:", 12, 189)
        CONTROL "", SPB_TRACK8, 42, 189, 15, 12, STY_STATUSDLG
            CTLDATA 24, 0, 2, 0, 0, 0, 50, 0, 0, 0, 0, 0
        CONTROL "+", SS_HALFTRACK8, 58, 189, 5, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | WS_VISIBLE
        CONTROL "", SPB_TRACK9, 66, 189, 15, 12,  STY_STATUSDLG
            CTLDATA 24, 0, 2, 0, 0, 0, 50, 0, 0, 0, 0, 0
        CONTROL "+", SS_HALFTRACK9, 82, 189,  5, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | WS_VISIBLE
        CONTROL "LED8", SS_LED8, 89, 189, 22, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | WS_VISIBLE
        CONTROL "LED9", SS_LED9, 115, 189, 22, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | WS_VISIBLE
        TEXT("Drive:", 130, 200)
        CONTROL "8", RB_DRIVE8, 160, 199, 16, 10, STY_AUTORADIOBUTTON | WS_GROUP
        CONTROL "9", RB_DRIVE9, 182, 199, 16, 10, STY_AUTORADIOBUTTON
        CONTROL "10", RB_DRIVE10, 204, 199, 21, 10, STY_AUTORADIOBUTTON
        CONTROL "11", RB_DRIVE11, 227, 199, 21, 10, STY_AUTORADIOBUTTON
        CONTROL "", CBS_IMAGE, 14, 80, 216, 89, WC_COMBOBOX, CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VISIBLE
        CONTROL "...", PB_ATTACH, 232, 158, 16, 11, STY_PUSHBUTTON
        CONTROL "", CBS_PATH, 14, 172, 216, 10, WC_SPINBUTTON, SPBS_JUSTLEFT | STY_STD
            CTLDATA 24, 0, 255, 0, 0, 0, 0, 0, 0, 0, 0, 0
        TEXT("Drive Type:", 133, 131)
        CONTROL "", CBS_TYPE, 133, 87, 115, 42, WC_COMBOBOX, CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VISIBLE
        CONTROL "Readonly", CB_READONLY, 14, 145, 50, 10, STY_AUTOCHECKBOX
        TEXT("Parallel Cable:", 14, 131)
        CONTROL "", CBS_PARALLEL, 14, 87, 115, 42, WC_COMBOBOX, CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VISIBLE
        TEXT("Idle Method:", 13, 106)
        CONTROL "None", RB_NONE, 111, 105, 39, 10, STY_AUTORADIOBUTTON | WS_GROUP
        CONTROL "Skip Cycles", RB_SKIP, 196, 105, 62, 10, STY_AUTORADIOBUTTON
        CONTROL "Trap Idle", RB_TRAP, 146, 105, 48, 10, STY_AUTORADIOBUTTON
        TEXT("Extend 40 Track Image:", 13, 96)
        CONTROL "Never", RB_NEVER, 111, 95, 39, 10, STY_AUTORADIOBUTTON | WS_GROUP
        CONTROL "Always", RB_ALWAYS, 196, 95, 45, 10, STY_AUTORADIOBUTTON
        CONTROL "Ask", RB_ASK, 146, 95, 30, 10, STY_AUTORADIOBUTTON
        CONTROL "Allow filesystem access", CB_ALLOWACCESS, 13, 80, 119, 10, STY_AUTOCHECKBOX
        CONTROL "Allow use of p00-files", CB_CONVERTP00, 140, 80, 114, 10, STY_AUTOCHECKBOX
        CONTROL "Save p00-type-files", CB_SAVEP00, 140, 70, 98, 10, STY_AUTOCHECKBOX
        CONTROL "Hide non-p00-files", CB_HIDENONP00, 13, 70, 95, 10, STY_AUTOCHECKBOX
        TEXT("Enable 8kB Memory Extension:", 13, 58)
        CONTROL "$2000-$3FFF", CB_MEM2000, 13, 48, 75, 10, STY_AUTOCHECKBOX
        CONTROL "$4000-$5FFF", CB_MEM4000, 93, 48, 75, 10, STY_AUTOCHECKBOX
        CONTROL "$6000-$7FFF", CB_MEM6000, 173, 48, 75, 10, STY_AUTOCHECKBOX
        CONTROL "$8000-$9FFF", CB_MEM8000, 13, 38, 75, 10, STY_AUTOCHECKBOX
        CONTROL "$A000-$BFFF", CB_MEMA000, 93, 38, 75, 10, STY_AUTOCHECKBOX
        TEXT("Fliplist:", 98, 20)
        CONTROL "Add", PB_FLIPADD, 129, 18, 40, 12, STY_PUSHBUTTON
        CONTROL "Remove", PB_FLIPREMOVE, 173, 18, 40, 12, STY_PUSHBUTTON
        CONTROL "Flip", PB_FLIP, 217, 18, 40, 12, STY_PUSHBUTTON
        TEXT("Image:", 98, 6)
        CONTROL "Create", PB_CREATE, 129, 4, 40, 12, STY_PUSHBUTTON
        CONTROL "Attach", PB_ATTACH, 173, 4, 40, 12, STY_PUSHBUTTON
        CONTROL "Detach", PB_DETACH, 217, 4, 40, 12, STY_PUSHBUTTON
    END
END
