/*
 * dialogs.rc - Resource script file
 *
 * Written by
 *  Thomas Bretz <tbretz@gsi.de>
 *
 * This file is part of VICE, the Versatile Commodore Emulator.
 * See README for copyright notice.
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA
 *  02111-1307  USA.
 *
 */

#include "dialogs.h"
#include "dlg-joystick.h" 

#ifdef WATCOM_COMPILE
#include <pmwin.h>
#include <pmstddlg.h>
#endif

DLGTEMPLATE DLG_JOYSTICK 850 MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Joystick Setup", DLG_JOYSTICK, 162, 122, 169, 98, STY_DIALOG | FCF_CLOSEBUTTON
    PRESPARAMS PP_FONTNAMESIZE, "9.Warp Sans Bold"
    BEGIN
        CONTROL "Close", DID_CLOSE, 5, 5, 38, 12, STY_CLOSEBUTTON | WS_GROUP 
        CONTROL "Joystick", ID_NONE, 7, 22, 155, 72, STY_GROUPBOX
        CONTROL "", CB_JOY11, 67, 65, 9, 9, STY_AUTOCHECKBOX
        CONTROL "", CB_JOY12, 100, 65, 9, 9, STY_AUTOCHECKBOX
        CONTROL "", CB_JOY21, 67, 55, 9, 9, STY_AUTOCHECKBOX
        CONTROL "", CB_JOY22, 100, 55, 9, 9, STY_AUTOCHECKBOX
        CONTROL "", CB_NUMJOY1, 67, 45, 9, 9, STY_AUTOCHECKBOX
        CONTROL "", CB_NUMJOY2, 100, 45, 9, 9, STY_AUTOCHECKBOX
        CONTROL "", CB_KS1JOY1, 67, 35, 9, 9, STY_AUTOCHECKBOX
        CONTROL "", CB_KS1JOY2, 100, 35, 9, 9, STY_AUTOCHECKBOX
        CONTROL "", CB_KS2JOY1, 67, 25, 9, 9, STY_AUTOCHECKBOX
        CONTROL "", CB_KS2JOY2, 100, 25, 9, 9, STY_AUTOCHECKBOX
        CONTROL "Calib", ID_CALIBRATE, 115, 58, 38, 13, STY_PUSHBUTTON
        CONTROL "Keyset", ID_KEYSET, 115, 28, 38, 13, STY_PUSHBUTTON
        TEXT("Port#1", 57, 75)
        TEXT("Port#2", 89, 75)
        TEXT("Joy#1", 13, 65)
        TEXT("Joy#2", 13, 55)
        TEXT("NumPad", 13, 45)
        TEXT("KeySet#1", 13, 35)
        TEXT("KeySet#2", 13, 25)
        CONTROL "Swap", ID_SWAP, 69, 5, 38, 12, STY_PUSHBUTTON
    END
END

DLGTEMPLATE DLG_EXTRA_JOYSTICK 850 MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Extra Joystick Setup", DLG_EXTRA_JOYSTICK, 162, 122, 169, 98, STY_DIALOG | FCF_CLOSEBUTTON
    PRESPARAMS PP_FONTNAMESIZE, "9.Warp Sans Bold"
    BEGIN
        CONTROL "Close", DID_CLOSE, 5, 5, 38, 12, STY_CLOSEBUTTON | WS_GROUP 
        CONTROL "Joystick", ID_NONE, 7, 22, 155, 72, STY_GROUPBOX
        CONTROL "", CB_JOY11, 67, 65, 9, 9, STY_AUTOCHECKBOX
        CONTROL "", CB_JOY12, 100, 65, 9, 9, STY_AUTOCHECKBOX
        CONTROL "", CB_JOY21, 67, 55, 9, 9, STY_AUTOCHECKBOX
        CONTROL "", CB_JOY22, 100, 55, 9, 9, STY_AUTOCHECKBOX
        CONTROL "", CB_NUMJOY1, 67, 45, 9, 9, STY_AUTOCHECKBOX
        CONTROL "", CB_NUMJOY2, 100, 45, 9, 9, STY_AUTOCHECKBOX
        CONTROL "", CB_KS1JOY1, 67, 35, 9, 9, STY_AUTOCHECKBOX
        CONTROL "", CB_KS1JOY2, 100, 35, 9, 9, STY_AUTOCHECKBOX
        CONTROL "", CB_KS2JOY1, 67, 25, 9, 9, STY_AUTOCHECKBOX
        CONTROL "", CB_KS2JOY2, 100, 25, 9, 9, STY_AUTOCHECKBOX
        CONTROL "Calib", ID_CALIBRATE, 115, 58, 38, 13, STY_PUSHBUTTON
        CONTROL "Keyset", ID_KEYSET, 115, 28, 38, 13, STY_PUSHBUTTON
        TEXT("Port#1", 57, 75)
        TEXT("Port#2", 89, 75)
        TEXT("Joy#1", 13, 65)
        TEXT("Joy#2", 13, 55)
        TEXT("NumPad", 13, 45)
        TEXT("KeySet#1", 13, 35)
        TEXT("KeySet#2", 13, 25)
        CONTROL "Swap", ID_SWAP, 69, 5, 38, 12, STY_PUSHBUTTON
    END
END

DLGTEMPLATE DLG_CALIBRATE 850 MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Joystick Calibration", DLG_CALIBRATE, 162, 122, 155, 103, STY_DIALOG | FCF_CLOSEBUTTON
    PRESPARAMS PP_FONTNAMESIZE, "9.Warp Sans Bold"
    BEGIN
        CONTROL "Close", DID_CLOSE, 5, 5, 38, 12, STY_CLOSEBUTTON | WS_GROUP 
        CONTROL "Calibration", ID_NONE, 7, 22, 138, 77, STY_GROUPBOX
        CONTROL "Joy#1", RB_JOY1, 15, 80, 35, 8, STY_AUTORADIOBUTTON | WS_GROUP
        CONTROL "Joy#2", RB_JOY2, 15, 70, 35, 8, STY_AUTORADIOBUTTON
        CONTROL "", SPB_UP, 82, 79, 35, 12, STY_SPINBUTTON
            CTLDATA 24, 0, 4, 0, 0, 0, 1024, 0, 0, 0, 0, 0
        CONTROL "", SPB_DOWN, 82, 53, 35, 12, STY_SPINBUTTON
            CTLDATA 24, 0, 4, 0, 0, 0, 1024, 0, 0, 0, 0, 0
        CONTROL "", SPB_LEFT, 62, 66, 35, 12, STY_SPINBUTTON
            CTLDATA 24, 0, 4, 0, 0, 0, 1024, 0, 0, 0, 0, 0
        CONTROL "", SPB_RIGHT, 102, 66, 35, 12, STY_SPINBUTTON
            CTLDATA 24, 0, 4, 0, 0, 0, 1024, 0, 0, 0, 0, 0
        TEXT("Autocalibration", 15, 41)
        CONTROL "Start", ID_START, 13, 27, 38, 12, STY_PUSHBUTTON | WS_GROUP
        CONTROL "Stop", ID_STOP, 56, 27, 38, 12, STY_PUSHBUTTON
        CONTROL "Reset", ID_RESET, 99, 27, 38, 12, STY_PUSHBUTTON
    END
END

DLGTEMPLATE DLG_KEYSET 850 MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Joystick Keysets", DLG_KEYSET, 162, 122, 115, 103, STY_DIALOG|FCF_CLOSEBUTTON
    PRESPARAMS PP_FONTNAMESIZE, "9.Warp Sans Bold"
    BEGIN
        CONTROL "Close", DID_CLOSE, 5, 5, 38, 12, STY_CLOSEBUTTON | WS_GROUP 
        CONTROL "Keyset", ID_NONE, 7, 22, 100, 77, STY_GROUPBOX
        CONTROL "Set#1", RB_SET1, 15, 80, 35, 8, STY_AUTORADIOBUTTON | WS_GROUP
        CONTROL "Set#2", RB_SET2, 15, 70, 35, 8, STY_AUTORADIOBUTTON
        CONTROL "", SPB_NW, 16, 53, 25, 12, STY_DISPVAL
            CTLDATA 24, 0, 4, 0, 0, 0, 255, 0, 0, 0, 0, 0
        CONTROL "", SPB_N, 44, 55, 25, 12, STY_DISPVAL
            CTLDATA 24, 0, 4, 0, 0, 0, 255, 0, 0, 0, 0, 0
        CONTROL "", SPB_NE, 72, 53, 25, 12, STY_DISPVAL
            CTLDATA 24, 0, 4, 0, 0, 0, 255, 0, 0, 0, 0, 0
        CONTROL "", SPB_W, 14, 41, 25, 12, STY_DISPVAL
            CTLDATA 24, 0, 4, 0, 0, 0, 255, 0, 0, 0, 0, 0
        CONTROL "", SPB_FIRE, 44, 41, 25, 12, STY_DISPVAL
            CTLDATA 24, 0, 4, 0, 0, 0, 255, 0, 0, 0, 0, 0
        CONTROL "", SPB_E, 74, 41, 25, 12, STY_DISPVAL
            CTLDATA 24, 0, 4, 0, 0, 0, 255, 0, 0, 0, 0, 0
        CONTROL "", SPB_SW, 16, 29, 25, 12, STY_DISPVAL
            CTLDATA 24, 0, 4, 0, 0, 0, 255, 0, 0, 0, 0, 0
        CONTROL "", SPB_S, 44, 27, 25, 12, STY_DISPVAL
            CTLDATA 24, 0, 4, 0, 0, 0, 255, 0, 0, 0, 0, 0
        CONTROL "", SPB_SE, 72, 29, 25, 12, STY_DISPVAL
            CTLDATA 24, 0, 4, 0, 0, 0, 255, 0, 0, 0, 0, 0
        TEXT("NW", 61, 82)
        TEXT("W", 59, 75)
        TEXT("SW", 61, 68)
 
        TEXT("N", 77, 84)
        TEXT("Fire", 72, 75)
        TEXT("S", 77, 66)
        
        TEXT("NE", 87, 82)
        TEXT("E", 94, 75)
        TEXT("SE", 86, 68)
    END
END
