// C128 specific resources.
//
#include "config.h"
#include "debug.h"
#include "res.rc"
#include "resreu.rc"
#include "ressid.rc"
#include "resvicii.rc"

#ifdef HAVE_TFE
#include "restfe.rc"
#endif // #ifdef HAVE_TFE


/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MENUC128 MENU DISCARDABLE
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Autostart disk/tape image...", IDM_AUTOSTART
        MENUITEM SEPARATOR
        POPUP "Attach &disk image"
        BEGIN
            MENUITEM "Drive &8\tAlt+8",  IDM_ATTACH_8
            MENUITEM "Drive &9\tAlt+9",  IDM_ATTACH_9
            MENUITEM "Drive 1&0\tAlt+0", IDM_ATTACH_10
            MENUITEM "Drive &11\tAlt+1", IDM_ATTACH_11
        END
        POPUP "D&etach disk image"
        BEGIN
            MENUITEM "Drive &8",  IDM_DETACH_8
            MENUITEM "Drive &9",  IDM_DETACH_9
            MENUITEM "Drive 1&0", IDM_DETACH_10
            MENUITEM "Drive &11", IDM_DETACH_11
            MENUITEM SEPARATOR
            MENUITEM "&All\tAlt+A", IDM_DETACH_ALL
        END
        POPUP "&Flip list"
        BEGIN
            MENUITEM "&Add current image\tAlt-I",     IDM_FLIP_ADD
            MENUITEM "&Remove current image\tAlt-K",  IDM_FLIP_REMOVE
            MENUITEM "Attach &next image\tAlt-N",     IDM_FLIP_NEXT
            MENUITEM "Attach &previous image\tAlt-B", IDM_FLIP_PREVIOUS
            MENUITEM SEPARATOR
            MENUITEM "&Load flip list", IDM_FLIP_LOAD
            MENUITEM "&Save flip list", IDM_FLIP_SAVE
        END
        MENUITEM SEPARATOR
        MENUITEM "Attach &tape image...\tAlt+T", IDM_ATTACH_TAPE
        MENUITEM "Detac&h tape image",           IDM_DETACH_TAPE
        POPUP "Datassette contro&l"
        BEGIN
            MENUITEM "S&top",          IDM_DATASETTE_CONTROL_STOP
            MENUITEM "&Start",         IDM_DATASETTE_CONTROL_START
            MENUITEM "&Forward",       IDM_DATASETTE_CONTROL_FORWARD
            MENUITEM "&Rewind",        IDM_DATASETTE_CONTROL_REWIND
            MENUITEM "Re&cord",        IDM_DATASETTE_CONTROL_RECORD
            MENUITEM "R&eset",         IDM_DATASETTE_CONTROL_RESET
            MENUITEM "Reset C&ounter", IDM_DATASETTE_RESET_COUNTER
        END
        MENUITEM SEPARATOR
        POPUP "Attach &cartridge image..."
        BEGIN
            MENUITEM "&CRT image...",               IDM_CART_ATTACH_CRT
            MENUITEM SEPARATOR
            MENUITEM "Generic &8KB image...",       IDM_CART_ATTACH_8KB
            MENUITEM "Generic &16KB image...",      IDM_CART_ATTACH_16KB
            MENUITEM "&Action Replay image...",     IDM_CART_ATTACH_AR
            MENUITEM "Atomic &Power image...",      IDM_CART_ATTACH_AT
            MENUITEM "&Epyx fastload image...",     IDM_CART_ATTACH_EPYX
            MENUITEM "&IEEE488 interface image...", IDM_CART_ATTACH_IEEE488
            MENUITEM "&Retro Replay image...",      IDM_CART_ATTACH_RR
            MENUITEM "IDE&64 interface image...",   IDM_CART_ATTACH_IDE64
            MENUITEM "Super Snapshot &4 image...",  IDM_CART_ATTACH_SS4
            MENUITEM "Super Snapshot &5 image...",  IDM_CART_ATTACH_SS5
            POPUP "Expert Cartridge"
            BEGIN
                MENUITEM "Enable", IDM_CART_ENABLE_EXPERT
                MENUITEM SEPARATOR
                MENUITEM "Off",    IDM_CART_MODE_OFF
                MENUITEM "Prg",    IDM_CART_MODE_PRG
                MENUITEM "On",     IDM_CART_MODE_ON
            END
            MENUITEM SEPARATOR
            MENUITEM "Set cartridge as &default", IDM_CART_SET_DEFAULT
            MENUITEM "Reset &on cart change", IDM_TOGGLE_CART_RESET
        END
        MENUITEM "Detach cartridge &image",  IDM_CART_DETACH
        MENUITEM "Cartridge free&ze\tAlt+Z", IDM_CART_FREEZE
        MENUITEM SEPARATOR
        MENUITEM "&Pause\tAlt+Pause", IDM_PAUSE
        , CHECKED
        MENUITEM "&Monitor\tAlt+M", IDM_MONITOR
        POPUP "&Reset"
        BEGIN
            MENUITEM "&Hard\tCtrl+Alt+R", IDM_RESET_HARD
            MENUITEM "&Soft\tAlt+R",      IDM_RESET_SOFT
            MENUITEM SEPARATOR
            MENUITEM "Drive #&8",         IDM_RESET_DRIVE8
            MENUITEM "Drive #&9",         IDM_RESET_DRIVE9
            MENUITEM "Drive #1&0",        IDM_RESET_DRIVE10
            MENUITEM "Drive #&11",        IDM_RESET_DRIVE11
        END
#ifdef DEBUG
        POPUP "&Debug"
        BEGIN
            MENUITEM "&Main CPU Trace\tAlt+F", IDM_TOGGLE_MAINCPU_TRACE, CHECKED
            MENUITEM "Drive&0 CPU Trace\tAlt+G", IDM_TOGGLE_DRIVE0CPU_TRACE, CHECKED
            MENUITEM "Drive&1 CPU Trace\tAlt+H", IDM_TOGGLE_DRIVE1CPU_TRACE, CHECKED
        END
#endif
        MENUITEM SEPARATOR
        MENUITEM "E&xit\tAlt+X", IDM_EXIT
    END
    POPUP "Sna&pshot"
    BEGIN
        MENUITEM "Load snapshot &image...",          IDM_SNAPSHOT_LOAD
        MENUITEM "Save sna&pshot image...",          IDM_SNAPSHOT_SAVE
        MENUITEM "&Load quicksnapshot image\tAlt+L", IDM_LOADQUICK
        MENUITEM "&Save quicksnapshot image\tAlt+S", IDM_SAVEQUICK
        MENUITEM SEPARATOR
        MENUITEM "Start/Stop &Recording",       IDM_EVENT_TOGGLE_RECORD
        MENUITEM "Start/Stop Pl&ayback",        IDM_EVENT_TOGGLE_PLAYBACK
        MENUITEM "Set Recording Milestone\tAlt-E",  IDM_EVENT_SETMILESTONE
        MENUITEM "Return to Milestone\tALt-U",      IDM_EVENT_RESETMILESTONE
        POPUP "Recording start mode"
        BEGIN
            MENUITEM "&Save new snapshot",      IDM_EVENT_RECORDMODE_SAVE
            MENUITEM "&Load existing snapshot", IDM_EVENT_RECORDMODE_LOAD
            MENUITEM "Start with &reset",       IDM_EVENT_RECORDMODE_RESET
        END
        MENUITEM SEPARATOR
        MENUITEM "Save/stop media file...\tAlt+C", IDM_MEDIAFILE
    END
    POPUP "&Options"
    BEGIN
        POPUP "&Refresh rate"
        BEGIN
            MENUITEM "&Auto",   IDM_REFRESH_RATE_AUTO
            MENUITEM "1/&1",    IDM_REFRESH_RATE_1
            MENUITEM "1/&2",    IDM_REFRESH_RATE_2
            MENUITEM "1/&3",    IDM_REFRESH_RATE_3
            MENUITEM "1/&4",    IDM_REFRESH_RATE_4
            MENUITEM "1/&5",    IDM_REFRESH_RATE_5
            MENUITEM "1/&6",    IDM_REFRESH_RATE_6
            MENUITEM "1/&7",    IDM_REFRESH_RATE_7
            MENUITEM "1/&8",    IDM_REFRESH_RATE_8
            MENUITEM "1/&9",    IDM_REFRESH_RATE_9
            MENUITEM "1/1&0",   IDM_REFRESH_RATE_10
#if 0
            MENUITEM SEPARATOR
            MENUITEM "&Custom", IDM_REFRESH_RATE_CUSTOM
#endif
        END
        POPUP "&Maximum Speed"
        BEGIN
            MENUITEM "&200%",     IDM_MAXIMUM_SPEED_200
            MENUITEM "&100%",     IDM_MAXIMUM_SPEED_100
            MENUITEM "&50%",      IDM_MAXIMUM_SPEED_50
            MENUITEM "&20%",      IDM_MAXIMUM_SPEED_20
            MENUITEM "1&0%",      IDM_MAXIMUM_SPEED_10
            MENUITEM "No &limit", IDM_MAXIMUM_SPEED_NO_LIMIT
            MENUITEM SEPARATOR
            MENUITEM "&Custom",   IDM_MAXIMUM_SPEED_CUSTOM
        END
        MENUITEM "&Warp mode\tAlt+W", IDM_TOGGLE_WARP_MODE
            , CHECKED
//        MENUITEM SEPARATOR
//        MENUITEM "Fullscreen\tAlt+D", IDM_TOGGLE_FULLSCREEN
        MENUITEM SEPARATOR
        MENUITEM "Video &cache", IDM_TOGGLE_VIDEOCACHE
            , CHECKED
        MENUITEM "&Double size", IDM_TOGGLE_DOUBLESIZE
            , CHECKED
        MENUITEM "Dou&ble scan", IDM_TOGGLE_DOUBLESCAN
            , CHECKED
        MENUITEM "PAL Emulation", IDM_TOGGLE_FASTPAL
            , CHECKED
        MENUITEM "Scale2x",       IDM_TOGGLE_SCALE2X
            , CHECKED
        POPUP "VDC settin&gs"
        BEGIN
            MENUITEM "&Double size", IDM_TOGGLE_VDC_DOUBLESIZE
            MENUITEM "Dou&ble scan", IDM_TOGGLE_VDC_DOUBLESCAN
            MENUITEM SEPARATOR
            MENUITEM "64KB video &memory", IDM_TOGGLE_VDC64KB
        END
        MENUITEM SEPARATOR
        MENUITEM "Swap &Joystick\tAlt+J", IDM_SWAP_JOYSTICK
        MENUITEM SEPARATOR
        MENUITEM "&Sound playback", IDM_TOGGLE_SOUND, CHECKED
        MENUITEM SEPARATOR
        MENUITEM "&True drive emulation", IDM_TOGGLE_DRIVE_TRUE_EMULATION, CHECKED
        MENUITEM "&Virtual device traps", IDM_TOGGLE_VIRTUAL_DEVICES
        MENUITEM SEPARATOR
        POPUP "Vide&o standard"
        BEGIN
            MENUITEM "&PAL-G",  IDM_SYNC_FACTOR_PAL
            MENUITEM "&NTSC-M", IDM_SYNC_FACTOR_NTSC
        END
        MENUITEM SEPARATOR
        MENUITEM "Emulator &Identification", IDM_TOGGLE_EMUID
        MENUITEM "IEEE&488 Interface emulation",    IDM_IEEE488
    MENUITEM "&1351 mouse emulation\tAlt+Q",    IDM_MOUSE
    END
    POPUP "S&ettings"
    BEGIN
        MENUITEM "&Video settings...",     IDM_VIDEO_SETTINGS
        MENUITEM "&Peripheral settings...",IDM_DEVICEMANAGER
        MENUITEM "&Drive settings...",     IDM_DRIVE_SETTINGS
        MENUITEM "D&atasette settings...", IDM_DATASETTE_SETTINGS
        MENUITEM "VIC-II settings...",     IDM_VICII_SETTINGS
        MENUITEM "&Joystick settings...",  IDM_JOY_SETTINGS
        MENUITEM "S&ound settings...",     IDM_SOUND_SETTINGS
        MENUITEM "S&ID settings...",       IDM_SID_SETTINGS
        MENUITEM "R&EU settings...",       IDM_REU_SETTINGS
        MENUITEM "&ROM settings...",       IDM_ROM_SETTINGS
        MENUITEM "RA&M settings...",       IDM_RAM_SETTINGS
#ifdef HAVE_TFE
        MENUITEM "E&thernet settings...", IDM_TFE_SETTINGS
#endif /* #ifdef HAVE_TFE */
        MENUITEM "C&128 settings...",      IDM_C128_SETTINGS
        MENUITEM SEPARATOR
        MENUITEM "&Save current settings", IDM_SETTINGS_SAVE
        MENUITEM "&Load saved settings",   IDM_SETTINGS_LOAD
        MENUITEM "Set de&fault settings",  IDM_SETTINGS_DEFAULT
        MENUITEM SEPARATOR
    MENUITEM "Save settings on e&xit", IDM_TOGGLE_SAVE_SETTINGS_ON_EXIT
    MENUITEM "&Confirm on exit",       IDM_TOGGLE_CONFIRM_ON_EXIT
    END
    POPUP "&Help"
    BEGIN
//        MENUITEM "H&elp",               IDM_HELP
//        MENUITEM SEPARATOR
        MENUITEM "&About...",             IDM_ABOUT
        MENUITEM SEPARATOR
        MENUITEM "Command line &options", IDM_CMDLINE
        MENUITEM SEPARATOR
        MENUITEM "&Contributors",         IDM_CONTRIBUTORS
        MENUITEM "&License",              IDM_LICENSE
        MENUITEM "No &warranty",          IDM_WARRANTY
    END
END

IDD_C128ROM_SETTINGS_DIALOG DIALOG DISCARDABLE  0, 0, 240, 400
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ROM Settings"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT       "Kernal Int.",IDC_STATIC, 9,8,40,8
    EDITTEXT    IDC_C128ROM_KERNALINT_FILE, 55,7,125,12,WS_TABSTOP
    PUSHBUTTON  "Browse...", IDC_C128ROM_KERNALINT_BROWSE, 185,7,50,14, 0

    LTEXT       "Kernal DE", IDC_STATIC, 9,33,40,8
    EDITTEXT    IDC_C128ROM_KERNALDE_FILE, 55,32,125,12,WS_TABSTOP
    PUSHBUTTON  "Browse...", IDC_C128ROM_KERNALDE_BROWSE, 185,32,50,14, 0

    LTEXT       "Kernal FI", IDC_STATIC, 9,58,40,8
    EDITTEXT    IDC_C128ROM_KERNALFI_FILE, 55,57,125,12,WS_TABSTOP
    PUSHBUTTON  "Browse...", IDC_C128ROM_KERNALFI_BROWSE, 185,57,50,14, 0

    LTEXT       "Kernal FR",IDC_STATIC, 9,83,40,8
    EDITTEXT    IDC_C128ROM_KERNALFR_FILE, 55,82,125,12,WS_TABSTOP
    PUSHBUTTON  "Browse...", IDC_C128ROM_KERNALFR_BROWSE, 185,82,50,14, 0

    LTEXT       "Kernal IT", IDC_STATIC, 9,108,40,8
    EDITTEXT    IDC_C128ROM_KERNALIT_FILE, 55,107,125,12,WS_TABSTOP
    PUSHBUTTON  "Browse...", IDC_C128ROM_KERNALIT_BROWSE, 185,107,50,14, 0

    LTEXT       "Kernal NO", IDC_STATIC, 9,133,40,8
    EDITTEXT    IDC_C128ROM_KERNALNO_FILE, 55,132,125,12,WS_TABSTOP
    PUSHBUTTON  "Browse...", IDC_C128ROM_KERNALNO_BROWSE, 185,132,50,14, 0

    LTEXT       "Kernal SE", IDC_STATIC, 9,158,40,8
    EDITTEXT    IDC_C128ROM_KERNALSE_FILE, 55,157,125,12,WS_TABSTOP
    PUSHBUTTON  "Browse...", IDC_C128ROM_KERNALSE_BROWSE, 185,157,50,14, 0

    LTEXT       "Basic LO", IDC_STATIC, 9,183,40,8
    EDITTEXT    IDC_C128ROM_BASICLO_FILE, 55,182,125,12,WS_TABSTOP
    PUSHBUTTON  "Browse...", IDC_C128ROM_BASICLO_BROWSE, 185,182,50,14, 0

    LTEXT       "Basic HI", IDC_STATIC, 9,208,40,8
    EDITTEXT    IDC_C128ROM_BASICHI_FILE, 55,207,125,12,WS_TABSTOP
    PUSHBUTTON  "Browse...", IDC_C128ROM_BASICHI_BROWSE, 185,207,50,14, 0

    LTEXT       "Char. Int.", IDC_STATIC, 9,233,40,8
    EDITTEXT    IDC_C128ROM_CHARGENINT_FILE, 55,232,125,12,WS_TABSTOP
    PUSHBUTTON  "Browse...", IDC_C128ROM_CHARGENINT_BROWSE, 185,232,50,14, 0

    LTEXT       "Char. DE", IDC_STATIC, 9,258,40,8
    EDITTEXT    IDC_C128ROM_CHARGENDE_FILE, 55,257,125,12,WS_TABSTOP
    PUSHBUTTON  "Browse...", IDC_C128ROM_CHARGENDE_BROWSE, 185,257,50,14, 0

    LTEXT       "Char. FR", IDC_STATIC, 9,283,40,8
    EDITTEXT    IDC_C128ROM_CHARGENFR_FILE, 55,282,125,12,WS_TABSTOP
    PUSHBUTTON  "Browse...", IDC_C128ROM_CHARGENFR_BROWSE, 185,282,50,14, 0

    LTEXT       "Char. SE", IDC_STATIC, 9,308,40,8
    EDITTEXT    IDC_C128ROM_CHARGENSE_FILE, 55,307,125,12,WS_TABSTOP
    PUSHBUTTON  "Browse...", IDC_C128ROM_CHARGENSE_BROWSE, 185,307,50,14, 0

    LTEXT       "Kernal C64", IDC_STATIC, 9,333,40,8
    EDITTEXT    IDC_C128ROM_KERNAL64_FILE, 55,332,125,12,WS_TABSTOP
    PUSHBUTTON  "Browse...", IDC_C128ROM_KERNAL64_BROWSE, 185,332,50,14, 0

    LTEXT       "Basic C64", IDC_STATIC, 9,358,40,8
    EDITTEXT    IDC_C128ROM_BASIC64_FILE, 55,357,125,12,WS_TABSTOP
    PUSHBUTTON  "Browse...", IDC_C128ROM_BASIC64_BROWSE, 185,357,50,14, 0

    DEFPUSHBUTTON   "OK", IDOK, 130,380,50,14, WS_TABSTOP
    PUSHBUTTON      "Cancel", IDCANCEL, 185,380,50,14, WS_TABSTOP
END

IDD_C128_MACHINE_SETTINGS_DIALOG DIALOG DISCARDABLE  0, 0, 220, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Machine type"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Machine type", IDC_STATIC, 10,9,50,8
    COMBOBOX        IDC_C128_MACHINE_TYPE, 60,7,60,50,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

IDD_C128_FUNCTIONROM_SETTINGS_DIALOG DIALOG DISCARDABLE  0, 0, 220, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Function ROM"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "Internal Function ROM", IDC_STATIC, 5,5,205,45
    AUTOCHECKBOX    "Enable internal Function ROM",
                    IDC_C128_FUNCTIONROM_INTERNAL, 15,15,120,10,
                    BS_AUTOCHECKBOX | WS_TABSTOP
    LTEXT           "File name", IDC_STATIC,11,32,50,8
    EDITTEXT        IDC_C128_FUNCTIONROM_INTERNAL_NAME, 50,30,95,12,WS_TABSTOP
    PUSHBUTTON      "Browse...", IDC_C128_FUNCTIONROM_INTERNAL_BROWSE,
                    155,30,50,14, 0
    GROUPBOX        "External Function ROM", IDC_STATIC, 5,55,205,45
    AUTOCHECKBOX    "Enable external Function ROM",
                    IDC_C128_FUNCTIONROM_EXTERNAL, 15,65,120,10,
                    BS_AUTOCHECKBOX | WS_TABSTOP
    LTEXT           "File name", IDC_STATIC,11,82,50,8
    EDITTEXT        IDC_C128_FUNCTIONROM_EXTERNAL_NAME, 50,80,95,12,WS_TABSTOP
    PUSHBUTTON      "Browse...", IDC_C128_FUNCTIONROM_EXTERNAL_BROWSE,
                    155,80,50,14, 0
END

IDD_DRIVE_SETTINGS_DIALOG_C128 DIALOG DISCARDABLE  0, 0, 250, 240
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "&Drive type",IDC_STATIC,5,15,60,225
    AUTORADIOBUTTON "1&541",IDC_SELECT_DRIVE_TYPE_1541,15,30,35,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "1541-&II",IDC_SELECT_DRIVE_TYPE_1541II,15,45,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "1570",IDC_SELECT_DRIVE_TYPE_1570,15,60,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "15&71",IDC_SELECT_DRIVE_TYPE_1571,15,75,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "15&71cr",IDC_SELECT_DRIVE_TYPE_1571cr,15,90,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&1581",IDC_SELECT_DRIVE_TYPE_1581,15,105,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "20&31",IDC_SELECT_DRIVE_TYPE_2031,15,120,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "20&40",IDC_SELECT_DRIVE_TYPE_2040,15,135,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "30&40",IDC_SELECT_DRIVE_TYPE_3040,15,150,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "40&40",IDC_SELECT_DRIVE_TYPE_4040,15,165,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "1&001",IDC_SELECT_DRIVE_TYPE_1001,15,180,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&8050",IDC_SELECT_DRIVE_TYPE_8050,15,195,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "8&250",IDC_SELECT_DRIVE_TYPE_8250,15,210,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&None",IDC_SELECT_DRIVE_TYPE_NONE,15,225,35,10,
                            BS_AUTORADIOBUTTON
    GROUPBOX        "40 &track handling",IDC_STATIC,75,15,90,60
    AUTORADIOBUTTON "Never extend",IDC_SELECT_DRIVE_EXTEND_NEVER,85,30,65,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Ask on extend",IDC_SELECT_DRIVE_EXTEND_ASK,85,45,65,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "Extend on access",IDC_SELECT_DRIVE_EXTEND_ACCESS,
                            85,60,65,10, BS_AUTORADIOBUTTON
    GROUPBOX        "Id&le method",IDC_STATIC,175,15,70,60
    AUTORADIOBUTTON "None",IDC_SELECT_DRIVE_IDLE_NO_IDLE,185,30,51,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Trap idle",IDC_SELECT_DRIVE_IDLE_TRAP_IDLE,185,45,51,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "Skip cycles",IDC_SELECT_DRIVE_IDLE_SKIP_CYCLES,
                            185,60,51,10,BS_AUTORADIOBUTTON
    AUTOCHECKBOX    "&Parallel cable",IDC_TOGGLE_DRIVE_PARALLEL_CABLE,
                    185,90,80,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    GROUPBOX        "Drive &expansion",IDC_STATIC,75,75,90,90
    AUTOCHECKBOX    "$2000-$3FFF &RAM",IDC_TOGGLE_DRIVE_EXPANSION_2000,
                    85,90,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$&4000-$5FFF RAM",IDC_TOGGLE_DRIVE_EXPANSION_4000,
                    85,105,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$&6000-$7FFF RAM",IDC_TOGGLE_DRIVE_EXPANSION_6000,
                    85,120,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$8000-$9FFF RA&M",IDC_TOGGLE_DRIVE_EXPANSION_8000,
                    85,135,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$&A000-$BFFF RAM",IDC_TOGGLE_DRIVE_EXPANSION_A000,
                    85,150,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
END
