// DIGIMAX specific resources.
//

// template of dialog for all languages

IDD_DIGIMAX_SETTINGS_DIALOG DIALOG DISCARDABLE 0, 0, 180, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "", IDC_DIGIMAX_ENABLE,
                    7, 7, 99, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    LTEXT           "", IDC_DIGIMAX_BASE_LABEL,
                    9, 24, 30, 8
    COMBOBOX        IDC_DIGIMAX_BASE,
                    45, 22, 50, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    DEFPUSHBUTTON   "", IDOK,
                    30, 90, 50, 14, WS_TABSTOP
    PUSHBUTTON      "", IDCANCEL,
                    90, 90, 50, 14, WS_TABSTOP
END

// -----------------------------------------------------------------------------

// original and default ENGLISH text

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
BEGIN
  IDS_DIGIMAX_CAPTION "DigiMAX Settings"
  IDS_DIGIMAX_ENABLE  "&Enable DigiMAX"
  IDS_DIGIMAX_BASE    "DigiMAX base"
END


// DANISH text

STRINGTABLE
LANGUAGE LANG_DANISH, SUBLANG_NEUTRAL
BEGIN
  IDS_DIGIMAX_CAPTION "DigiMAX Settings"
  IDS_DIGIMAX_ENABLE  "&Enable DigiMAX"
  IDS_DIGIMAX_BASE    "DigiMAX base"
END


// GERMAN text

STRINGTABLE
LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL
BEGIN
  IDS_DIGIMAX_CAPTION "DigiMAX Einstellungen"
  IDS_DIGIMAX_ENABLE  "DigiMAX aktivi&eren"
  IDS_DIGIMAX_BASE    "DigiMAX Basis"
END


// FRENCH text

STRINGTABLE
LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL
BEGIN
  IDS_DIGIMAX_CAPTION "DigiMAX Settings"
  IDS_DIGIMAX_ENABLE  "&Enable DigiMAX"
  IDS_DIGIMAX_BASE    "DigiMAX base"
END


// HUNGARIAN text

#ifndef WINDRES_CP_IGNORE
#pragma code_page(28592)
#endif
STRINGTABLE
LANGUAGE LANG_HUNGARIAN, SUBLANG_NEUTRAL
BEGIN
  IDS_DIGIMAX_CAPTION "DigiMAX Settings"
  IDS_DIGIMAX_ENABLE  "&Enable DigiMAX"
  IDS_DIGIMAX_BASE    "DigiMAX base"
END
#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif


// ITALIAN text

STRINGTABLE
LANGUAGE LANG_ITALIAN, SUBLANG_NEUTRAL
BEGIN
  IDS_DIGIMAX_CAPTION "DigiMAX Settings"
  IDS_DIGIMAX_ENABLE  "&Enable DigiMAX"
  IDS_DIGIMAX_BASE    "DigiMAX base"
END


// DUTCH text

STRINGTABLE
LANGUAGE LANG_DUTCH, SUBLANG_NEUTRAL
BEGIN
  IDS_DIGIMAX_CAPTION "DigiMAX instellingen"
  IDS_DIGIMAX_ENABLE  "&Activeer DigiMAX"
  IDS_DIGIMAX_BASE    "DigiMAX basisadres"
END


// POLISH text

#ifndef WINDRES_CP_IGNORE
#pragma code_page(28592)
#endif
STRINGTABLE
LANGUAGE LANG_POLISH, SUBLANG_NEUTRAL
BEGIN
  IDS_DIGIMAX_CAPTION "DigiMAX Settings"
  IDS_DIGIMAX_ENABLE  "&Enable DigiMAX"
  IDS_DIGIMAX_BASE    "DigiMAX base"
END
#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif


// SWEDISH text

STRINGTABLE
LANGUAGE LANG_SWEDISH, SUBLANG_NEUTRAL
BEGIN
  IDS_DIGIMAX_CAPTION "DigiMAX-inställningar"
  IDS_DIGIMAX_ENABLE  "&Aktivera DigiMAX"
  IDS_DIGIMAX_BASE    "DigiMAX-bas"
END


// TURKISH text

#ifndef WINDRES_CP_IGNORE
#pragma code_page(28599)
#endif
STRINGTABLE
LANGUAGE LANG_TURKISH, SUBLANG_NEUTRAL
BEGIN
  IDS_DIGIMAX_CAPTION "DigiMAX Settings"
  IDS_DIGIMAX_ENABLE  "&Enable DigiMAX"
  IDS_DIGIMAX_BASE    "DigiMAX base"
END
#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif


