// VIC20 drive specific resources.
//

#include "config.h"
#include "res.h"
#include "rescommon.h"

#pragma code_page(28591)

// original and default ENGLISH version of dialog

IDD_DRIVE_SETTINGS_DIALOG_VIC20 DIALOG DISCARDABLE  0, 0, 250, 235
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "&Drive type",IDC_STATIC,5,15,60,210
    AUTORADIOBUTTON "1&541",IDC_SELECT_DRIVE_TYPE_1541,15,30,35,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "1541-&II",IDC_SELECT_DRIVE_TYPE_1541II,15,45,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "1570",IDC_SELECT_DRIVE_TYPE_1570,15,60,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "15&71",IDC_SELECT_DRIVE_TYPE_1571,15,75,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&1581",IDC_SELECT_DRIVE_TYPE_1581,15,90,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "20&31",IDC_SELECT_DRIVE_TYPE_2031,15,105,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "20&40",IDC_SELECT_DRIVE_TYPE_2040,15,120,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "30&40",IDC_SELECT_DRIVE_TYPE_3040,15,135,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "40&40",IDC_SELECT_DRIVE_TYPE_4040,15,150,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "1&001",IDC_SELECT_DRIVE_TYPE_1001,15,165,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&8050",IDC_SELECT_DRIVE_TYPE_8050,15,180,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "8&250",IDC_SELECT_DRIVE_TYPE_8250,15,195,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&None",IDC_SELECT_DRIVE_TYPE_NONE,15,210,35,10,
                            BS_AUTORADIOBUTTON
    GROUPBOX        "40 &track handling",IDC_STATIC,75,15,90,60
    AUTORADIOBUTTON "Never extend",IDC_SELECT_DRIVE_EXTEND_NEVER,85,30,65,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Ask on extend",IDC_SELECT_DRIVE_EXTEND_ASK,85,45,65,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "Extend on access",IDC_SELECT_DRIVE_EXTEND_ACCESS,
                            85,60,65,10, BS_AUTORADIOBUTTON
    GROUPBOX        "Id&le method",IDC_STATIC,175,15,70,60
    AUTORADIOBUTTON "None",IDC_SELECT_DRIVE_IDLE_NO_IDLE,185,30,51,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Trap idle",IDC_SELECT_DRIVE_IDLE_TRAP_IDLE,185,45,51,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "Skip cycles",IDC_SELECT_DRIVE_IDLE_SKIP_CYCLES,
                            185,60,51,10,BS_AUTORADIOBUTTON
    GROUPBOX        "Drive &expansion",IDC_STATIC,75,75,90,90
    AUTOCHECKBOX    "$2000-$3FFF &RAM",IDC_TOGGLE_DRIVE_EXPANSION_2000,
                    85,90,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$&4000-$5FFF RAM",IDC_TOGGLE_DRIVE_EXPANSION_4000,
                    85,105,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$&6000-$7FFF RAM",IDC_TOGGLE_DRIVE_EXPANSION_6000,
                    85,120,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$8000-$9FFF RA&M",IDC_TOGGLE_DRIVE_EXPANSION_8000,
                    85,135,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$&A000-$BFFF RAM",IDC_TOGGLE_DRIVE_EXPANSION_A000,
                    85,150,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
END


// GERMAN version of dialog

IDD_DRIVE_SETTINGS_DIALOG_VIC20_DE DIALOG DISCARDABLE  0, 0, 250, 235
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "&Geräte Typ",IDC_STATIC,5,15,60,210
    AUTORADIOBUTTON "1&541",IDC_SELECT_DRIVE_TYPE_1541,15,30,35,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "1541-&II",IDC_SELECT_DRIVE_TYPE_1541II,15,45,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "1570",IDC_SELECT_DRIVE_TYPE_1570,15,60,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "15&71",IDC_SELECT_DRIVE_TYPE_1571,15,75,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&1581",IDC_SELECT_DRIVE_TYPE_1581,15,90,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "20&31",IDC_SELECT_DRIVE_TYPE_2031,15,105,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "20&40",IDC_SELECT_DRIVE_TYPE_2040,15,120,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "30&40",IDC_SELECT_DRIVE_TYPE_3040,15,135,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "40&40",IDC_SELECT_DRIVE_TYPE_4040,15,150,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "1&001",IDC_SELECT_DRIVE_TYPE_1001,15,165,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&8050",IDC_SELECT_DRIVE_TYPE_8050,15,180,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "8&250",IDC_SELECT_DRIVE_TYPE_8250,15,195,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&Kein",IDC_SELECT_DRIVE_TYPE_NONE,15,210,35,10,
                            BS_AUTORADIOBUTTON
    GROUPBOX        "40 &Spur Umgang",IDC_STATIC,75,15,90,60
    AUTORADIOBUTTON "Nie Erweitern",IDC_SELECT_DRIVE_EXTEND_NEVER,85,30,65,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Bei Erweiterung Rückfrage",IDC_SELECT_DRIVE_EXTEND_ASK,85,45,65,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "Erweitern wenn nötig",IDC_SELECT_DRIVE_EXTEND_ACCESS,
                            85,60,65,10, BS_AUTORADIOBUTTON
    GROUPBOX        "Id&le Methode",IDC_STATIC,175,15,70,60
    AUTORADIOBUTTON "Kein",IDC_SELECT_DRIVE_IDLE_NO_IDLE,185,30,51,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Trap idle",IDC_SELECT_DRIVE_IDLE_TRAP_IDLE,185,45,51,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "Zyklen auslassen",IDC_SELECT_DRIVE_IDLE_SKIP_CYCLES,
                            185,60,51,10,BS_AUTORADIOBUTTON
    GROUPBOX        "Laufwerk &erweiterung",IDC_STATIC,75,75,90,90
    AUTOCHECKBOX    "$2000-$3FFF &RAM",IDC_TOGGLE_DRIVE_EXPANSION_2000,
                    85,90,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$&4000-$5FFF RAM",IDC_TOGGLE_DRIVE_EXPANSION_4000,
                    85,105,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$&6000-$7FFF RAM",IDC_TOGGLE_DRIVE_EXPANSION_6000,
                    85,120,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$8000-$9FFF RA&M",IDC_TOGGLE_DRIVE_EXPANSION_8000,
                    85,135,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$&A000-$BFFF RAM",IDC_TOGGLE_DRIVE_EXPANSION_A000,
                    85,150,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
END


// FRENCH version of dialog

IDD_DRIVE_SETTINGS_DIALOG_VIC20_FR DIALOG DISCARDABLE  0, 0, 250, 235
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "Type de &lecteur",IDC_STATIC,5,15,60,210
    AUTORADIOBUTTON "1&541",IDC_SELECT_DRIVE_TYPE_1541,15,30,35,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "1541-&II",IDC_SELECT_DRIVE_TYPE_1541II,15,45,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "1570",IDC_SELECT_DRIVE_TYPE_1570,15,60,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "15&71",IDC_SELECT_DRIVE_TYPE_1571,15,75,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&1581",IDC_SELECT_DRIVE_TYPE_1581,15,90,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "20&31",IDC_SELECT_DRIVE_TYPE_2031,15,105,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "20&40",IDC_SELECT_DRIVE_TYPE_2040,15,120,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "30&40",IDC_SELECT_DRIVE_TYPE_3040,15,135,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "40&40",IDC_SELECT_DRIVE_TYPE_4040,15,150,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "1&001",IDC_SELECT_DRIVE_TYPE_1001,15,165,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&8050",IDC_SELECT_DRIVE_TYPE_8050,15,180,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "8&250",IDC_SELECT_DRIVE_TYPE_8250,15,195,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&Aucun",IDC_SELECT_DRIVE_TYPE_NONE,15,210,35,10,
                            BS_AUTORADIOBUTTON
    GROUPBOX        "Prise en charge du 40 pistes",IDC_STATIC,75,15,90,60
    AUTORADIOBUTTON "Ne jamais é&tendre",IDC_SELECT_DRIVE_EXTEND_NEVER,85,30,65,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Demander avant d'étendre",IDC_SELECT_DRIVE_EXTEND_ASK,85,45,65,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "Étendre à l'accès",IDC_SELECT_DRIVE_EXTEND_ACCESS,
                            85,60,65,10, BS_AUTORADIOBUTTON
    GROUPBOX        "Méthode d’inactivité",IDC_STATIC,175,15,70,60
    AUTORADIOBUTTON "Aucun",IDC_SELECT_DRIVE_IDLE_NO_IDLE,185,30,51,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Traper l’inactivité",IDC_SELECT_DRIVE_IDLE_TRAP_IDLE,185,45,51,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "Sauter des cycles",IDC_SELECT_DRIVE_IDLE_SKIP_CYCLES,
                            185,60,51,10,BS_AUTORADIOBUTTON
    GROUPBOX        "&Expansion de lecteur",IDC_STATIC,75,75,90,90
    AUTOCHECKBOX    "$2000-$3FFF &RAM",IDC_TOGGLE_DRIVE_EXPANSION_2000,
                    85,90,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$&4000-$5FFF RAM",IDC_TOGGLE_DRIVE_EXPANSION_4000,
                    85,105,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$&6000-$7FFF RAM",IDC_TOGGLE_DRIVE_EXPANSION_6000,
                    85,120,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$8000-$9FFF RA&M",IDC_TOGGLE_DRIVE_EXPANSION_8000,
                    85,135,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$&A000-$BFFF RAM",IDC_TOGGLE_DRIVE_EXPANSION_A000,
                    85,150,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
END


// HUNGARIAN version of dialog

#pragma code_page(28592)
IDD_DRIVE_SETTINGS_DIALOG_VIC20_HU DIALOG DISCARDABLE  0, 0, 250, 235
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "&Lemezegység típus",IDC_STATIC,5,15,60,210
    AUTORADIOBUTTON "1&541",IDC_SELECT_DRIVE_TYPE_1541,15,30,35,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "1541-&II",IDC_SELECT_DRIVE_TYPE_1541II,15,45,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "1570",IDC_SELECT_DRIVE_TYPE_1570,15,60,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "15&71",IDC_SELECT_DRIVE_TYPE_1571,15,75,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&1581",IDC_SELECT_DRIVE_TYPE_1581,15,90,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "20&31",IDC_SELECT_DRIVE_TYPE_2031,15,105,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "20&40",IDC_SELECT_DRIVE_TYPE_2040,15,120,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "30&40",IDC_SELECT_DRIVE_TYPE_3040,15,135,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "40&40",IDC_SELECT_DRIVE_TYPE_4040,15,150,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "1&001",IDC_SELECT_DRIVE_TYPE_1001,15,165,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&8050",IDC_SELECT_DRIVE_TYPE_8050,15,180,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "8&250",IDC_SELECT_DRIVE_TYPE_8250,15,195,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&Nincs",IDC_SELECT_DRIVE_TYPE_NONE,15,210,35,10,
                            BS_AUTORADIOBUTTON
    GROUPBOX        "40 &sávos képmás kezelése",IDC_STATIC,75,15,90,60
    AUTORADIOBUTTON "Nincs kiterjesztés",IDC_SELECT_DRIVE_EXTEND_NEVER,85,30,65,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Kérdés kiterjesztés esetén",IDC_SELECT_DRIVE_EXTEND_ASK,85,45,65,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "Kiterjesztés hozzáféréskor",IDC_SELECT_DRIVE_EXTEND_ACCESS,
                            85,60,65,10, BS_AUTORADIOBUTTON
    GROUPBOX        "Üres&járat mód",IDC_STATIC,175,15,70,60
    AUTORADIOBUTTON "Nincs",IDC_SELECT_DRIVE_IDLE_NO_IDLE,185,30,51,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Üres ciklusok kihagyása",IDC_SELECT_DRIVE_IDLE_TRAP_IDLE,185,45,51,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "Ciklusok kihagyása",IDC_SELECT_DRIVE_IDLE_SKIP_CYCLES,
                            185,60,51,10,BS_AUTORADIOBUTTON
    GROUPBOX        "Lemezegység &bõvítés",IDC_STATIC,75,75,90,90
    AUTOCHECKBOX    "$2000-$3FFF &RAM",IDC_TOGGLE_DRIVE_EXPANSION_2000,
                    85,90,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$&4000-$5FFF RAM",IDC_TOGGLE_DRIVE_EXPANSION_4000,
                    85,105,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$&6000-$7FFF RAM",IDC_TOGGLE_DRIVE_EXPANSION_6000,
                    85,120,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$8000-$9FFF RA&M",IDC_TOGGLE_DRIVE_EXPANSION_8000,
                    85,135,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$&A000-$BFFF RAM",IDC_TOGGLE_DRIVE_EXPANSION_A000,
                    85,150,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
END
#pragma code_page(28591)


// ITALIAN version of dialog

IDD_DRIVE_SETTINGS_DIALOG_VIC20_IT DIALOG DISCARDABLE  0, 0, 250, 235
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "Tipo di &drive",IDC_STATIC,5,15,60,210
    AUTORADIOBUTTON "1&541",IDC_SELECT_DRIVE_TYPE_1541,15,30,35,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "1541-&II",IDC_SELECT_DRIVE_TYPE_1541II,15,45,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "1570",IDC_SELECT_DRIVE_TYPE_1570,15,60,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "15&71",IDC_SELECT_DRIVE_TYPE_1571,15,75,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&1581",IDC_SELECT_DRIVE_TYPE_1581,15,90,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "20&31",IDC_SELECT_DRIVE_TYPE_2031,15,105,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "20&40",IDC_SELECT_DRIVE_TYPE_2040,15,120,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "30&40",IDC_SELECT_DRIVE_TYPE_3040,15,135,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "40&40",IDC_SELECT_DRIVE_TYPE_4040,15,150,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "1&001",IDC_SELECT_DRIVE_TYPE_1001,15,165,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&8050",IDC_SELECT_DRIVE_TYPE_8050,15,180,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "8&250",IDC_SELECT_DRIVE_TYPE_8250,15,195,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&Nessuno",IDC_SELECT_DRIVE_TYPE_NONE,15,210,35,10,
                            BS_AUTORADIOBUTTON
    GROUPBOX        "Gestisci 40 &tracce",IDC_STATIC,75,15,90,60
    AUTORADIOBUTTON "Mai",IDC_SELECT_DRIVE_EXTEND_NEVER,85,30,65,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Chiedi all'accesso",IDC_SELECT_DRIVE_EXTEND_ASK,85,45,65,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "All'accesso",IDC_SELECT_DRIVE_EXTEND_ACCESS,
                            85,60,65,10, BS_AUTORADIOBUTTON
    GROUPBOX        "Ri&leva inattività",IDC_STATIC,175,15,70,60
    AUTORADIOBUTTON "Nessuno",IDC_SELECT_DRIVE_IDLE_NO_IDLE,185,30,51,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Rileva inattività",IDC_SELECT_DRIVE_IDLE_TRAP_IDLE,185,45,51,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "Salta cicli",IDC_SELECT_DRIVE_IDLE_SKIP_CYCLES,
                            185,60,51,10,BS_AUTORADIOBUTTON
    GROUPBOX        "&Espasione del drive",IDC_STATIC,75,75,90,90
    AUTOCHECKBOX    "$2000-$3FFF &RAM",IDC_TOGGLE_DRIVE_EXPANSION_2000,
                    85,90,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$&4000-$5FFF RAM",IDC_TOGGLE_DRIVE_EXPANSION_4000,
                    85,105,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$&6000-$7FFF RAM",IDC_TOGGLE_DRIVE_EXPANSION_6000,
                    85,120,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$8000-$9FFF RA&M",IDC_TOGGLE_DRIVE_EXPANSION_8000,
                    85,135,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$&A000-$BFFF RAM",IDC_TOGGLE_DRIVE_EXPANSION_A000,
                    85,150,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
END


// DUTCH version of dialog

IDD_DRIVE_SETTINGS_DIALOG_VIC20_NL DIALOG DISCARDABLE  0, 0, 250, 235
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "&Drivesoort",IDC_STATIC,5,15,60,210
    AUTORADIOBUTTON "1&541",IDC_SELECT_DRIVE_TYPE_1541,15,30,35,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "1541-&II",IDC_SELECT_DRIVE_TYPE_1541II,15,45,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "1570",IDC_SELECT_DRIVE_TYPE_1570,15,60,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "15&71",IDC_SELECT_DRIVE_TYPE_1571,15,75,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&1581",IDC_SELECT_DRIVE_TYPE_1581,15,90,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "20&31",IDC_SELECT_DRIVE_TYPE_2031,15,105,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "20&40",IDC_SELECT_DRIVE_TYPE_2040,15,120,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "30&40",IDC_SELECT_DRIVE_TYPE_3040,15,135,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "40&40",IDC_SELECT_DRIVE_TYPE_4040,15,150,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "1&001",IDC_SELECT_DRIVE_TYPE_1001,15,165,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&8050",IDC_SELECT_DRIVE_TYPE_8050,15,180,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "8&250",IDC_SELECT_DRIVE_TYPE_8250,15,195,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&Geen",IDC_SELECT_DRIVE_TYPE_NONE,15,210,35,10,
                            BS_AUTORADIOBUTTON
    GROUPBOX        "40 &sporen ondersteuning",IDC_STATIC,75,15,100,60
    AUTORADIOBUTTON "Nooit uitbreiden",IDC_SELECT_DRIVE_EXTEND_NEVER,85,30,85,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Vragen bij uitbreiden",IDC_SELECT_DRIVE_EXTEND_ASK,85,45,85,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "Uitbreiden bij toegang",IDC_SELECT_DRIVE_EXTEND_ACCESS,
                            85,60,85,10, BS_AUTORADIOBUTTON
    GROUPBOX        "Id&le methode",IDC_STATIC,75,165,100,60
    AUTORADIOBUTTON "Geen",IDC_SELECT_DRIVE_IDLE_NO_IDLE,85,180,85,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Trap idle",IDC_SELECT_DRIVE_IDLE_TRAP_IDLE,85,195,85,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "Sla cycli over",IDC_SELECT_DRIVE_IDLE_SKIP_CYCLES,
                            85,210,85,10,BS_AUTORADIOBUTTON
    GROUPBOX        "Drive &uitbreiding",IDC_STATIC,75,75,100,90
    AUTOCHECKBOX    "$2000-$3FFF &RAM",IDC_TOGGLE_DRIVE_EXPANSION_2000,
                    85,90,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$&4000-$5FFF RAM",IDC_TOGGLE_DRIVE_EXPANSION_4000,
                    85,105,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$&6000-$7FFF RAM",IDC_TOGGLE_DRIVE_EXPANSION_6000,
                    85,120,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$8000-$9FFF RA&M",IDC_TOGGLE_DRIVE_EXPANSION_8000,
                    85,135,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$&A000-$BFFF RAM",IDC_TOGGLE_DRIVE_EXPANSION_A000,
                    85,150,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
END


// POLISH version of dialog

#pragma code_page(28592)
IDD_DRIVE_SETTINGS_DIALOG_VIC20_PL DIALOG DISCARDABLE  0, 0, 250, 235
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "&typu stacja dyskietek",IDC_STATIC,5,15,60,210
    AUTORADIOBUTTON "1&541",IDC_SELECT_DRIVE_TYPE_1541,15,30,35,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "1541-&II",IDC_SELECT_DRIVE_TYPE_1541II,15,45,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "1570",IDC_SELECT_DRIVE_TYPE_1570,15,60,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "15&71",IDC_SELECT_DRIVE_TYPE_1571,15,75,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&1581",IDC_SELECT_DRIVE_TYPE_1581,15,90,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "20&31",IDC_SELECT_DRIVE_TYPE_2031,15,105,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "20&40",IDC_SELECT_DRIVE_TYPE_2040,15,120,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "30&40",IDC_SELECT_DRIVE_TYPE_3040,15,135,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "40&40",IDC_SELECT_DRIVE_TYPE_4040,15,150,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "1&001",IDC_SELECT_DRIVE_TYPE_1001,15,165,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&8050",IDC_SELECT_DRIVE_TYPE_8050,15,180,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "8&250",IDC_SELECT_DRIVE_TYPE_8250,15,195,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&Brak",IDC_SELECT_DRIVE_TYPE_NONE,15,210,35,10,
                            BS_AUTORADIOBUTTON
    GROUPBOX        "40-¶cie¿kowy &obraz",IDC_STATIC,75,15,90,60
    AUTORADIOBUTTON "Nigdy nie rozszerzaj",IDC_SELECT_DRIVE_EXTEND_NEVER,85,30,65,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Wcze¶niej zapytaj",IDC_SELECT_DRIVE_EXTEND_ASK,85,45,65,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "Rozszerz, kiedy nast±pi u¿ycie",IDC_SELECT_DRIVE_EXTEND_ACCESS,
                            85,60,65,10, BS_AUTORADIOBUTTON
    GROUPBOX        "metada &bezczynno¶ci",IDC_STATIC,175,15,70,60
    AUTORADIOBUTTON "Brak",IDC_SELECT_DRIVE_IDLE_NO_IDLE,185,30,51,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Wykrywaj",IDC_SELECT_DRIVE_IDLE_TRAP_IDLE,185,45,51,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "Opuszczaj cykcle",IDC_SELECT_DRIVE_IDLE_SKIP_CYCLES,
                            185,60,51,10,BS_AUTORADIOBUTTON
    GROUPBOX        "&Rozszerzenie napêdu",IDC_STATIC,75,75,90,90
    AUTOCHECKBOX    "$2000-$3FFF &RAM",IDC_TOGGLE_DRIVE_EXPANSION_2000,
                    85,90,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$&4000-$5FFF RAM",IDC_TOGGLE_DRIVE_EXPANSION_4000,
                    85,105,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$&6000-$7FFF RAM",IDC_TOGGLE_DRIVE_EXPANSION_6000,
                    85,120,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$8000-$9FFF RA&M",IDC_TOGGLE_DRIVE_EXPANSION_8000,
                    85,135,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$&A000-$BFFF RAM",IDC_TOGGLE_DRIVE_EXPANSION_A000,
                    85,150,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
END
#pragma code_page(28591)


// SWEDISH version of dialog

IDD_DRIVE_SETTINGS_DIALOG_VIC20_SV DIALOG DISCARDABLE  0, 0, 250, 235
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "&Enhetstyp",IDC_STATIC,5,15,60,210
    AUTORADIOBUTTON "1&541",IDC_SELECT_DRIVE_TYPE_1541,15,30,35,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "1541-&II",IDC_SELECT_DRIVE_TYPE_1541II,15,45,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "1570",IDC_SELECT_DRIVE_TYPE_1570,15,60,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "15&71",IDC_SELECT_DRIVE_TYPE_1571,15,75,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&1581",IDC_SELECT_DRIVE_TYPE_1581,15,90,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "20&31",IDC_SELECT_DRIVE_TYPE_2031,15,105,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "20&40",IDC_SELECT_DRIVE_TYPE_2040,15,120,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "30&40",IDC_SELECT_DRIVE_TYPE_3040,15,135,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "40&40",IDC_SELECT_DRIVE_TYPE_4040,15,150,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "1&001",IDC_SELECT_DRIVE_TYPE_1001,15,165,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&8050",IDC_SELECT_DRIVE_TYPE_8050,15,180,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "8&250",IDC_SELECT_DRIVE_TYPE_8250,15,195,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&Ingen",IDC_SELECT_DRIVE_TYPE_NONE,15,210,35,10,
                            BS_AUTORADIOBUTTON
    GROUPBOX        "Hantering av 40 &spår",IDC_STATIC,75,15,90,60
    AUTORADIOBUTTON "Utöka aldrig",IDC_SELECT_DRIVE_EXTEND_NEVER,85,30,65,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Fråga vid utökning",IDC_SELECT_DRIVE_EXTEND_ASK,85,45,65,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "Utöka vid åtkomst",IDC_SELECT_DRIVE_EXTEND_ACCESS,
                            85,60,65,10, BS_AUTORADIOBUTTON
    GROUPBOX        "Pa&usmetod",IDC_STATIC,175,15,70,60
    AUTORADIOBUTTON "Ingen",IDC_SELECT_DRIVE_IDLE_NO_IDLE,185,30,51,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Fånga inaktiva",IDC_SELECT_DRIVE_IDLE_TRAP_IDLE,185,45,51,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "Hoppa cykler",IDC_SELECT_DRIVE_IDLE_SKIP_CYCLES,
                            185,60,51,10,BS_AUTORADIOBUTTON
    GROUPBOX        "Enhets&utökning",IDC_STATIC,75,75,90,90
    AUTOCHECKBOX    "$2000-$3FFF &RAM",IDC_TOGGLE_DRIVE_EXPANSION_2000,
                    85,90,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$&4000-$5FFF RAM",IDC_TOGGLE_DRIVE_EXPANSION_4000,
                    85,105,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$&6000-$7FFF RAM",IDC_TOGGLE_DRIVE_EXPANSION_6000,
                    85,120,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$8000-$9FFF RA&M",IDC_TOGGLE_DRIVE_EXPANSION_8000,
                    85,135,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$&A000-$BFFF RAM",IDC_TOGGLE_DRIVE_EXPANSION_A000,
                    85,150,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
END
