// PET and CBM2 drive specific resources.
//

IDD_DRIVE_SETTINGS_DIALOG_PETCBM2 DIALOG DISCARDABLE  0, 0, 180, 185
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "&Drive type",IDC_STATIC,5,15,60,135
    AUTORADIOBUTTON "20&31",IDC_SELECT_DRIVE_TYPE_2031,15,30,35,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "20&40",IDC_SELECT_DRIVE_TYPE_2040,15,45,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "30&40",IDC_SELECT_DRIVE_TYPE_3040,15,60,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "40&40",IDC_SELECT_DRIVE_TYPE_4040,15,75,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "1&001",IDC_SELECT_DRIVE_TYPE_1001,15,90,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&8050",IDC_SELECT_DRIVE_TYPE_8050,15,105,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "8&250",IDC_SELECT_DRIVE_TYPE_8250,15,120,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&None",IDC_SELECT_DRIVE_TYPE_NONE,15,135,35,10,
                            BS_AUTORADIOBUTTON
    GROUPBOX        "40 &track handling",IDC_STATIC,75,15,90,60
    AUTORADIOBUTTON "Never extend",IDC_SELECT_DRIVE_EXTEND_NEVER,85,30,65,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Ask on extend",IDC_SELECT_DRIVE_EXTEND_ASK,85,45,65,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "Extend on access",IDC_SELECT_DRIVE_EXTEND_ACCESS,
                            85,60,65,10, BS_AUTORADIOBUTTON
END

