// GEORAM specific resources.
//

#include "vice.h"

#include "res.h"
#include "rescommon.h"

#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif

// template of dialog for all languages

IDD_GEORAM_SETTINGS_DIALOG DIALOG DISCARDABLE 0, 0, 180, 122
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "", IDC_GEORAM_ENABLE,
                    7, 7, 99, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    LTEXT           "", IDC_GEORAM_SIZE_LABEL,
                    9, 24, 50, 8
    COMBOBOX        IDC_GEORAM_SIZE,
                    65, 22, 50, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    AUTOCHECKBOX    "", IDC_GEORAM_WRITE_ENABLE,
                    7, 44, 99, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    LTEXT           "", IDC_GEORAM_FILE_LABEL,
                    9, 66, 46, 8
    PUSHBUTTON      "", IDC_GEORAM_BROWSE,
                    55, 64, 50, 14, 0
    EDITTEXT        IDC_GEORAM_FILE,
                    9, 82, 160, 12, WS_TABSTOP

    DEFPUSHBUTTON   "", IDOK,
                    30, 102, 50, 14, WS_TABSTOP
    PUSHBUTTON      "", IDCANCEL,
                    90, 102, 50, 14, WS_TABSTOP
END

// -----------------------------------------------------------------------------

// original and default ENGLISH text

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
BEGIN
  IDS_SELECT_FILE_GEORAM  "Select file for GEO-RAM"
  IDS_GEORAM_CAPTION      "GEO-RAM settings"
  IDS_GEORAM_ENABLE       "&Enable GEO-RAM"
  IDS_GEORAM_SIZE_LABEL   "GEO-RAM size"
  IDS_GEORAM_WRITE_ENABLE "&Save GEO-RAM image when changed"
  IDS_GEORAM_FILE_LABEL   "GEO-RAM file"
END


// DANISH text

STRINGTABLE
LANGUAGE LANG_DANISH, SUBLANG_NEUTRAL
BEGIN
  IDS_SELECT_FILE_GEORAM  "Vælg fil for GEO-RAM"
  IDS_GEORAM_CAPTION      "GEO-RAM-indstillinger"
  IDS_GEORAM_ENABLE       "&Aktivér GEO-RAM"
  IDS_GEORAM_SIZE_LABEL   "GEO-RAM-størrelse"
  IDS_GEORAM_WRITE_ENABLE "&Gem GEO-RAM image ved ændringer"
  IDS_GEORAM_FILE_LABEL   "GEO-RAM-fil"
END


// GERMAN text

STRINGTABLE
LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL
BEGIN
  IDS_SELECT_FILE_GEORAM  "Datei für GEO-RAM auswählen"
  IDS_GEORAM_CAPTION      "GEO-RAM Einstellungen"
  IDS_GEORAM_ENABLE       "GEO-RAM aktivi&eren"
  IDS_GEORAM_SIZE_LABEL   "GEO-RAM Größe"
  IDS_GEORAM_WRITE_ENABLE "GEO-RAM Imagedatei bei Änderung &speichern"
  IDS_GEORAM_FILE_LABEL   "GEO-RAM Datei"
END


// FRENCH text

STRINGTABLE
LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL
BEGIN
  IDS_SELECT_FILE_GEORAM  "Select file for GEO-RAM"
  IDS_GEORAM_CAPTION      "GEO-RAM settings"
  IDS_GEORAM_ENABLE       "&Enable GEO-RAM"
  IDS_GEORAM_SIZE_LABEL   "GEO-RAM size"
  IDS_GEORAM_WRITE_ENABLE "&Save GEO-RAM image when changed"
  IDS_GEORAM_FILE_LABEL   "GEO-RAM file"
END


// HUNGARIAN text

#ifndef WINDRES_CP_IGNORE
#pragma code_page(28592)
#endif
STRINGTABLE
LANGUAGE LANG_HUNGARIAN, SUBLANG_NEUTRAL
BEGIN
  IDS_SELECT_FILE_GEORAM  "Select file for GEO-RAM"
  IDS_GEORAM_CAPTION      "GEO-RAM settings"
  IDS_GEORAM_ENABLE       "&Enable GEO-RAM"
  IDS_GEORAM_SIZE_LABEL   "GEO-RAM size"
  IDS_GEORAM_WRITE_ENABLE "&Save GEO-RAM image when changed"
  IDS_GEORAM_FILE_LABEL   "GEO-RAM file"
END
#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif


// ITALIAN text

STRINGTABLE
LANGUAGE LANG_ITALIAN, SUBLANG_NEUTRAL
BEGIN
  IDS_SELECT_FILE_GEORAM  "Seleziona file per GEO-RAM"
  IDS_GEORAM_CAPTION      "Impostazioni GEO-RAM"
  IDS_GEORAM_ENABLE       "&Attiva GEO-RAM"
  IDS_GEORAM_SIZE_LABEL   "Dimensione GEO-RAM"
  IDS_GEORAM_WRITE_ENABLE "&Salva immagine GEO-RAM al cambio"
  IDS_GEORAM_FILE_LABEL   "File GEO-RAM"
END


// DUTCH text

STRINGTABLE
LANGUAGE LANG_DUTCH, SUBLANG_NEUTRAL
BEGIN
  IDS_SELECT_FILE_GEORAM  "Selecteer bestand voor GEO-RAM"
  IDS_GEORAM_CAPTION      "GEO-RAM instellingen"
  IDS_GEORAM_ENABLE       "&Activeer GEO-RAM"
  IDS_GEORAM_SIZE_LABEL   "GEO-RAM grootte"
  IDS_GEORAM_WRITE_ENABLE "GEO-RAM bestand op&slaan indien gewijzigd"
  IDS_GEORAM_FILE_LABEL   "GEO-RAM bestand"
END


// POLISH text

#ifndef WINDRES_CP_IGNORE
#pragma code_page(28592)
#endif
STRINGTABLE
LANGUAGE LANG_POLISH, SUBLANG_NEUTRAL
BEGIN
  IDS_SELECT_FILE_GEORAM  "Select file for GEO-RAM"
  IDS_GEORAM_CAPTION      "GEO-RAM settings"
  IDS_GEORAM_ENABLE       "&Enable GEO-RAM"
  IDS_GEORAM_SIZE_LABEL   "GEO-RAM size"
  IDS_GEORAM_WRITE_ENABLE "&Save GEO-RAM image when changed"
  IDS_GEORAM_FILE_LABEL   "GEO-RAM file"
END
#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif


// RUSSIAN text

#ifndef WINDRES_CP_IGNORE
#pragma code_page(28595)
#endif
STRINGTABLE
LANGUAGE LANG_RUSSIAN, SUBLANG_NEUTRAL
BEGIN
  IDS_SELECT_FILE_GEORAM  "Select file for GEO-RAM"
  IDS_GEORAM_CAPTION      "GEO-RAM settings"
  IDS_GEORAM_ENABLE       "&Enable GEO-RAM"
  IDS_GEORAM_SIZE_LABEL   "GEO-RAM size"
  IDS_GEORAM_WRITE_ENABLE "&Save GEO-RAM image when changed"
  IDS_GEORAM_FILE_LABEL   "GEO-RAM file"
END
#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif


// SWEDISH text

STRINGTABLE
LANGUAGE LANG_SWEDISH, SUBLANG_NEUTRAL
BEGIN
  IDS_SELECT_FILE_GEORAM  "Välj fil för GEO-RAM"
  IDS_GEORAM_CAPTION      "GEO-RAM-inställningar"
  IDS_GEORAM_ENABLE       "&Aktivera GEO-RAM"
  IDS_GEORAM_SIZE_LABEL   "GEO-RAM-storlek"
  IDS_GEORAM_WRITE_ENABLE "&Spara GEO-RAM-avbildning vid ändringar"
  IDS_GEORAM_FILE_LABEL   "GEO-RAM-fil"
END


// TURKISH text

#ifndef WINDRES_CP_IGNORE
#pragma code_page(28599)
#endif
STRINGTABLE
LANGUAGE LANG_TURKISH, SUBLANG_NEUTRAL
BEGIN
  IDS_SELECT_FILE_GEORAM  "GEO-RAM için dosya seçin"
  IDS_GEORAM_CAPTION      "GEO-RAM ayarlarý"
  IDS_GEORAM_ENABLE       "GEO-RAM'i aktif &et"
  IDS_GEORAM_SIZE_LABEL   "GEO-RAM boyutu"
  IDS_GEORAM_WRITE_ENABLE "GEO-RAM imajý deði&stiðinde kaydet"
  IDS_GEORAM_FILE_LABEL   "GEO-RAM dosyasý"
END
#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif


