// GEORAM specific resources.
//

#include "config.h"
#include "res.h"
#include "rescommon.h"

#pragma code_page(28591)

// original and default ENGLISH version of dialog

IDD_GEORAM_SETTINGS_DIALOG DIALOG DISCARDABLE  0, 0, 180, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "GEORAM Settings"
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "&Enable GEORAM",IDC_GEORAM_ENABLE,
                    7,7,99,10, BS_AUTOCHECKBOX | WS_TABSTOP
    LTEXT           "GEORAM size",
                    IDC_STATIC,9,24,50,8
    COMBOBOX        IDC_GEORAM_SIZE,65,22,50,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "GEORAM file",
                    IDC_STATIC,9,44,46,8
    PUSHBUTTON      "&Browse...",IDC_GEORAM_BROWSE,55,42,50,14, 0
    EDITTEXT        IDC_GEORAM_FILE, 9,58,160,12,WS_TABSTOP

    DEFPUSHBUTTON   "OK", IDOK, 30,90,50,14, WS_TABSTOP
    PUSHBUTTON      "Cancel", IDCANCEL, 90,90,50,14, WS_TABSTOP
END


// DANISH version of dialog

IDD_GEORAM_SETTINGS_DIALOG_DA DIALOG DISCARDABLE  0, 0, 180, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "GEORAM-indstillinger"
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "&Aktivér GEORAM",IDC_GEORAM_ENABLE,
                    7,7,99,10, BS_AUTOCHECKBOX | WS_TABSTOP
    LTEXT           "GEORAM-størrelse",
                    IDC_STATIC,9,24,50,8
    COMBOBOX        IDC_GEORAM_SIZE,65,22,50,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "GEORAM-fil",
                    IDC_STATIC,9,44,46,8
    PUSHBUTTON      "&Gennemse...",IDC_GEORAM_BROWSE,55,42,50,14, 0
    EDITTEXT        IDC_GEORAM_FILE, 9,58,160,12,WS_TABSTOP

    DEFPUSHBUTTON   "OK", IDOK, 30,90,50,14, WS_TABSTOP
    PUSHBUTTON      "Annullér", IDCANCEL, 90,90,50,14, WS_TABSTOP
END


// GERMAN version of dialog

IDD_GEORAM_SETTINGS_DIALOG_DE DIALOG DISCARDABLE  0, 0, 180, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "GEORAM Einstellungen"
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "&GEORAM aktivieren",IDC_GEORAM_ENABLE,
                    7,7,99,10, BS_AUTOCHECKBOX | WS_TABSTOP
    LTEXT           "GEORAM größe",
                    IDC_STATIC,9,24,50,8
    COMBOBOX        IDC_GEORAM_SIZE,65,22,50,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "GEORAM datei",
                    IDC_STATIC,9,44,46,8
    PUSHBUTTON      "&Stöbern...",IDC_GEORAM_BROWSE,55,42,50,14, 0
    EDITTEXT        IDC_GEORAM_FILE, 9,58,160,12,WS_TABSTOP

    DEFPUSHBUTTON   "OK", IDOK, 30,90,50,14, WS_TABSTOP
    PUSHBUTTON      "Abbruch", IDCANCEL, 90,90,50,14, WS_TABSTOP
END


// FRENCH version of dialog

IDD_GEORAM_SETTINGS_DIALOG_FR DIALOG DISCARDABLE  0, 0, 180, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Paramètres GEORAM"
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "&Activer GEORAM",IDC_GEORAM_ENABLE,
                    7,7,99,10, BS_AUTOCHECKBOX | WS_TABSTOP
    LTEXT           "Taille du GEORAM",
                    IDC_STATIC,9,24,50,8
    COMBOBOX        IDC_GEORAM_SIZE,65,22,50,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Fichier GEORAM",
                    IDC_STATIC,9,44,46,8
    PUSHBUTTON      "&Parcourir...",IDC_GEORAM_BROWSE,55,42,50,14, 0
    EDITTEXT        IDC_GEORAM_FILE, 9,58,160,12,WS_TABSTOP

    DEFPUSHBUTTON   "OK", IDOK, 30,90,50,14, WS_TABSTOP
    PUSHBUTTON      "Annuler", IDCANCEL, 90,90,50,14, WS_TABSTOP
END


// HUNGARIAN version of dialog

#pragma code_page(28592)
IDD_GEORAM_SETTINGS_DIALOG_HU DIALOG DISCARDABLE  0, 0, 180, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "GEORAM beállításai"
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "GEORAM &engedélyezése",IDC_GEORAM_ENABLE,
                    7,7,99,10, BS_AUTOCHECKBOX | WS_TABSTOP
    LTEXT           "GEORAM mérete",
                    IDC_STATIC,9,24,50,8
    COMBOBOX        IDC_GEORAM_SIZE,65,22,50,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "GEORAM fájl",
                    IDC_STATIC,9,44,46,8
    PUSHBUTTON      "&Tallózás...",IDC_GEORAM_BROWSE,55,42,50,14, 0
    EDITTEXT        IDC_GEORAM_FILE, 9,58,160,12,WS_TABSTOP

    DEFPUSHBUTTON   "OK", IDOK, 30,90,50,14, WS_TABSTOP
    PUSHBUTTON      "Mégsem", IDCANCEL, 90,90,50,14, WS_TABSTOP
END
#pragma code_page(28591)


// ITALIAN version of dialog

IDD_GEORAM_SETTINGS_DIALOG_IT DIALOG DISCARDABLE  0, 0, 180, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Impostazioni GEORAM"
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "&Attiva GEORAM",IDC_GEORAM_ENABLE,
                    7,7,99,10, BS_AUTOCHECKBOX | WS_TABSTOP
    LTEXT           "Dimensione GEORAM",
                    IDC_STATIC,9,24,50,8
    COMBOBOX        IDC_GEORAM_SIZE,65,22,50,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "File della GEORAM",
                    IDC_STATIC,9,44,46,8
    PUSHBUTTON      "&Sfoglia...",IDC_GEORAM_BROWSE,55,42,50,14, 0
    EDITTEXT        IDC_GEORAM_FILE, 9,58,160,12,WS_TABSTOP

    DEFPUSHBUTTON   "OK", IDOK, 30,90,50,14, WS_TABSTOP
    PUSHBUTTON      "Annulla", IDCANCEL, 90,90,50,14, WS_TABSTOP
END


// DUTCH version of dialog

IDD_GEORAM_SETTINGS_DIALOG_NL DIALOG DISCARDABLE  0, 0, 180, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "GEORAM-instellingen"
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "&Activeer GEORAM",IDC_GEORAM_ENABLE,
                    7,7,99,10, BS_AUTOCHECKBOX | WS_TABSTOP
    LTEXT           "GEORAM-grootte",
                    IDC_STATIC,9,24,60,8
    COMBOBOX        IDC_GEORAM_SIZE,75,22,50,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "GEORAM-bestand",
                    IDC_STATIC,9,44,60,8
    PUSHBUTTON      "&Bladeren...",IDC_GEORAM_BROWSE,75,42,50,14, 0
    EDITTEXT        IDC_GEORAM_FILE, 9,58,160,12,WS_TABSTOP

    DEFPUSHBUTTON   "OK", IDOK, 30,90,50,14, WS_TABSTOP
    PUSHBUTTON      "Unnuleren", IDCANCEL, 90,90,50,14, WS_TABSTOP
END


// POLISH version of dialog

#pragma code_page(28592)
IDD_GEORAM_SETTINGS_DIALOG_PL DIALOG DISCARDABLE  0, 0, 180, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Ustawienia GEORAM"
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "&W³±cz GEORAM",IDC_GEORAM_ENABLE,
                    7,7,99,10, BS_AUTOCHECKBOX | WS_TABSTOP
    LTEXT           "Rozmiar GEORAM",
                    IDC_STATIC,9,24,50,8
    COMBOBOX        IDC_GEORAM_SIZE,65,22,50,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "GEORAM pliku",
                    IDC_STATIC,9,44,46,8
    PUSHBUTTON      "&Przegl±daj...",IDC_GEORAM_BROWSE,55,42,50,14, 0
    EDITTEXT        IDC_GEORAM_FILE, 9,58,160,12,WS_TABSTOP

    DEFPUSHBUTTON   "OK", IDOK, 30,90,50,14, WS_TABSTOP
    PUSHBUTTON      "Anuluj", IDCANCEL, 90,90,50,14, WS_TABSTOP
END
#pragma code_page(28591)


// SWEDISH version of dialog

IDD_GEORAM_SETTINGS_DIALOG_SV DIALOG DISCARDABLE  0, 0, 180, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "GEORAM-inställningar"
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "&Aktivera GEORAM",IDC_GEORAM_ENABLE,
                    7,7,99,10, BS_AUTOCHECKBOX | WS_TABSTOP
    LTEXT           "GEORAM-storlek",
                    IDC_STATIC,9,24,50,8
    COMBOBOX        IDC_GEORAM_SIZE,65,22,50,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "GEORAM-fil",
                    IDC_STATIC,9,44,46,8
    PUSHBUTTON      "&Bläddra...",IDC_GEORAM_BROWSE,55,42,50,14, 0
    EDITTEXT        IDC_GEORAM_FILE, 9,58,160,12,WS_TABSTOP

    DEFPUSHBUTTON   "OK", IDOK, 30,90,50,14, WS_TABSTOP
    PUSHBUTTON      "Avbryt", IDCANCEL, 90,90,50,14, WS_TABSTOP
END


// TURKISH version of dialog

#pragma code_page(28599)
IDD_GEORAM_SETTINGS_DIALOG_TR DIALOG DISCARDABLE  0, 0, 180, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "GEORAM Ayarlarý"
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "GEORAM'i aktif &et",IDC_GEORAM_ENABLE,
                    7,7,99,10, BS_AUTOCHECKBOX | WS_TABSTOP
    LTEXT           "GEORAM Boyutu",
                    IDC_STATIC,9,24,50,8
    COMBOBOX        IDC_GEORAM_SIZE,65,22,50,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "GEORAM dosyasý",
                    IDC_STATIC,9,44,46,8
    PUSHBUTTON      "&Göz at...",IDC_GEORAM_BROWSE,55,42,50,14, 0
    EDITTEXT        IDC_GEORAM_FILE, 9,58,160,12,WS_TABSTOP

    DEFPUSHBUTTON   "Tamam", IDOK, 30,90,50,14, WS_TABSTOP
    PUSHBUTTON      "Ýptal", IDCANCEL, 90,90,50,14, WS_TABSTOP
END
#pragma code_page(28591)

// -----------------------------------------------------------------------------

// original and default ENGLISH text

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
BEGIN
  IDS_SELECT_FILE_GEORAM   "Select file for GEORAM"
END


// DANISH text

STRINGTABLE
LANGUAGE LANG_DANISH, SUBLANG_NEUTRAL
BEGIN
  IDS_SELECT_FILE_GEORAM   "Vælg fil for GEORAM"
END


// GERMAN text

STRINGTABLE
LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL
BEGIN
  IDS_SELECT_FILE_GEORAM   "Datei für GEORAM selektieren"
END


// FRENCH text

STRINGTABLE
LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL
BEGIN
  IDS_SELECT_FILE_GEORAM   "Sélectionner le fichier GEORAM"
END


// HUNGARIAN text

#pragma code_page(28592)
STRINGTABLE
LANGUAGE LANG_HUNGARIAN, SUBLANG_NEUTRAL
BEGIN
  IDS_SELECT_FILE_GEORAM   "Válasszon fájlt a GEORAM-hoz"
END
#pragma code_page(28591)


// ITALIAN text

STRINGTABLE
LANGUAGE LANG_ITALIAN, SUBLANG_NEUTRAL
BEGIN
  IDS_SELECT_FILE_GEORAM   "Seleziona il file per la GEORAM"
END


// DUTCH text

STRINGTABLE
LANGUAGE LANG_DUTCH, SUBLANG_NEUTRAL
BEGIN
  IDS_SELECT_FILE_GEORAM   "Selecteer bestand voor GEORAM"
END


// POLISH text

#pragma code_page(28592)
STRINGTABLE
LANGUAGE LANG_POLISH, SUBLANG_NEUTRAL
BEGIN
  IDS_SELECT_FILE_GEORAM   "Select file for GEORAM"
END
#pragma code_page(28591)


// SWEDISH text

STRINGTABLE
LANGUAGE LANG_SWEDISH, SUBLANG_NEUTRAL
BEGIN
  IDS_SELECT_FILE_GEORAM   "Välj fil för GEORAM"
END


// TURKISH text

#pragma code_page(28599)
STRINGTABLE
LANGUAGE LANG_TURKISH, SUBLANG_NEUTRAL
BEGIN
  IDS_SELECT_FILE_GEORAM   "GEORAM için dosya seçin"
END
#pragma code_page(28591)
