// IDE64 specific resources.
//

IDD_IDE64_SETTINGS_DIALOG DIALOG DISCARDABLE  0, 0, 180, 170
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "REU Settings"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "&HD image file",IDC_STATIC,9,14,50,8
    PUSHBUTTON      "&Browse...",IDC_IDE64_HDIMAGE_BROWSE,60,12,50,14, 0
    EDITTEXT        IDC_IDE64_HDIMAGE_FILE, 9,28,160,12,WS_TABSTOP

    GROUPBOX        "&Geometry",IDC_STATIC,5,48,120,95
    AUTOCHECKBOX    "&Autodetect",IDC_TOGGLE_IDE64_SIZEAUTODETECT,
                    10,60,80,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    LTEXT           "Cylinder",IDC_STATIC,10,75,50,8
    COMBOBOX        IDC_IDE64_CYLINDERS,55,73,60,50,CBS_DROPDOWNLIST |
                    WS_GROUP | WS_TABSTOP | WS_VSCROLL
    LTEXT           "Heads",IDC_STATIC,10,95,55,8
    COMBOBOX        IDC_IDE64_HEADS,55,93,60,50,CBS_DROPDOWNLIST |
                    WS_GROUP | WS_TABSTOP | WS_VSCROLL
    LTEXT           "Sectors",IDC_STATIC,10,115,50,8
    COMBOBOX        IDC_IDE64_SECTORS,55,113,60,50,CBS_DROPDOWNLIST |
                    WS_GROUP | WS_TABSTOP | WS_VSCROLL
    LTEXT           "Size",IDC_IDE64_SIZE,10,130,100,8

    DEFPUSHBUTTON   "OK", IDOK, 60,150,50,14, WS_TABSTOP
    PUSHBUTTON      "Cancel", IDCANCEL, 120,150,50,14, WS_TABSTOP
END

