// ISEPIC specific resources.
//

#include "config.h"
#include "res.h"
#include "rescommon.h"

#pragma code_page(28591)

// original and default ENGLISH version of dialog

IDD_ISEPIC_SETTINGS_DIALOG DIALOG DISCARDABLE  0, 0, 180, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Isepic Settings"
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "&Enable Isepic",IDC_ISEPIC_ENABLE,
                    7,7,99,10, BS_AUTOCHECKBOX | WS_TABSTOP
    AUTOCHECKBOX    "&Isepic switch",IDC_ISEPIC_SWITCH,
                    7,24,99,10, BS_AUTOCHECKBOX | WS_TABSTOP

    DEFPUSHBUTTON   "OK", IDOK, 30,90,50,14, WS_TABSTOP
    PUSHBUTTON      "Cancel", IDCANCEL, 90,90,50,14, WS_TABSTOP
END


// GERMAN version of dialog

IDD_ISEPIC_SETTINGS_DIALOG_DE DIALOG DISCARDABLE  0, 0, 180, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Isepic Einstellungen"
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "Isepic Aktivier&en",IDC_ISEPIC_ENABLE,
                    7,7,99,10, BS_AUTOCHECKBOX | WS_TABSTOP
    AUTOCHECKBOX    "&Isepic Schalter",IDC_ISEPIC_SWITCH,
                    7,24,99,10, BS_AUTOCHECKBOX | WS_TABSTOP

    DEFPUSHBUTTON   "OK", IDOK, 30,90,50,14, WS_TABSTOP
    PUSHBUTTON      "Abbruch", IDCANCEL, 90,90,50,14, WS_TABSTOP
END


// FRENCH version of dialog

IDD_ISEPIC_SETTINGS_DIALOG_FR DIALOG DISCARDABLE  0, 0, 180, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Isepic Settings"
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "&Enable Isepic",IDC_ISEPIC_ENABLE,
                    7,7,99,10, BS_AUTOCHECKBOX | WS_TABSTOP
    AUTOCHECKBOX    "&Isepic switch",IDC_ISEPIC_SWITCH,
                    7,24,99,10, BS_AUTOCHECKBOX | WS_TABSTOP

    DEFPUSHBUTTON   "OK", IDOK, 30,90,50,14, WS_TABSTOP
    PUSHBUTTON      "Annuler", IDCANCEL, 90,90,50,14, WS_TABSTOP
END


// HUNGARIAN version of dialog

#pragma code_page(28592)
IDD_ISEPIC_SETTINGS_DIALOG_HU DIALOG DISCARDABLE  0, 0, 180, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Isepic beállítások"
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "&Enable Isepic",IDC_ISEPIC_ENABLE,
                    7,7,99,10, BS_AUTOCHECKBOX | WS_TABSTOP
    AUTOCHECKBOX    "&Isepic switch",IDC_ISEPIC_SWITCH,
                    7,24,99,10, BS_AUTOCHECKBOX | WS_TABSTOP

    DEFPUSHBUTTON   "OK", IDOK, 30,90,50,14, WS_TABSTOP
    PUSHBUTTON      "Mégsem", IDCANCEL, 90,90,50,14, WS_TABSTOP
END
#pragma code_page(28591)


// ITALIAN version of dialog

IDD_ISEPIC_SETTINGS_DIALOG_IT DIALOG DISCARDABLE  0, 0, 180, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Impostazioni Isepic"
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "&Enable Isepic",IDC_ISEPIC_ENABLE,
                    7,7,99,10, BS_AUTOCHECKBOX | WS_TABSTOP
    AUTOCHECKBOX    "&Isepic switch",IDC_ISEPIC_SWITCH,
                    7,24,99,10, BS_AUTOCHECKBOX | WS_TABSTOP

    DEFPUSHBUTTON   "OK", IDOK, 30,90,50,14, WS_TABSTOP
    PUSHBUTTON      "Annulla", IDCANCEL, 90,90,50,14, WS_TABSTOP
END


// DUTCH version of dialog

IDD_ISEPIC_SETTINGS_DIALOG_NL DIALOG DISCARDABLE  0, 0, 180, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Isepic instellingen"
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "&Activeer Isepic",IDC_ISEPIC_ENABLE,
                    7,7,99,10, BS_AUTOCHECKBOX | WS_TABSTOP
    AUTOCHECKBOX    "&Isepic schakelaar",IDC_ISEPIC_SWITCH,
                    7,24,99,10, BS_AUTOCHECKBOX | WS_TABSTOP

    DEFPUSHBUTTON   "OK", IDOK, 30,90,50,14, WS_TABSTOP
    PUSHBUTTON      "Unnuleren", IDCANCEL, 90,90,50,14, WS_TABSTOP
END


// POLISH version of dialog

#pragma code_page(28592)
IDD_ISEPIC_SETTINGS_DIALOG_PL DIALOG DISCARDABLE  0, 0, 180, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Isepic Settings"
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "&Enable Isepic",IDC_ISEPIC_ENABLE,
                    7,7,99,10, BS_AUTOCHECKBOX | WS_TABSTOP
    AUTOCHECKBOX    "&Isepic switch",IDC_ISEPIC_SWITCH,
                    7,24,99,10, BS_AUTOCHECKBOX | WS_TABSTOP

    DEFPUSHBUTTON   "OK", IDOK, 30,90,50,14, WS_TABSTOP
    PUSHBUTTON      "Anuluj", IDCANCEL, 90,90,50,14, WS_TABSTOP
END
#pragma code_page(28591)


// SWEDISH version of dialog

IDD_ISEPIC_SETTINGS_DIALOG_SV DIALOG DISCARDABLE  0, 0, 180, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Isepic Settings"
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "&Enable Isepic",IDC_ISEPIC_ENABLE,
                    7,7,99,10, BS_AUTOCHECKBOX | WS_TABSTOP
    AUTOCHECKBOX    "&Isepic switch",IDC_ISEPIC_SWITCH,
                    7,24,99,10, BS_AUTOCHECKBOX | WS_TABSTOP

    DEFPUSHBUTTON   "OK", IDOK, 30,90,50,14, WS_TABSTOP
    PUSHBUTTON      "Avbryt", IDCANCEL, 90,90,50,14, WS_TABSTOP
END
