// IDE64 specific resources.
//

#include "vice.h"

#include "res.h"
#include "rescommon.h"

#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif

// template of dialog for all languages

IDD_IDE64_SETTINGS_DIALOG DIALOG DISCARDABLE 0, 0, 180, 280
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "", IDC_IDE64_V4,
                    10, 14, 90, 10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP

    LTEXT           "", IDC_IDE64_FILE_1_LABEL,
                    9, 24, 50, 8
    PUSHBUTTON      "", IDC_IDE64_HDIMAGE_1_BROWSE,
                    60, 22, 50, 14, 0
    EDITTEXT        IDC_IDE64_HDIMAGE_1_FILE,
                    9, 38, 160, 12, WS_TABSTOP

    LTEXT           "", IDC_IDE64_FILE_2_LABEL,
                    9, 54, 50, 8
    PUSHBUTTON      "", IDC_IDE64_HDIMAGE_2_BROWSE,
                    60, 52, 50, 14, 0
    EDITTEXT        IDC_IDE64_HDIMAGE_2_FILE,
                    9, 68, 160, 12, WS_TABSTOP

    LTEXT           "", IDC_IDE64_FILE_3_LABEL,
                    9, 84, 50, 8
    PUSHBUTTON      "", IDC_IDE64_HDIMAGE_3_BROWSE,
                    60, 82, 50, 14, 0
    EDITTEXT        IDC_IDE64_HDIMAGE_3_FILE,
                    9, 98, 160, 12, WS_TABSTOP

    LTEXT           "", IDC_IDE64_FILE_4_LABEL,
                    9, 114, 50, 8
    PUSHBUTTON      "", IDC_IDE64_HDIMAGE_4_BROWSE,
                    60, 112, 50, 14, 0
    EDITTEXT        IDC_IDE64_HDIMAGE_4_FILE,
                    9, 128, 160, 12, WS_TABSTOP

    GROUPBOX        "", IDC_IDE64_GEOMETRY,
                    5, 158, 120, 95
    AUTOCHECKBOX    "", IDC_TOGGLE_IDE64_SIZEAUTODETECT,
                    10, 170, 90, 10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    LTEXT           "", IDC_IDE64_CYLINDERS_LABEL,
                    10, 185, 50, 8
    COMBOBOX        IDC_IDE64_CYLINDERS,
                    55, 183, 60, 50, CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VSCROLL
    LTEXT           "", IDC_IDE64_HEADS_LABEL,
                    10, 205, 55, 8
    COMBOBOX        IDC_IDE64_HEADS,
                    55, 203, 60, 50, CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VSCROLL
    LTEXT           "", IDC_IDE64_SECTORS_LABEL,
                    10, 225, 50, 8
    COMBOBOX        IDC_IDE64_SECTORS,
                    55, 223, 60, 50, CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VSCROLL
    LTEXT           "", IDC_IDE64_SIZE,
                    10, 240, 100, 8

    DEFPUSHBUTTON   "", IDOK,
                    60, 260, 50, 14, WS_TABSTOP
    PUSHBUTTON      "", IDCANCEL,
                    120, 260, 50, 14, WS_TABSTOP
END

// -----------------------------------------------------------------------------

// original and default ENGLISH text

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
BEGIN
    IDS_IDE64_CAPTION      "IDE64 settings"
    IDS_IDE64_V4           "Enable IDE64 V4"
    IDS_IDE64_IMAGE_1      "HD image #1 file"
    IDS_IDE64_IMAGE_2      "HD image #2 file"
    IDS_IDE64_IMAGE_3      "HD image #3 file"
    IDS_IDE64_IMAGE_4      "HD image #4 file"
    IDS_IDE64_GEOMETRY     "Geometry"
    IDS_IDE64_AUTODETECT   "Autodetect"
    IDS_IDE64_CYLINDERS    "Cylinders"
    IDS_IDE64_HEADS        "Heads"
    IDS_IDE64_SECTORS      "Sectors"
    IDS_IDE64_TOTAL_SIZE   "Total size: %iKB"
    IDS_IDE64_SELECT_IMAGE "Select HD image file"
END


// DANISH text

STRINGTABLE
LANGUAGE LANG_DANISH, SUBLANG_NEUTRAL
BEGIN
    IDS_IDE64_CAPTION      "IDE64-indstillinger"
    IDS_IDE64_V4           "Aktivér IDE64 V4"
    IDS_IDE64_IMAGE_1      "HD-imagefil #1"
    IDS_IDE64_IMAGE_2      "HD-imagefil #2"
    IDS_IDE64_IMAGE_3      "HD-imagefil #3"
    IDS_IDE64_IMAGE_4      "HD-imagefil #4"
    IDS_IDE64_GEOMETRY     "Geometri"
    IDS_IDE64_AUTODETECT   "Autodetektér"
    IDS_IDE64_CYLINDERS    "Cylindrer"
    IDS_IDE64_HEADS        "Hoveder"
    IDS_IDE64_SECTORS      "Sektorer"
    IDS_IDE64_TOTAL_SIZE   "Total størrelse: %iKB"
    IDS_IDE64_SELECT_IMAGE "Angiv HD-imagefil"
END


// GERMAN text

STRINGTABLE
LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL
BEGIN
    IDS_IDE64_CAPTION      "IDE64 Einstellungen"
    IDS_IDE64_V4           "IDE64 V4 aktivieren"
    IDS_IDE64_IMAGE_1      "HD Image #1 Datei"
    IDS_IDE64_IMAGE_2      "HD Image #2 Datei"
    IDS_IDE64_IMAGE_3      "HD Image #3 Datei"
    IDS_IDE64_IMAGE_4      "HD Image #4 Datei"
    IDS_IDE64_GEOMETRY     "Geometrie"
    IDS_IDE64_AUTODETECT   "Automatische Erkennung"
    IDS_IDE64_CYLINDERS    "Zylinder"
    IDS_IDE64_HEADS        "Köpfe"
    IDS_IDE64_SECTORS      "Sektoren"
    IDS_IDE64_TOTAL_SIZE   "Gesamtgröße: %iKB"
    IDS_IDE64_SELECT_IMAGE "HD Image Datei auswählen"
END


// FRENCH text

STRINGTABLE
LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL
BEGIN
    IDS_IDE64_CAPTION      "IDE64 settings"
    IDS_IDE64_V4           "Enable IDE64 V4"
    IDS_IDE64_IMAGE_1      "HD image #1 file"
    IDS_IDE64_IMAGE_2      "HD image #2 file"
    IDS_IDE64_IMAGE_3      "HD image #3 file"
    IDS_IDE64_IMAGE_4      "HD image #4 file"
    IDS_IDE64_GEOMETRY     "Géométrie"
    IDS_IDE64_AUTODETECT   "Autodétection"
    IDS_IDE64_CYLINDERS    "Cylindres"
    IDS_IDE64_HEADS        "Têtes"
    IDS_IDE64_SECTORS      "Secteurs"
    IDS_IDE64_TOTAL_SIZE   "Taille totale: %iKo"
    IDS_IDE64_SELECT_IMAGE "Sélectionnez le fichier image du D.D."
END


// HUNGARIAN text

#ifndef WINDRES_CP_IGNORE
#pragma code_page(28592)
#endif
STRINGTABLE
LANGUAGE LANG_HUNGARIAN, SUBLANG_NEUTRAL
BEGIN
    IDS_IDE64_CAPTION      "IDE64 beállításai"
    IDS_IDE64_V4           "Enable IDE64 V4"
    IDS_IDE64_IMAGE_1      "HD image #1 file"
    IDS_IDE64_IMAGE_2      "HD image #2 file"
    IDS_IDE64_IMAGE_3      "HD image #3 file"
    IDS_IDE64_IMAGE_4      "HD image #4 file"
    IDS_IDE64_GEOMETRY     "Geometry"
    IDS_IDE64_AUTODETECT   "Automatikus érzékelés"
    IDS_IDE64_CYLINDERS    "Sávok"
    IDS_IDE64_HEADS        "Fejek"
    IDS_IDE64_SECTORS      "Szektorok"
    IDS_IDE64_TOTAL_SIZE   "Teljes méret: %iKB"
    IDS_IDE64_SELECT_IMAGE "Válassza ki a merevlemez képmás fájlt"
END
#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif


// ITALIAN text

STRINGTABLE
LANGUAGE LANG_ITALIAN, SUBLANG_NEUTRAL
BEGIN
    IDS_IDE64_CAPTION      "Impostazioni IDE64"
    IDS_IDE64_V4           "Attiva IDE64 V4"
    IDS_IDE64_IMAGE_1      "File immagine #1 HD"
    IDS_IDE64_IMAGE_2      "File immagine #2 HD"
    IDS_IDE64_IMAGE_3      "File immagine #3 HD"
    IDS_IDE64_IMAGE_4      "File immagine #4 HD"
    IDS_IDE64_GEOMETRY     "Geometria"
    IDS_IDE64_AUTODETECT   "Rileva automaticamente"
    IDS_IDE64_CYLINDERS    "Cilindri"
    IDS_IDE64_HEADS        "Testine"
    IDS_IDE64_SECTORS      "Settori"
    IDS_IDE64_TOTAL_SIZE   "Dimensione totale: %iKB"
    IDS_IDE64_SELECT_IMAGE "Seleziona il file immagine HD"
END


// KOREAN text

#ifndef WINDRES_CP_IGNORE
#pragma code_page(949)
#endif
STRINGTABLE
LANGUAGE LANG_KOREAN, SUBLANG_NEUTRAL
BEGIN
    IDS_IDE64_CAPTION      "IDE64 settings"
    IDS_IDE64_V4           "Enable IDE64 V4"
    IDS_IDE64_IMAGE_1      "HD image #1 file"
    IDS_IDE64_IMAGE_2      "HD image #2 file"
    IDS_IDE64_IMAGE_3      "HD image #3 file"
    IDS_IDE64_IMAGE_4      "HD image #4 file"
    IDS_IDE64_GEOMETRY     "Geometry"
    IDS_IDE64_AUTODETECT   "Autodetect"
    IDS_IDE64_CYLINDERS    "Cylinders"
    IDS_IDE64_HEADS        "Heads"
    IDS_IDE64_SECTORS      "Sectors"
    IDS_IDE64_TOTAL_SIZE   "Total size"
    IDS_IDE64_SELECT_IMAGE "Select HD image file"
END
#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif


// DUTCH text

STRINGTABLE
LANGUAGE LANG_DUTCH, SUBLANG_NEUTRAL
BEGIN
    IDS_IDE64_CAPTION      "IDE64 instellingen"
    IDS_IDE64_V4           "Activeer IDE64 V4"
    IDS_IDE64_IMAGE_1      "HD bestand #1"
    IDS_IDE64_IMAGE_2      "HD bestand #2"
    IDS_IDE64_IMAGE_3      "HD bestand #3"
    IDS_IDE64_IMAGE_4      "HD bestand #4"
    IDS_IDE64_GEOMETRY     "Geometrie"
    IDS_IDE64_AUTODETECT   "Autodetectie"
    IDS_IDE64_CYLINDERS    "Cylinders"
    IDS_IDE64_HEADS        "Koppen"
    IDS_IDE64_SECTORS      "Sectors"
    IDS_IDE64_TOTAL_SIZE   "Totale grootte: %iKB"
    IDS_IDE64_SELECT_IMAGE "Selecteer HD bestand"
END


// POLISH text

#ifndef WINDRES_CP_IGNORE
#pragma code_page(28592)
#endif
STRINGTABLE
LANGUAGE LANG_POLISH, SUBLANG_NEUTRAL
BEGIN
    IDS_IDE64_CAPTION      "IDE64 settings"
    IDS_IDE64_V4           "Enable IDE64 V4"
    IDS_IDE64_IMAGE_1      "HD image #1 file"
    IDS_IDE64_IMAGE_2      "HD image #2 file"
    IDS_IDE64_IMAGE_3      "HD image #3 file"
    IDS_IDE64_IMAGE_4      "HD image #4 file"
    IDS_IDE64_GEOMETRY     "Geometry"
    IDS_IDE64_AUTODETECT   "Autodetect"
    IDS_IDE64_CYLINDERS    "Cylinders"
    IDS_IDE64_HEADS        "Heads"
    IDS_IDE64_SECTORS      "Sectors"
    IDS_IDE64_TOTAL_SIZE   "Total size"
    IDS_IDE64_SELECT_IMAGE "Select HD image file"
END
#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif


// RUSSIAN text

#ifndef WINDRES_CP_IGNORE
#pragma code_page(28595)
#endif
STRINGTABLE
LANGUAGE LANG_RUSSIAN, SUBLANG_NEUTRAL
BEGIN
    IDS_IDE64_CAPTION      "IDE64 settings"
    IDS_IDE64_V4           "Enable IDE64 V4"
    IDS_IDE64_IMAGE_1      "HD image #1 file"
    IDS_IDE64_IMAGE_2      "HD image #2 file"
    IDS_IDE64_IMAGE_3      "HD image #3 file"
    IDS_IDE64_IMAGE_4      "HD image #4 file"
    IDS_IDE64_GEOMETRY     "Geometry"
    IDS_IDE64_AUTODETECT   "Autodetect"
    IDS_IDE64_CYLINDERS    "Cylinders"
    IDS_IDE64_HEADS        "Heads"
    IDS_IDE64_SECTORS      "Sectors"
    IDS_IDE64_TOTAL_SIZE   "Total size"
    IDS_IDE64_SELECT_IMAGE "Select HD image file"
END
#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif


// SWEDISH text

STRINGTABLE
LANGUAGE LANG_SWEDISH, SUBLANG_NEUTRAL
BEGIN
    IDS_IDE64_CAPTION      "IDE64-inställningar"
    IDS_IDE64_V4           "Aktivera IDE64 V4"
    IDS_IDE64_IMAGE_1      "HD-avbildningsfil 1"
    IDS_IDE64_IMAGE_2      "HD-avbildningsfil 2"
    IDS_IDE64_IMAGE_3      "HD-avbildningsfil 3"
    IDS_IDE64_IMAGE_4      "HD-avbildningsfil 4"
    IDS_IDE64_GEOMETRY     "Geometri"
    IDS_IDE64_AUTODETECT   "Autodetektera"
    IDS_IDE64_CYLINDERS    "Cylindrar"
    IDS_IDE64_HEADS        "Huvuden"
    IDS_IDE64_SECTORS      "Sektorer"
    IDS_IDE64_TOTAL_SIZE   "Total storlek: %iKB"
    IDS_IDE64_SELECT_IMAGE "Ange HD-avbildningsfil"
END


// TURKISH text

#ifndef WINDRES_CP_IGNORE
#pragma code_page(28599)
#endif
STRINGTABLE
LANGUAGE LANG_TURKISH, SUBLANG_NEUTRAL
BEGIN
    IDS_IDE64_CAPTION      "IDE64 ayarlarý"
    IDS_IDE64_V4           "IDE64 V4'ü aktif et"
    IDS_IDE64_IMAGE_1      "HD imaj #1 dosyasý"
    IDS_IDE64_IMAGE_2      "HD imaj #2 dosyasý"
    IDS_IDE64_IMAGE_3      "HD imaj #3 dosyasý"
    IDS_IDE64_IMAGE_4      "HD imaj #4 dosyasý"
    IDS_IDE64_GEOMETRY     "Geometri"
    IDS_IDE64_AUTODETECT   "Otomatik algýla"
    IDS_IDE64_CYLINDERS    "Silindirler"
    IDS_IDE64_HEADS        "Kafalar"
    IDS_IDE64_SECTORS      "Sektörler"
    IDS_IDE64_TOTAL_SIZE   "Toplam boyut: %iKB"
    IDS_IDE64_SELECT_IMAGE "HD imaj dosyasý seç"
END
#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif


