// Lightpen specific resources.
//

// template of dialog for all languages

IDD_LIGHTPEN_SETTINGS_DIALOG DIALOG DISCARDABLE 0, 0, 180, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "", IDC_LIGHTPEN_ENABLE,
                    7, 7, 99, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    LTEXT           "", IDC_LIGHTPEN_TYPE_LABEL,
                    9, 24, 30, 8
    COMBOBOX        IDC_LIGHTPEN_TYPE,
                    45, 22, 100, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    DEFPUSHBUTTON   "", IDOK,
                    30, 90, 50, 14, WS_TABSTOP
    PUSHBUTTON      "", IDCANCEL,
                    90, 90, 50, 14, WS_TABSTOP
END

// -----------------------------------------------------------------------------

// original and default ENGLISH text

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
BEGIN
    IDS_LIGHTPEN_CAPTION "Lightpen settings"
    IDS_LIGHTPEN_ENABLE  "Enable lightpen emulation"
    IDS_LIGHTPEN_TYPE    "Lightpen type"
END


// DANISH text

STRINGTABLE
LANGUAGE LANG_DANISH, SUBLANG_NEUTRAL
BEGIN
    IDS_LIGHTPEN_CAPTION "Lyspenindstillinger"
    IDS_LIGHTPEN_ENABLE  "Aktivér lyspen-emulering"
    IDS_LIGHTPEN_TYPE    "Lyspentype"
END


// GERMAN text

STRINGTABLE
LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL
BEGIN
    IDS_LIGHTPEN_CAPTION "Lichtgriffel Einstellungen"
    IDS_LIGHTPEN_ENABLE  "Lichtgriffel Emulation aktivieren"
    IDS_LIGHTPEN_TYPE    "Lichtgriffel Type"
END


// SPANISH text

STRINGTABLE
LANGUAGE LANG_SPANISH, SUBLANG_NEUTRAL
BEGIN
    IDS_LIGHTPEN_CAPTION "Ajustes lápiz óptico"
    IDS_LIGHTPEN_ENABLE  "Permitir emulación lápiz óptico"
    IDS_LIGHTPEN_TYPE    "Tipo de lápiz óptico"
END


// FRENCH text

STRINGTABLE
LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL
BEGIN
    IDS_LIGHTPEN_CAPTION "Paramètres crayon optique"
    IDS_LIGHTPEN_ENABLE  "Activer l'émulation du stylet optique"
    IDS_LIGHTPEN_TYPE    "Type de stylet optique"
END


// HUNGARIAN text

#ifndef WINDRES_CP_IGNORE
#pragma code_page(28592)
#endif
STRINGTABLE
LANGUAGE LANG_HUNGARIAN, SUBLANG_NEUTRAL
BEGIN
    IDS_LIGHTPEN_CAPTION "Lightpen settings"
    IDS_LIGHTPEN_ENABLE  "Fényceruza emuláció engedélyezése"
    IDS_LIGHTPEN_TYPE    "Fényceruza típusa"
END
#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif


// ITALIAN text

STRINGTABLE
LANGUAGE LANG_ITALIAN, SUBLANG_NEUTRAL
BEGIN
    IDS_LIGHTPEN_CAPTION "Impostazioni penna ottica"
    IDS_LIGHTPEN_ENABLE  "Attiva emulazione della penna ottica"
    IDS_LIGHTPEN_TYPE    "Tipo di penna ottica"
END


// KOREAN text

#ifndef WINDRES_CP_IGNORE
#pragma code_page(949)
#endif
STRINGTABLE
LANGUAGE LANG_KOREAN, SUBLANG_NEUTRAL
BEGIN
    IDS_LIGHTPEN_CAPTION "Lightpen settings"
    IDS_LIGHTPEN_ENABLE  "¶óÀÌÆ®Ææ ¿¡¹°·¹¾îÅÍ »ç¿ë°¡´ÉÄÉ ÇÏ±â"
    IDS_LIGHTPEN_TYPE    "Lightpen type"
END
#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif


// DUTCH text

STRINGTABLE
LANGUAGE LANG_DUTCH, SUBLANG_NEUTRAL
BEGIN
    IDS_LIGHTPEN_CAPTION "Lichtpen instellingen"
    IDS_LIGHTPEN_ENABLE  "Activeer de lichtpen emulatie"
    IDS_LIGHTPEN_TYPE    "Lichtpen model"
END


// POLISH text

#ifndef WINDRES_CP_IGNORE
#pragma code_page(28592)
#endif
STRINGTABLE
LANGUAGE LANG_POLISH, SUBLANG_NEUTRAL
BEGIN
    IDS_LIGHTPEN_CAPTION "Ustawienia pióra ¶wietlnego"
    IDS_LIGHTPEN_ENABLE  "W³±cz emulacjê pióra ¶wietlnego"
    IDS_LIGHTPEN_TYPE    "Typ pióra ¶wietlnego"
END
#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif


// RUSSIAN text

#ifndef WINDRES_CP_IGNORE
#pragma code_page(28595)
#endif
STRINGTABLE
LANGUAGE LANG_RUSSIAN, SUBLANG_NEUTRAL
BEGIN
    IDS_LIGHTPEN_CAPTION "Lightpen settings"
    IDS_LIGHTPEN_ENABLE  "Enable lightpen emulation"
    IDS_LIGHTPEN_TYPE    "Lightpen type"
END
#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif


// SWEDISH text

STRINGTABLE
LANGUAGE LANG_SWEDISH, SUBLANG_NEUTRAL
BEGIN
    IDS_LIGHTPEN_CAPTION "Inställningar för ljuspenna"
    IDS_LIGHTPEN_ENABLE  "Aktivera emulering av ljuspenna"
    IDS_LIGHTPEN_TYPE    "Typ av ljuspenna"
END


// TURKISH text

#ifndef WINDRES_CP_IGNORE
#pragma code_page(28599)
#endif
STRINGTABLE
LANGUAGE LANG_TURKISH, SUBLANG_NEUTRAL
BEGIN
    IDS_LIGHTPEN_CAPTION "Iþýklý Kalem ayarlarý"
    IDS_LIGHTPEN_ENABLE  "Iþýklý Kalem emülasyonunu aktif et"
    IDS_LIGHTPEN_TYPE    "Iþýklý Kalem tipi"
END
#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif


