// MMC64 specific resources.
//

#include "config.h"
#include "res.h"
#include "rescommon.h"

#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif

// template of dialog for all languages

IDD_MMC64_SETTINGS_DIALOG DIALOG DISCARDABLE 0, 0, 180, 180
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "", IDC_MMC64_ENABLE,
                    7, 7, 75, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    LTEXT           "", IDC_MMC64_REVISION_LABEL,
                    9, 24, 53, 8
    COMBOBOX        IDC_MMC64_REVISION,
                    66, 22, 50, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    AUTOCHECKBOX    "", IDC_MMC64_FLASHJUMPER,
                    7, 40, 107, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    AUTOCHECKBOX    "", IDC_MMC64_BIOS_SAVE,
                    7, 50, 107, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    LTEXT           "", IDC_MMC64_BIOS_FILE_LABEL,
                    9, 62, 50, 8
    PUSHBUTTON      "", IDC_MMC64_BIOS_BROWSE,
                    66, 62, 50, 14, 0
    EDITTEXT        IDC_MMC64_BIOS_FILE,
                    9, 78, 160, 12, WS_TABSTOP
    AUTOCHECKBOX    "", IDC_MMC64_IMAGE_RO,
                    7, 98, 107, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    LTEXT           "", IDC_MMC64_IMAGE_FILE_LABEL,
                    9, 110, 56, 8
    PUSHBUTTON      "", IDC_MMC64_IMAGE_BROWSE,
                    66, 110, 50, 14, 0
    EDITTEXT        IDC_MMC64_IMAGE_FILE,
                    9, 126, 160, 12, WS_TABSTOP
    LTEXT           "", IDC_MMC64_SDTYPE_LABEL,
                    9, 142, 30, 8
    COMBOBOX        IDC_MMC64_SDTYPE,
                    40, 140, 50, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "", IDOK,
                    30, 165, 50, 14, WS_TABSTOP
    PUSHBUTTON      "", IDCANCEL,
                    90, 165, 50, 14, WS_TABSTOP
END

// -----------------------------------------------------------------------------

// original and default ENGLISH text

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
BEGIN
  IDS_MMC64_ENABLE           "&Enable MMC64"
  IDS_MMC64_REVISION_LABEL   "BIOS Revision"
  IDS_MMC64_FLASHJUMPER      "Enable BIOS &Flash Jumper"
  IDS_MMC64_BIOS_SAVE        "&Save BIOS when changed"
  IDS_MMC64_BIOS_FILE_LABEL  "&BIOS File"
  IDS_MMC64_IMAGE_RO         "MMC/SD Image read-only"
  IDS_MMC64_IMAGE_FILE_LABEL "MMC/SD &Image File"
  IDS_MMC64_SDTYPE_LABEL     "Card type"
END


// DANISH text

STRINGTABLE
LANGUAGE LANG_DANISH, SUBLANG_NEUTRAL
BEGIN
  IDS_MMC64_ENABLE           "&Aktivér MMC64"
  IDS_MMC64_REVISION_LABEL   "BIOS-revision"
  IDS_MMC64_FLASHJUMPER      "Aktivér BIOS-&flashjumper"
  IDS_MMC64_BIOS_SAVE        "&Gem BIOS ved ændringer"
  IDS_MMC64_BIOS_FILE_LABEL  "&BIOS-fil"
  IDS_MMC64_IMAGE_RO         "MMC/SD-image skrivebeskyttet"
  IDS_MMC64_IMAGE_FILE_LABEL "MMC/SD-&imagefil"
  IDS_MMC64_SDTYPE_LABEL     "SD Type"
END


// GERMAN text

STRINGTABLE
LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL
BEGIN
  IDS_MMC64_ENABLE           "MMC64 aktivier&en"
  IDS_MMC64_REVISION_LABEL   "BIOS Revision"
  IDS_MMC64_FLASHJUMPER      "BIOS &Flashjumper aktivieren"
  IDS_MMC64_BIOS_SAVE        "BIOS bei Änderung &speichern"
  IDS_MMC64_BIOS_FILE_LABEL  "&BIOS Datei"
  IDS_MMC64_IMAGE_RO         "MMC/SD Image Schreibschutz"
  IDS_MMC64_IMAGE_FILE_LABEL "MMC/SD &Image Name"
  IDS_MMC64_SDTYPE_LABEL     "SD Type"
END


// FRENCH text

STRINGTABLE
LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL
BEGIN
  IDS_MMC64_ENABLE           "&Enable MMC64"
  IDS_MMC64_REVISION_LABEL   "BIOS Revision"
  IDS_MMC64_FLASHJUMPER      "Activer le BIOS &Flash Jumper"
  IDS_MMC64_BIOS_SAVE        "&Enregistrer le BIOS lorsque modifié"
  IDS_MMC64_BIOS_FILE_LABEL  "Fichier du &BIOS"
  IDS_MMC64_IMAGE_RO         "Image MMC/SD en lecture seule"
  IDS_MMC64_IMAGE_FILE_LABEL "Nom de l’image de fichier MMC/SD"
  IDS_MMC64_SDTYPE_LABEL     "SD Type"
END


// HUNGARIAN text

#ifndef WINDRES_CP_IGNORE
#pragma code_page(28592)
#endif
STRINGTABLE
LANGUAGE LANG_HUNGARIAN, SUBLANG_NEUTRAL
BEGIN
  IDS_MMC64_ENABLE           "MMC64 &engedélyezése"
  IDS_MMC64_REVISION_LABEL   "BIOS változat"
  IDS_MMC64_FLASHJUMPER      "BIOS &Flash jumper engedélyezése"
  IDS_MMC64_BIOS_SAVE        "BIOS &mentése változás után"
  IDS_MMC64_BIOS_FILE_LABEL  "&BIOS fájl"
  IDS_MMC64_IMAGE_RO         "MMC/SD képmás csak olvasható"
  IDS_MMC64_IMAGE_FILE_LABEL "MMC/SD &képmás fájl"
  IDS_MMC64_SDTYPE_LABEL     "SD Type"
END
#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif


// ITALIAN text

STRINGTABLE
LANGUAGE LANG_ITALIAN, SUBLANG_NEUTRAL
BEGIN
  IDS_MMC64_ENABLE           "&Attiva MMC64"
  IDS_MMC64_REVISION_LABEL   "Revisione BIOS"
  IDS_MMC64_FLASHJUMPER      "Attiva il &Flash Jumper del BIOS"
  IDS_MMC64_BIOS_SAVE        "&Salva il BIOS al cambio"
  IDS_MMC64_BIOS_FILE_LABEL  "File del &BIOS"
  IDS_MMC64_IMAGE_RO         "Immagine MMC/SD in sola lettura"
  IDS_MMC64_IMAGE_FILE_LABEL "File &immagine MMC/SD"
  IDS_MMC64_SDTYPE_LABEL     "SD Type"
END


// DUTCH text

STRINGTABLE
LANGUAGE LANG_DUTCH, SUBLANG_NEUTRAL
BEGIN
  IDS_MMC64_ENABLE           "&Activeer MMC64"
  IDS_MMC64_REVISION_LABEL   "BIOS-revisie"
  IDS_MMC64_FLASHJUMPER      "Activeer BIOS &Flash Jumper"
  IDS_MMC64_BIOS_SAVE        "MMC64-BIOS Op&slaan indien gewijzigd"
  IDS_MMC64_BIOS_FILE_LABEL  "&BIOS-bestand"
  IDS_MMC64_IMAGE_RO         "MMC/SD-bestand alleen-lezen"
  IDS_MMC64_IMAGE_FILE_LABEL "MMC/SD-b&estand"
  IDS_MMC64_SDTYPE_LABEL     "SD Type"
END


// POLISH text

#ifndef WINDRES_CP_IGNORE
#pragma code_page(28592)
#endif
STRINGTABLE
LANGUAGE LANG_POLISH, SUBLANG_NEUTRAL
BEGIN
  IDS_MMC64_ENABLE           "&Enable MMC64"
  IDS_MMC64_REVISION_LABEL   "BIOS Revision"
  IDS_MMC64_FLASHJUMPER      "Enable BIOS &Flash Jumper"
  IDS_MMC64_BIOS_SAVE        "&Save BIOS when changed"
  IDS_MMC64_BIOS_FILE_LABEL  "&BIOS File"
  IDS_MMC64_IMAGE_RO         "MMC/SD Image read-only"
  IDS_MMC64_IMAGE_FILE_LABEL "MMC/SD &Image File"
  IDS_MMC64_SDTYPE_LABEL     "SD Type"
END
#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif


// SWEDISH text

STRINGTABLE
LANGUAGE LANG_SWEDISH, SUBLANG_NEUTRAL
BEGIN
  IDS_MMC64_ENABLE           "&Aktivera MMC64"
  IDS_MMC64_REVISION_LABEL   "BIOS-utgåva"
  IDS_MMC64_FLASHJUMPER      "Aktivera BIOS-&flashbygel"
  IDS_MMC64_BIOS_SAVE        "&Spara BIOS vid ändringar"
  IDS_MMC64_BIOS_FILE_LABEL  "&BIOS-fil"
  IDS_MMC64_IMAGE_RO         "MMC/SD-avbildning skrivskyddad"
  IDS_MMC64_IMAGE_FILE_LABEL "MMC/SD-&avbildningsfil"
  IDS_MMC64_SDTYPE_LABEL     "SD Type"
END


// TURKISH text

#ifndef WINDRES_CP_IGNORE
#pragma code_page(28599)
#endif
STRINGTABLE
LANGUAGE LANG_TURKISH, SUBLANG_NEUTRAL
BEGIN
  IDS_MMC64_ENABLE           "MMC64'ý aktif et"
  IDS_MMC64_REVISION_LABEL   "BIOS Revizyonu"
  IDS_MMC64_FLASHJUMPER      "BIOS &Flash Jumper'ý aktif et"
  IDS_MMC64_BIOS_SAVE        "BIO&S deðiþtiðinde kaydet"
  IDS_MMC64_BIOS_FILE_LABEL  "&BIOS Dosyasý"
  IDS_MMC64_IMAGE_RO         "Salt Okunur MMC/SD Imajý"
  IDS_MMC64_IMAGE_FILE_LABEL "MMC/SD &Imaj Dosyasý"
  IDS_MMC64_SDTYPE_LABEL     "SD Type"
END
#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif


