// Plus4 specific resources.
//
#include "debug.h"
#include "res.rc"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MENUPLUS4 MENU DISCARDABLE
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Autostart disk/tape image...", IDM_AUTOSTART
        MENUITEM SEPARATOR
        POPUP "Attach &disk image"
        BEGIN
            MENUITEM "Drive &8\tAlt+8",  IDM_ATTACH_8
            MENUITEM "Drive &9\tAlt+9",  IDM_ATTACH_9
            MENUITEM "Drive 1&0\tAlt+0", IDM_ATTACH_10
            MENUITEM "Drive &11\tAlt+1", IDM_ATTACH_11
        END
        POPUP "D&etach disk image"
        BEGIN
            MENUITEM "Drive &8",    IDM_DETACH_8
            MENUITEM "Drive &9",    IDM_DETACH_9
            MENUITEM "Drive 1&0",   IDM_DETACH_10
            MENUITEM "Drive &11",   IDM_DETACH_11
            MENUITEM SEPARATOR
            MENUITEM "&All\tAlt+A", IDM_DETACH_ALL
        END
        POPUP "&Flip list"
        BEGIN
            MENUITEM "&Add current image\tAlt-I",     IDM_FLIP_ADD
            MENUITEM "&Remove current image\tAlt-K",  IDM_FLIP_REMOVE
            MENUITEM "Attach &next image\tAlt-N",     IDM_FLIP_NEXT
            MENUITEM "Attach &previous image\tAlt-B", IDM_FLIP_PREVIOUS
        END
        MENUITEM SEPARATOR
        MENUITEM "Attach &tape image...\tAlt+T", IDM_ATTACH_TAPE
        MENUITEM "Detac&h tape image",           IDM_DETACH_TAPE
        POPUP "Datassette contro&l"
        BEGIN
            MENUITEM "S&top",          IDM_DATASETTE_CONTROL_STOP
            MENUITEM "&Start",         IDM_DATASETTE_CONTROL_START
            MENUITEM "&Forward",       IDM_DATASETTE_CONTROL_FORWARD
            MENUITEM "&Rewind",        IDM_DATASETTE_CONTROL_REWIND
            MENUITEM "Re&cord",        IDM_DATASETTE_CONTROL_RECORD
            MENUITEM "R&eset",         IDM_DATASETTE_CONTROL_RESET
            MENUITEM "Reset C&ounter", IDM_DATASETTE_RESET_COUNTER
        END
        MENUITEM SEPARATOR
        MENUITEM "&Pause\tAlt+Pause", IDM_PAUSE
        , CHECKED
        MENUITEM "&Monitor\tAlt+M", IDM_MONITOR
        POPUP "&Reset"
        BEGIN
            MENUITEM "&Hard\tCtrl+Alt+R", IDM_RESET_HARD
            MENUITEM "&Soft\tAlt+R",      IDM_RESET_SOFT
            MENUITEM SEPARATOR
            MENUITEM "Drive #&8",         IDM_RESET_DRIVE8
            MENUITEM "Drive #&9",         IDM_RESET_DRIVE9
        END
#ifdef DEBUG
		POPUP "&Debug"
        BEGIN
            MENUITEM "&Main CPU Trace\tAlt+F", IDM_TOGGLE_MAINCPU_TRACE, CHECKED
            MENUITEM "Drive&0 CPU Trace\tAlt+G", IDM_TOGGLE_DRIVE0CPU_TRACE, CHECKED
            MENUITEM "Drive&1 CPU Trace\tAlt+H", IDM_TOGGLE_DRIVE1CPU_TRACE, CHECKED
        END
#endif
       MENUITEM SEPARATOR
        MENUITEM "E&xit\tAlt+X", IDM_EXIT
    END
    POPUP "Sna&pshot"
    BEGIN
        MENUITEM "Load snapshot &image...", IDM_SNAPSHOT_LOAD
        MENUITEM "Save sna&pshot image...", IDM_SNAPSHOT_SAVE
        MENUITEM "&Load quicksnapshot image\tAlt+L", IDM_LOADQUICK
        MENUITEM "&Save quicksnapshot image\tAlt+S", IDM_SAVEQUICK
        MENUITEM SEPARATOR
        MENUITEM "Start/Stop &Recording",       IDM_EVENT_TOGGLE_RECORD
        MENUITEM "Start/Stop Pl&ayback",        IDM_EVENT_TOGGLE_PLAYBACK
        MENUITEM "Set Recording Milestone\tAlt-E",  IDM_EVENT_SETMILESTONE
        MENUITEM "Return to Milestone\tALt-U",      IDM_EVENT_RESETMILESTONE
        POPUP "Recording start mode"
        BEGIN
            MENUITEM "&Save new snapshot",      IDM_EVENT_RECORDMODE_SAVE
            MENUITEM "&Load existing snapshot", IDM_EVENT_RECORDMODE_LOAD
            MENUITEM "Start with &reset",       IDM_EVENT_RECORDMODE_RESET
        END
        MENUITEM SEPARATOR
        MENUITEM "Save media file...\tAlt+C", IDM_MEDIAFILE
    END
    POPUP "&Options"
    BEGIN
        POPUP "&Refresh rate"
        BEGIN
            MENUITEM "&Auto", IDM_REFRESH_RATE_AUTO
            MENUITEM "1/&1",  IDM_REFRESH_RATE_1
            MENUITEM "1/&2",  IDM_REFRESH_RATE_2
            MENUITEM "1/&3",  IDM_REFRESH_RATE_3
            MENUITEM "1/&4",  IDM_REFRESH_RATE_4
            MENUITEM "1/&5",  IDM_REFRESH_RATE_5
            MENUITEM "1/&6",  IDM_REFRESH_RATE_6
            MENUITEM "1/&7",  IDM_REFRESH_RATE_7
            MENUITEM "1/&8",  IDM_REFRESH_RATE_8
            MENUITEM "1/&9",  IDM_REFRESH_RATE_9
            MENUITEM "1/1&0", IDM_REFRESH_RATE_10
#if 0
            MENUITEM SEPARATOR
            MENUITEM "&Custom", IDM_REFRESH_RATE_CUSTOM
#endif
        END
        POPUP "&Maximum Speed"
        BEGIN
            MENUITEM "&200%",     IDM_MAXIMUM_SPEED_200
            MENUITEM "&100%",     IDM_MAXIMUM_SPEED_100
            MENUITEM "&50%",      IDM_MAXIMUM_SPEED_50
            MENUITEM "&20%",      IDM_MAXIMUM_SPEED_20
            MENUITEM "1&0%",      IDM_MAXIMUM_SPEED_10
            MENUITEM "No &limit", IDM_MAXIMUM_SPEED_NO_LIMIT
            MENUITEM SEPARATOR
            MENUITEM "&Custom", IDM_MAXIMUM_SPEED_CUSTOM
        END
        MENUITEM "&Warp mode\tAlt+W", IDM_TOGGLE_WARP_MODE
            , CHECKED
        MENUITEM SEPARATOR
        MENUITEM "Fullscreen\tAlt+D", IDM_TOGGLE_FULLSCREEN
        MENUITEM SEPARATOR
        MENUITEM "Video &cache", IDM_TOGGLE_VIDEOCACHE
        , CHECKED
        MENUITEM "&Double size", IDM_TOGGLE_DOUBLESIZE
        , CHECKED
        MENUITEM "Dou&ble scan", IDM_TOGGLE_DOUBLESCAN
        , CHECKED
        MENUITEM "PAL Emulation", IDM_TOGGLE_FASTPAL
        , CHECKED
        MENUITEM "Scale2x", IDM_TOGGLE_SCALE2X
        , CHECKED
        MENUITEM SEPARATOR
	MENUITEM "Swap &Joystick\tAlt+J", IDM_SWAP_JOYSTICK
	MENUITEM SEPARATOR
        MENUITEM "&Sound playback", IDM_TOGGLE_SOUND, CHECKED
        MENUITEM SEPARATOR
        MENUITEM "&True drive emulation", IDM_TOGGLE_DRIVE_TRUE_EMULATION, CHECKED
        MENUITEM "&Virtual device traps", IDM_TOGGLE_VIRTUAL_DEVICES
        MENUITEM SEPARATOR
        POPUP "Vide&o standard"
        BEGIN
            MENUITEM "&PAL-G",  IDM_SYNC_FACTOR_PAL
            MENUITEM "&NTSC-M", IDM_SYNC_FACTOR_NTSC
        END
        MENUITEM SEPARATOR
    END
    POPUP "S&ettings"
    BEGIN
        MENUITEM "&Video settings...",     IDM_VIDEO_SETTINGS
        MENUITEM "&Peripheral settings...",IDM_DEVICEMANAGER
        MENUITEM "D&rive settings...",     IDM_DRIVE_SETTINGS
        MENUITEM "D&atasette settings...", IDM_DATASETTE_SETTINGS
        MENUITEM "P&lus4 settings...",     IDM_PLUS4_SETTINGS
        MENUITEM "&Joystick settings...",  IDM_JOY_SETTINGS
        MENUITEM "S&ound settings...",     IDM_SOUND_SETTINGS
        MENUITEM "RA&M settings...",       IDM_RAM_SETTINGS
        MENUITEM SEPARATOR
        MENUITEM "&Save current settings", IDM_SETTINGS_SAVE
        MENUITEM "&Load saved settings",   IDM_SETTINGS_LOAD
        MENUITEM "Set de&fault settings",  IDM_SETTINGS_DEFAULT
        MENUITEM SEPARATOR
	MENUITEM "Save settings on e&xit", IDM_TOGGLE_SAVE_SETTINGS_ON_EXIT
	MENUITEM "&Confirm on exit",	   IDM_TOGGLE_CONFIRM_ON_EXIT
    END
    POPUP "&Help"
    BEGIN
//        MENUITEM "H&elp", IDM_HELP
//        MENUITEM SEPARATOR
        MENUITEM "&About...", IDM_ABOUT
        MENUITEM SEPARATOR
        MENUITEM "Command line &options", IDM_CMDLINE
        MENUITEM SEPARATOR
        MENUITEM "&Contributors", IDM_CONTRIBUTORS
        MENUITEM "&License",      IDM_LICENSE
        MENUITEM "No &warranty",  IDM_WARRANTY
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_PLUS4_MEMORY_DIALOG DIALOG DISCARDABLE  0, 0, 230, 145
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Plus4 settings"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "&Memory",IDC_STATIC,5,15,70,75
    AUTORADIOBUTTON "&16 kByte",IDC_SELECT_PLUS4_MEM_16,  15,30,55,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "&32 kByte",IDC_SELECT_PLUS4_MEM_32,  15,45,55,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&64 kByte",IDC_SELECT_PLUS4_MEM_64,  15,60,55,10,
                            BS_AUTORADIOBUTTON
    DEFPUSHBUTTON   "OK", IDOK, 30,90,50,14, WS_TABSTOP
    PUSHBUTTON      "Cancel", IDCANCEL, 90,90,50,14, WS_TABSTOP
END


IDD_DRIVE_SETTINGS_DIALOG_PLUS4 DIALOG DISCARDABLE  0, 0, 250, 190
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "&Drive type",IDC_STATIC,5,15,60,120
    AUTORADIOBUTTON "15&41",IDC_SELECT_DRIVE_TYPE_1541,15,30,35,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "154&1-II",IDC_SELECT_DRIVE_TYPE_1541II,15,45,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "15&51",IDC_SELECT_DRIVE_TYPE_1551,15,60,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "1570",IDC_SELECT_DRIVE_TYPE_1570,15,75,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "15&71",IDC_SELECT_DRIVE_TYPE_1571,15,90,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "15&81",IDC_SELECT_DRIVE_TYPE_1581,15,105,35,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&None",IDC_SELECT_DRIVE_TYPE_NONE,15,120,35,10,
                            BS_AUTORADIOBUTTON
    GROUPBOX        "40 &track handling",IDC_STATIC,75,15,90,60
    AUTORADIOBUTTON "Never extend",IDC_SELECT_DRIVE_EXTEND_NEVER,85,30,65,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Ask on extend",IDC_SELECT_DRIVE_EXTEND_ASK,85,45,65,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "Extend on access",IDC_SELECT_DRIVE_EXTEND_ACCESS,
                            85,60,65,10, BS_AUTORADIOBUTTON
    GROUPBOX        "Id&le method",IDC_STATIC,175,15,70,60
    AUTORADIOBUTTON "None",IDC_SELECT_DRIVE_IDLE_NO_IDLE,185,30,51,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Trap idle",IDC_SELECT_DRIVE_IDLE_TRAP_IDLE,185,45,51,10,
                            BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "Skip cycles",IDC_SELECT_DRIVE_IDLE_SKIP_CYCLES,
                            185,60,51,10,BS_AUTORADIOBUTTON
    AUTOCHECKBOX    "&Parallel cable",IDC_TOGGLE_DRIVE_PARALLEL_CABLE,
                    185,90,80,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    GROUPBOX        "Drive &expansion",IDC_STATIC,75,75,90,90
    AUTOCHECKBOX    "$2000-$3FFF &RAM",IDC_TOGGLE_DRIVE_EXPANSION_2000,
                    85,90,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$4&000-$5FFF RAM",IDC_TOGGLE_DRIVE_EXPANSION_4000,
                    85,105,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$&6000-$7FFF RAM",IDC_TOGGLE_DRIVE_EXPANSION_6000,
                    85,120,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$8000-$9FFF RA&M",IDC_TOGGLE_DRIVE_EXPANSION_8000,
                    85,135,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "$&A000-$BFFF RAM",IDC_TOGGLE_DRIVE_EXPANSION_A000,
                    85,150,73,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
END
