// RS232 userport specific resources.
//

#include "config.h"
#include "res.h"
#include "rescommon.h"

#pragma code_page(28591)

// original and default ENGLISH version of dialog

IDD_RS232USER_SETTINGS_DIALOG DIALOG DISCARDABLE  0, 0, 170, 90
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "RS232 Userport Settings"
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "&Enable RS232 userport",IDC_RS232USER_ENABLE,
                    7,7,120,10, BS_AUTOCHECKBOX | WS_TABSTOP
    LTEXT           "Userport device", IDC_STATIC,9,24,55,8
    COMBOBOX        IDC_RS232USER_DEVICE,75,22,75,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Userport baud rate", IDC_STATIC,9,44,60,8
    COMBOBOX        IDC_RS232USER_BAUDRATE,75,42,75,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "OK", IDOK, 25,70,50,14, WS_TABSTOP
    PUSHBUTTON      "Cancel", IDCANCEL, 85,70,50,14, WS_TABSTOP
END


// GERMAN version of dialog

IDD_RS232USER_SETTINGS_DIALOG_DE DIALOG DISCARDABLE  0, 0, 170, 90
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "RS232 Userport Einstellungen"
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "&RS232 userport aktivieren",IDC_RS232USER_ENABLE,
                    7,7,120,10, BS_AUTOCHECKBOX | WS_TABSTOP
    LTEXT           "Userport gerät", IDC_STATIC,9,24,55,8
    COMBOBOX        IDC_RS232USER_DEVICE,75,22,75,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Userport baud rate", IDC_STATIC,9,44,60,8
    COMBOBOX        IDC_RS232USER_BAUDRATE,75,42,75,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "OK", IDOK, 25,70,50,14, WS_TABSTOP
    PUSHBUTTON      "Abbruch", IDCANCEL, 85,70,50,14, WS_TABSTOP
END


// FRENCH version of dialog

IDD_RS232USER_SETTINGS_DIALOG_FR DIALOG DISCARDABLE  0, 0, 170, 90
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Paramètres RS232 Userport"
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "&Activer RS232 userport",IDC_RS232USER_ENABLE,
                    7,7,120,10, BS_AUTOCHECKBOX | WS_TABSTOP
    LTEXT           "Périphérique de Userport", IDC_STATIC,9,24,55,8
    COMBOBOX        IDC_RS232USER_DEVICE,75,22,75,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Userport baud rate", IDC_STATIC,9,44,60,8
    COMBOBOX        IDC_RS232USER_BAUDRATE,75,42,75,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "OK", IDOK, 25,70,50,14, WS_TABSTOP
    PUSHBUTTON      "Annuler", IDCANCEL, 85,70,50,14, WS_TABSTOP
END


// ITALIAN version of dialog

#pragma code_page(28605)
IDD_RS232USER_SETTINGS_DIALOG_IT DIALOG DISCARDABLE  0, 0, 170, 90
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Impostazioni del RS232 Userport"
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "&Attiva RS232 userport",IDC_RS232USER_ENABLE,
                    7,7,120,10, BS_AUTOCHECKBOX | WS_TABSTOP
    LTEXT           "Dispositivo Userport", IDC_STATIC,9,24,55,8
    COMBOBOX        IDC_RS232USER_DEVICE,75,22,75,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Velocità della Userport", IDC_STATIC,9,44,60,8
    COMBOBOX        IDC_RS232USER_BAUDRATE,75,42,75,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "OK", IDOK, 25,70,50,14, WS_TABSTOP
    PUSHBUTTON      "Annulla", IDCANCEL, 85,70,50,14, WS_TABSTOP
END
#pragma code_page(28591)


// DUTCH version of dialog

IDD_RS232USER_SETTINGS_DIALOG_NL DIALOG DISCARDABLE  0, 0, 170, 90
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "RS232 Userport Instellingen"
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "&Aktiveer RS232 userport",IDC_RS232USER_ENABLE,
                    7,7,120,10, BS_AUTOCHECKBOX | WS_TABSTOP
    LTEXT           "Userport apparaat", IDC_STATIC,9,24,65,8
    COMBOBOX        IDC_RS232USER_DEVICE,75,22,75,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Userport baud rate", IDC_STATIC,9,44,60,8
    COMBOBOX        IDC_RS232USER_BAUDRATE,75,42,75,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "OK", IDOK, 25,70,50,14, WS_TABSTOP
    PUSHBUTTON      "Annuleren", IDCANCEL, 85,70,50,14, WS_TABSTOP
END


// POLISH version of dialog

#pragma code_page(28592)
IDD_RS232USER_SETTINGS_DIALOG_PL DIALOG DISCARDABLE  0, 0, 170, 90
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Ustawienia RS232 Userportu"
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "&W³±cz RS232 userportu",IDC_RS232USER_ENABLE,
                    7,7,120,10, BS_AUTOCHECKBOX | WS_TABSTOP
    LTEXT           "Urz±dzenie portu RS232", IDC_STATIC,9,24,55,8
    COMBOBOX        IDC_RS232USER_DEVICE,75,22,75,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Urz±dzenie portu RS232", IDC_STATIC,9,44,60,8
    COMBOBOX        IDC_RS232USER_BAUDRATE,75,42,75,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "OK", IDOK, 25,70,50,14, WS_TABSTOP
    PUSHBUTTON      "Anuluj", IDCANCEL, 85,70,50,14, WS_TABSTOP
END
#pragma code_page(28591)


// SWEDISH version of dialog

IDD_RS232USER_SETTINGS_DIALOG_SV DIALOG DISCARDABLE  0, 0, 170, 90
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "RS232 användarporten-inställningar"
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "&Aktivera RS232 användarporten",IDC_RS232USER_ENABLE,
                    7,7,120,10, BS_AUTOCHECKBOX | WS_TABSTOP
    LTEXT           "Användarporten-enhet", IDC_STATIC,9,24,55,8
    COMBOBOX        IDC_RS232USER_DEVICE,75,22,75,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Användarportens-baudhastighet", IDC_STATIC,9,44,60,8
    COMBOBOX        IDC_RS232USER_BAUDRATE,75,42,75,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "OK", IDOK, 25,70,50,14, WS_TABSTOP
    PUSHBUTTON      "Avbryt", IDCANCEL, 85,70,50,14, WS_TABSTOP
END
