// RAMCART specific resources.
//

#include "config.h"
#include "res.h"
#include "rescommon.h"

#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif

// template of dialog for all languages

IDD_RAMCART_SETTINGS_DIALOG DIALOG DISCARDABLE 0, 0, 180, 122
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX  "", IDC_RAMCART_ENABLE,
                  7, 7, 75, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    AUTOCHECKBOX  "", IDC_RAMCART_RO,
                  87, 7, 50, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    LTEXT         "", IDC_RAMCART_SIZE_LABEL,
                  9, 24, 53, 8
    COMBOBOX      IDC_RAMCART_SIZE,
                  66, 22, 50, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    AUTOCHECKBOX  "", IDC_RAMCART_WRITE_ENABLE,
                  7, 36, 75, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    LTEXT         "", IDC_RAMCART_FILE_LABEL,
                  9, 56, 50, 8
    PUSHBUTTON    "", IDC_RAMCART_BROWSE,
                  66, 54, 50, 14, 0
    EDITTEXT      IDC_RAMCART_FILE,
                  9, 70, 160, 12, WS_TABSTOP

    DEFPUSHBUTTON "", IDOK,
                  30, 102, 50, 14, WS_TABSTOP
    PUSHBUTTON    "", IDCANCEL,
                  90, 102, 50, 14, WS_TABSTOP
END

// -----------------------------------------------------------------------------

// original and default ENGLISH text

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
BEGIN
  IDS_RAMCART_CAPTION      "RamCart Settings"
  IDS_RAMCART_ENABLE       "&Enable RamCart"
  IDS_RAMCART_READONLY     "&Read Only"
  IDS_RAMCART_SIZE         "RamCart size"
  IDS_RAMCART_WRITE_ENABLE "&Save to RamCart image when changed"
  IDS_RAMCART_FILE         "RamCart file"
  IDS_RAMCART_SELECT_FILE  "Select file for RamCart"
END


// DANISH text

STRINGTABLE
LANGUAGE LANG_DANISH, SUBLANG_NEUTRAL
BEGIN
  IDS_RAMCART_CAPTION      "RamCart Settings"
  IDS_RAMCART_ENABLE       "&Enable RamCart"
  IDS_RAMCART_READONLY     "&Kun læseadgang"
  IDS_RAMCART_SIZE         "RamCart size"
  IDS_RAMCART_WRITE_ENABLE "&Save to RamCart image when changed"
  IDS_RAMCART_FILE         "RamCart file"
  IDS_RAMCART_SELECT_FILE  "Select file for RamCart"
END


// GERMAN text

STRINGTABLE
LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL
BEGIN
  IDS_RAMCART_CAPTION      "RamCart Settings"
  IDS_RAMCART_ENABLE       "&Enable RamCart"
  IDS_RAMCART_READONLY     "Sch&reibgschutz"
  IDS_RAMCART_SIZE         "RamCart size"
  IDS_RAMCART_WRITE_ENABLE "&Save to RamCart image when changed"
  IDS_RAMCART_FILE         "RamCart file"
  IDS_RAMCART_SELECT_FILE  "Select file for RamCart"
END


// FRENCH text

STRINGTABLE
LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL
BEGIN
  IDS_RAMCART_CAPTION      "RamCart Settings"
  IDS_RAMCART_ENABLE       "&Enable RamCart"
  IDS_RAMCART_READONLY     "&Lecture seule"
  IDS_RAMCART_SIZE         "RamCart size"
  IDS_RAMCART_WRITE_ENABLE "&Save to RamCart image when changed"
  IDS_RAMCART_FILE         "RamCart file"
  IDS_RAMCART_SELECT_FILE  "Select file for RamCart"
END


// HUNGARIAN text

#ifndef WINDRES_CP_IGNORE
#pragma code_page(28592)
#endif
STRINGTABLE
LANGUAGE LANG_HUNGARIAN, SUBLANG_NEUTRAL
BEGIN
  IDS_RAMCART_CAPTION      "RamCart Settings"
  IDS_RAMCART_ENABLE       "&Enable RamCart"
  IDS_RAMCART_READONLY     "&Csak olvasható"
  IDS_RAMCART_SIZE         "RamCart size"
  IDS_RAMCART_WRITE_ENABLE "&Save to RamCart image when changed"
  IDS_RAMCART_FILE         "RamCart file"
  IDS_RAMCART_SELECT_FILE  "Select file for RamCart"
END
#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif


// ITALIAN text

STRINGTABLE
LANGUAGE LANG_ITALIAN, SUBLANG_NEUTRAL
BEGIN
  IDS_RAMCART_CAPTION      "RamCart Settings"
  IDS_RAMCART_ENABLE       "&Enable RamCart"
  IDS_RAMCART_READONLY     "&Accesso in sola lettura"
  IDS_RAMCART_SIZE         "RamCart size"
  IDS_RAMCART_WRITE_ENABLE "&Save to RamCart image when changed"
  IDS_RAMCART_FILE         "RamCart file"
  IDS_RAMCART_SELECT_FILE  "Select file for RamCart"
END


// DUTCH text

STRINGTABLE
LANGUAGE LANG_DUTCH, SUBLANG_NEUTRAL
BEGIN
  IDS_RAMCART_CAPTION      "RamCart Settings"
  IDS_RAMCART_ENABLE       "&Enable RamCart"
  IDS_RAMCART_READONLY     "Alleen &lezen"
  IDS_RAMCART_SIZE         "RamCart size"
  IDS_RAMCART_WRITE_ENABLE "&Save to RamCart image when changed"
  IDS_RAMCART_FILE         "RamCart file"
  IDS_RAMCART_SELECT_FILE  "Select file for RamCart"
END


// POLISH text

#ifndef WINDRES_CP_IGNORE
#pragma code_page(28592)
#endif
STRINGTABLE
LANGUAGE LANG_POLISH, SUBLANG_NEUTRAL
BEGIN
  IDS_RAMCART_CAPTION      "RamCart Settings"
  IDS_RAMCART_ENABLE       "&Enable RamCart"
  IDS_RAMCART_READONLY     "&Read Only"
  IDS_RAMCART_SIZE         "RamCart size"
  IDS_RAMCART_WRITE_ENABLE "&Save to RamCart image when changed"
  IDS_RAMCART_FILE         "RamCart file"
  IDS_RAMCART_SELECT_FILE  "Select file for RamCart"
END
#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif


// SWEDISH text

STRINGTABLE
LANGUAGE LANG_SWEDISH, SUBLANG_NEUTRAL
BEGIN
  IDS_RAMCART_CAPTION      "RamCart Settings"
  IDS_RAMCART_ENABLE       "&Enable RamCart"
  IDS_RAMCART_READONLY     "&Endast läsåtkomst"
  IDS_RAMCART_SIZE         "RamCart size"
  IDS_RAMCART_WRITE_ENABLE "&Save to RamCart image when changed"
  IDS_RAMCART_FILE         "RamCart file"
  IDS_RAMCART_SELECT_FILE  "Select file for RamCart"
END


// TURKISH text

#ifndef WINDRES_CP_IGNORE
#pragma code_page(28599)
#endif
STRINGTABLE
LANGUAGE LANG_TURKISH, SUBLANG_NEUTRAL
BEGIN
  IDS_RAMCART_CAPTION      "RamCart Settings"
  IDS_RAMCART_ENABLE       "&Enable RamCart"
  IDS_RAMCART_READONLY     "Salt Okunu&r"
  IDS_RAMCART_SIZE         "RamCart size"
  IDS_RAMCART_WRITE_ENABLE "&Save to RamCart image when changed"
  IDS_RAMCART_FILE         "RamCart file"
  IDS_RAMCART_SELECT_FILE  "Select file for RamCart"
END
#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif


