// RS232 userport specific resources.
//

IDD_RS232USER_SETTINGS_DIALOG DIALOG DISCARDABLE  0, 0, 170, 90
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "RS232 Userport Settings"
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "&Enable RS232 userport",IDC_RS232USER_ENABLE,
                    7,7,120,10, BS_AUTOCHECKBOX | WS_TABSTOP
    LTEXT           "Userport device", IDC_STATIC,9,24,55,8
    COMBOBOX        IDC_RS232USER_DEVICE,70,22,80,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Userport baud rate", IDC_STATIC,9,44,55,8
    COMBOBOX        IDC_RS232USER_BAUDRATE,70,42,80,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "OK", IDOK, 25,70,50,14, WS_TABSTOP
    PUSHBUTTON      "Cancel", IDCANCEL, 85,70,50,14, WS_TABSTOP
END

