// SID specific resources.
//

// original and default ENGLISH version of dialog

IDD_SID_GENERAL_SETTINGS_DIALOG DIALOG DISCARDABLE 0, 0, 145, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Configure SID Settings"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "SID Engine",IDC_STATIC,10,5,125,25
    COMBOBOX        IDC_SID_ENGINE, 15,15,70,50, CBS_DROPDOWNLIST |
                    WS_GROUP | WS_TABSTOP | WS_VSCROLL
    GROUPBOX        "SID Model",IDC_STATIC,10,35,125,25
    AUTORADIOBUTTON "6581 (old)",IDC_SID_6581,15,45,55,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "8580 (new)",IDC_SID_8580,70,45,55,10,
                            BS_AUTORADIOBUTTON
    GROUPBOX        "SID Stereo",IDC_STATIC,10,65,125,25
    AUTOCHECKBOX    "Stereo SID at", IDC_SID_STEREO,
                    15,75,55,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    COMBOBOX        IDC_SID_STEREOADDRESS,85,73,45,100,CBS_DROPDOWNLIST |
                    WS_GROUP | WS_TABSTOP | WS_VSCROLL
    AUTOCHECKBOX    "SID Filters", IDC_SID_FILTERS,
                    15,105,55,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
END


// GERMAN version of dialog

IDD_SID_GENERAL_SETTINGS_DIALOG_DE DIALOG DISCARDABLE 0, 0, 145, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "SID Einstellungen"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "SID Engine",IDC_STATIC,10,5,125,25
    COMBOBOX        IDC_SID_ENGINE, 15,15,70,50, CBS_DROPDOWNLIST |
                    WS_GROUP | WS_TABSTOP | WS_VSCROLL
    GROUPBOX        "SID Modell",IDC_STATIC,10,35,125,25
    AUTORADIOBUTTON "6581 (alt)",IDC_SID_6581,15,45,55,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "8580 (neu)",IDC_SID_8580,70,45,55,10,
                            BS_AUTORADIOBUTTON
    GROUPBOX        "Zweiter SID",IDC_STATIC,10,65,125,25
    AUTOCHECKBOX    "Zweiter SID auf", IDC_SID_STEREO,
                    15,75,55,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    COMBOBOX        IDC_SID_STEREOADDRESS,85,73,45,100,CBS_DROPDOWNLIST |
                    WS_GROUP | WS_TABSTOP | WS_VSCROLL
    AUTOCHECKBOX    "SID Filters", IDC_SID_FILTERS,
                    15,105,55,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
END


// FRENCH version of dialog

IDD_SID_GENERAL_SETTINGS_DIALOG_FR DIALOG DISCARDABLE 0, 0, 145, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Paramètres SID"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "Engin SID",IDC_STATIC,10,5,125,25
    COMBOBOX        IDC_SID_ENGINE, 15,15,70,50, CBS_DROPDOWNLIST |
                    WS_GROUP | WS_TABSTOP | WS_VSCROLL
    GROUPBOX        "Modèle de SID",IDC_STATIC,10,35,125,25
    AUTORADIOBUTTON "6581 (ancien)",IDC_SID_6581,15,45,55,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "8580 (nouveau)",IDC_SID_8580,70,45,55,10,
                            BS_AUTORADIOBUTTON
    GROUPBOX        "Second SID",IDC_STATIC,10,65,125,25
    AUTOCHECKBOX    "Adresse du second SID", IDC_SID_STEREO,
                    15,75,55,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    COMBOBOX        IDC_SID_STEREOADDRESS,85,73,45,100,CBS_DROPDOWNLIST |
                    WS_GROUP | WS_TABSTOP | WS_VSCROLL
    AUTOCHECKBOX    "les filtres du SID", IDC_SID_FILTERS,
                    15,105,55,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
END


// ITALIAN version of dialog

IDD_SID_GENERAL_SETTINGS_DIALOG_IT DIALOG DISCARDABLE 0, 0, 145, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Impostazioni del SID"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "Motore SID",IDC_STATIC,10,5,125,25
    COMBOBOX        IDC_SID_ENGINE, 15,15,70,50, CBS_DROPDOWNLIST |
                    WS_GROUP | WS_TABSTOP | WS_VSCROLL
    GROUPBOX        "Modello",IDC_STATIC,10,35,125,25
    AUTORADIOBUTTON "6581 (vecchio)",IDC_SID_6581,15,45,55,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "8580 (nuovo)",IDC_SID_8580,70,45,55,10,
                            BS_AUTORADIOBUTTON
    GROUPBOX        "Secondo SID",IDC_STATIC,10,65,125,25
    AUTOCHECKBOX    "Indirizzo secondo SID", IDC_SID_STEREO,
                    15,75,55,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    COMBOBOX        IDC_SID_STEREOADDRESS,85,73,45,100,CBS_DROPDOWNLIST |
                    WS_GROUP | WS_TABSTOP | WS_VSCROLL
    AUTOCHECKBOX    "i filtri SID", IDC_SID_FILTERS,
                    15,105,55,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
END


// DUTCH version of dialog

IDD_SID_GENERAL_SETTINGS_DIALOG_NL DIALOG DISCARDABLE 0, 0, 145, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "SID Instellingen"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "SID Kern",IDC_STATIC,10,5,125,25
    COMBOBOX        IDC_SID_ENGINE, 15,15,70,50, CBS_DROPDOWNLIST |
                    WS_GROUP | WS_TABSTOP | WS_VSCROLL
    GROUPBOX        "SID Model",IDC_STATIC,10,35,125,25
    AUTORADIOBUTTON "6581 (oud)",IDC_SID_6581,15,45,55,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "8580 (nieuw)",IDC_SID_8580,70,45,55,10,
                            BS_AUTORADIOBUTTON
    GROUPBOX        "Stereo SID",IDC_STATIC,10,65,125,25
    AUTOCHECKBOX    "Stereo SID op", IDC_SID_STEREO,
                    15,75,57,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    COMBOBOX        IDC_SID_STEREOADDRESS,85,73,45,100,CBS_DROPDOWNLIST |
                    WS_GROUP | WS_TABSTOP | WS_VSCROLL
    AUTOCHECKBOX    "SID Filters", IDC_SID_FILTERS,
                    15,105,55,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
END


// POLISH version of dialog

IDD_SID_GENERAL_SETTINGS_DIALOG_PL DIALOG DISCARDABLE 0, 0, 145, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Ustawienia SID"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "Ustawienia uk³adu SID",IDC_STATIC,10,5,125,25
    COMBOBOX        IDC_SID_ENGINE, 15,15,70,50, CBS_DROPDOWNLIST |
                    WS_GROUP | WS_TABSTOP | WS_VSCROLL
    GROUPBOX        "Model SID",IDC_STATIC,10,35,125,25
    AUTORADIOBUTTON "6581 (stary)",IDC_SID_6581,15,45,55,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "8580 (nowy)",IDC_SID_8580,70,45,55,10,
                            BS_AUTORADIOBUTTON
    GROUPBOX        "Drugi SID",IDC_STATIC,10,65,125,25
    AUTOCHECKBOX    "Adres drugiego SID", IDC_SID_STEREO,
                    15,75,55,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    COMBOBOX        IDC_SID_STEREOADDRESS,85,73,45,100,CBS_DROPDOWNLIST |
                    WS_GROUP | WS_TABSTOP | WS_VSCROLL
    AUTOCHECKBOX    "SID filtry", IDC_SID_FILTERS,
                    15,105,55,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
END


// SWEDISH version of dialog

IDD_SID_GENERAL_SETTINGS_DIALOG_SV DIALOG DISCARDABLE 0, 0, 145, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "SID-inställningar"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "SID-motor",IDC_STATIC,10,5,125,25
    COMBOBOX        IDC_SID_ENGINE, 15,15,70,50, CBS_DROPDOWNLIST |
                    WS_GROUP | WS_TABSTOP | WS_VSCROLL
    GROUPBOX        "SID-modell",IDC_STATIC,10,35,125,25
    AUTORADIOBUTTON "6581 (gammal)",IDC_SID_6581,15,45,55,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "8580 (ny)",IDC_SID_8580,70,45,55,10,
                            BS_AUTORADIOBUTTON
    GROUPBOX        "Andra SID",IDC_STATIC,10,65,125,25
    AUTOCHECKBOX    "adress för andra SID", IDC_SID_STEREO,
                    15,75,55,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    COMBOBOX        IDC_SID_STEREOADDRESS,85,73,45,100,CBS_DROPDOWNLIST |
                    WS_GROUP | WS_TABSTOP | WS_VSCROLL
    AUTOCHECKBOX    "SID filter", IDC_SID_FILTERS,
                    15,105,55,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
END

// -----------------------------------------------------------------------------

// original and default ENGLISH version of dialog

IDD_SID_RESID_SETTINGS_DIALOG DIALOG DISCARDABLE 0, 0, 145, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Configure SID Settings"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "reSID options",IDC_STATIC,10,5,125,50
    LTEXT           "Sample method",IDC_STATIC,15,17,50,8
    COMBOBOX        IDC_SID_RESID_SAMPLING,70,15,60,50,CBS_DROPDOWNLIST |
                    WS_GROUP | WS_TABSTOP
    LTEXT           "Passband (0-90%)",IDC_STATIC,15,37,60,8
    EDITTEXT        IDC_SID_RESID_PASSBAND, 80,35,20,12,WS_TABSTOP
END


// GERMAN version of dialog

IDD_SID_RESID_SETTINGS_DIALOG_DE DIALOG DISCARDABLE 0, 0, 145, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "SID Einstellungen"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "reSID optionen",IDC_STATIC,10,5,125,50
    LTEXT           "Sampling Methode",IDC_STATIC,15,17,50,8
    COMBOBOX        IDC_SID_RESID_SAMPLING,70,15,60,50,CBS_DROPDOWNLIST |
                    WS_GROUP | WS_TABSTOP
    LTEXT           "Passband (0-90%)",IDC_STATIC,15,37,60,8
    EDITTEXT        IDC_SID_RESID_PASSBAND, 80,35,20,12,WS_TABSTOP
END


// FRENCH version of dialog

IDD_SID_RESID_SETTINGS_DIALOG_FR DIALOG DISCARDABLE 0, 0, 145, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Paramètres SID"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "reSID options",IDC_STATIC,10,5,125,50
    LTEXT           "Méthode d'échantillonnage",IDC_STATIC,15,17,50,8
    COMBOBOX        IDC_SID_RESID_SAMPLING,70,15,60,50,CBS_DROPDOWNLIST |
                    WS_GROUP | WS_TABSTOP
    LTEXT           "Bande passante (0-90%)",IDC_STATIC,15,37,60,8
    EDITTEXT        IDC_SID_RESID_PASSBAND, 80,35,20,12,WS_TABSTOP
END


// ITALIAN version of dialog

IDD_SID_RESID_SETTINGS_DIALOG_IT DIALOG DISCARDABLE 0, 0, 145, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Impostazioni del SID"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "reSID opzioni",IDC_STATIC,10,5,125,50
    LTEXT           "Metodo di campionamento",IDC_STATIC,15,17,50,8
    COMBOBOX        IDC_SID_RESID_SAMPLING,70,15,60,50,CBS_DROPDOWNLIST |
                    WS_GROUP | WS_TABSTOP
    LTEXT           "Banda passante (0-90%)",IDC_STATIC,15,37,60,8
    EDITTEXT        IDC_SID_RESID_PASSBAND, 80,35,20,12,WS_TABSTOP
END


// DUTCH version of dialog

IDD_SID_RESID_SETTINGS_DIALOG_NL DIALOG DISCARDABLE 0, 0, 145, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "SID Instellingen"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "reSID opties",IDC_STATIC,10,5,125,50
    LTEXT           "Sample methode",IDC_STATIC,15,17,53,8
    COMBOBOX        IDC_SID_RESID_SAMPLING,70,15,60,50,CBS_DROPDOWNLIST |
                    WS_GROUP | WS_TABSTOP
    LTEXT           "Passband (0-90%)",IDC_STATIC,15,37,60,8
    EDITTEXT        IDC_SID_RESID_PASSBAND, 80,35,20,12,WS_TABSTOP
END


// POLISH version of dialog

IDD_SID_RESID_SETTINGS_DIALOG_PL DIALOG DISCARDABLE 0, 0, 145, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Ustawienia SID"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "reSID Opcje",IDC_STATIC,10,5,125,50
    LTEXT           "Metoda samplowania",IDC_STATIC,15,17,50,8
    COMBOBOX        IDC_SID_RESID_SAMPLING,70,15,60,50,CBS_DROPDOWNLIST |
                    WS_GROUP | WS_TABSTOP
    LTEXT           "Passband (0-90%)",IDC_STATIC,15,37,60,8
    EDITTEXT        IDC_SID_RESID_PASSBAND, 80,35,20,12,WS_TABSTOP
END


// SWEDISH version of dialog

IDD_SID_RESID_SETTINGS_DIALOG_SV DIALOG DISCARDABLE 0, 0, 145, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "SID-inställningar"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "reSID alternativ",IDC_STATIC,10,5,125,50
    LTEXT           "Samplingsmetod",IDC_STATIC,15,17,50,8
    COMBOBOX        IDC_SID_RESID_SAMPLING,70,15,60,50,CBS_DROPDOWNLIST |
                    WS_GROUP | WS_TABSTOP
    LTEXT           "Passband (0-90%)",IDC_STATIC,15,37,60,8
    EDITTEXT        IDC_SID_RESID_PASSBAND, 80,35,20,12,WS_TABSTOP
END

// -----------------------------------------------------------------------------

// original and default ENGLISH version of dialog

IDD_SID_HARDSID_SETTINGS_DIALOG DIALOG DISCARDABLE 0, 0, 145, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Configure SID Settings"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "Device selection",IDC_STATIC,10,5,125,50
    LTEXT           "Left/Main device",IDC_STATIC,15,17,70,8
    COMBOBOX        IDC_SID_HARDSID_LEFT_ENGINE, 80,15,50,50,
                    CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VSCROLL
    LTEXT           "Right device",IDC_STATIC,15,37,70,8
    COMBOBOX        IDC_SID_HARDSID_RIGHT_ENGINE, 80,35,50,50,
                    CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VSCROLL
END


// GERMAN version of dialog

IDD_SID_HARDSID_SETTINGS_DIALOG_DE DIALOG DISCARDABLE 0, 0, 145, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "SID Einstellungen"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "Device selection",IDC_STATIC,10,5,125,50
    LTEXT           "Left/Main device",IDC_STATIC,15,17,70,8
    COMBOBOX        IDC_SID_HARDSID_LEFT_ENGINE, 80,15,50,50,
                    CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VSCROLL
    LTEXT           "Right device",IDC_STATIC,15,37,70,8
    COMBOBOX        IDC_SID_HARDSID_RIGHT_ENGINE, 80,35,50,50,
                    CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VSCROLL
END


// FRENCH version of dialog

IDD_SID_HARDSID_SETTINGS_DIALOG_FR DIALOG DISCARDABLE 0, 0, 145, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Configure SID Settings"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "Device selection",IDC_STATIC,10,5,125,50
    LTEXT           "Left/Main device",IDC_STATIC,15,17,70,8
    COMBOBOX        IDC_SID_HARDSID_LEFT_ENGINE, 80,15,50,50,
                    CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VSCROLL
    LTEXT           "Right device",IDC_STATIC,15,37,70,8
    COMBOBOX        IDC_SID_HARDSID_RIGHT_ENGINE, 80,35,50,50,
                    CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VSCROLL
END


// ITALIAN version of dialog

IDD_SID_HARDSID_SETTINGS_DIALOG_IT DIALOG DISCARDABLE 0, 0, 145, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Configure SID Settings"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "Device selection",IDC_STATIC,10,5,125,50
    LTEXT           "Left/Main device",IDC_STATIC,15,17,70,8
    COMBOBOX        IDC_SID_HARDSID_LEFT_ENGINE, 80,15,50,50,
                    CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VSCROLL
    LTEXT           "Right device",IDC_STATIC,15,37,70,8
    COMBOBOX        IDC_SID_HARDSID_RIGHT_ENGINE, 80,35,50,50,
                    CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VSCROLL
END


// DUTCH version of dialog

IDD_SID_HARDSID_SETTINGS_DIALOG_NL DIALOG DISCARDABLE 0, 0, 145, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "SID Instellingen"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "Apparaat selectie",IDC_STATIC,10,5,133,50
    LTEXT           "Linker/Hoofd apparaat",IDC_STATIC,15,17,76,8
    COMBOBOX        IDC_SID_HARDSID_LEFT_ENGINE, 91,15,50,50,
                    CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VSCROLL
    LTEXT           "Rechter apparaat",IDC_STATIC,15,37,70,8
    COMBOBOX        IDC_SID_HARDSID_RIGHT_ENGINE, 80,35,50,50,
                    CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VSCROLL
END


// POLISH version of dialog

IDD_SID_HARDSID_SETTINGS_DIALOG_PL DIALOG DISCARDABLE 0, 0, 145, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Configure SID Settings"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "Device selection",IDC_STATIC,10,5,125,50
    LTEXT           "Left/Main device",IDC_STATIC,15,17,70,8
    COMBOBOX        IDC_SID_HARDSID_LEFT_ENGINE, 80,15,50,50,
                    CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VSCROLL
    LTEXT           "Right device",IDC_STATIC,15,37,70,8
    COMBOBOX        IDC_SID_HARDSID_RIGHT_ENGINE, 80,35,50,50,
                    CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VSCROLL
END


// SWEDISH version of dialog

IDD_SID_HARDSID_SETTINGS_DIALOG_SV DIALOG DISCARDABLE 0, 0, 145, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Configure SID Settings"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "Device selection",IDC_STATIC,10,5,125,50
    LTEXT           "Left/Main device",IDC_STATIC,15,17,70,8
    COMBOBOX        IDC_SID_HARDSID_LEFT_ENGINE, 80,15,50,50,
                    CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VSCROLL
    LTEXT           "Right device",IDC_STATIC,15,37,70,8
    COMBOBOX        IDC_SID_HARDSID_RIGHT_ENGINE, 80,35,50,50,
                    CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VSCROLL
END
