// SID specific resources.
//

IDD_SID_GENERAL_SETTINGS_DIALOG DIALOG DISCARDABLE 0, 0, 145, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Configure SID Settings"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "SID Engine",IDC_STATIC,10,5,125,25
    COMBOBOX        IDC_SID_ENGINE, 15,15,70,50, CBS_DROPDOWNLIST |
                    WS_GROUP | WS_TABSTOP | WS_VSCROLL
    GROUPBOX        "SID Model",IDC_STATIC,10,35,125,25
    AUTORADIOBUTTON "6581 (old)",IDC_SID_6581,15,45,55,10,
                            BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "8580 (new)",IDC_SID_8580,70,45,55,10,
                            BS_AUTORADIOBUTTON
    GROUPBOX        "SID Stereo",IDC_STATIC,10,65,125,25
    AUTOCHECKBOX    "Stereo SID at", IDC_SID_STEREO,
                    15,75,55,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    COMBOBOX        IDC_SID_STEREOADDRESS,85,73,45,100,CBS_DROPDOWNLIST |
                    WS_GROUP | WS_TABSTOP | WS_VSCROLL
    AUTOCHECKBOX    "SID Filters", IDC_SID_FILTERS,
                    15,105,55,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
END

IDD_SID_RESID_SETTINGS_DIALOG DIALOG DISCARDABLE 0, 0, 145, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Configure SID Settings"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "reSID options",IDC_STATIC,10,5,125,50
    LTEXT           "Sample method",IDC_STATIC,15,17,50,8
    COMBOBOX        IDC_SID_RESID_SAMPLING,70,15,60,50,CBS_DROPDOWNLIST |
                    WS_GROUP | WS_TABSTOP
    LTEXT           "Passband (0-90%)",IDC_STATIC,15,37,60,8
    EDITTEXT        IDC_SID_RESID_PASSBAND, 80,35,20,12,WS_TABSTOP
END

IDD_SID_HARDSID_SETTINGS_DIALOG DIALOG DISCARDABLE 0, 0, 145, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Configure SID Settings"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "Device selection",IDC_STATIC,10,5,125,50
    LTEXT           "Left/Main device",IDC_STATIC,15,17,70,8
    COMBOBOX        IDC_SID_HARDSID_LEFT_ENGINE, 80,15,50,50,
                    CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VSCROLL
    LTEXT           "Right device",IDC_STATIC,15,37,70,8
    COMBOBOX        IDC_SID_HARDSID_RIGHT_ENGINE, 80,35,50,50,
                    CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VSCROLL
END

