// TFE specific resources.
//

// original and default ENGLISH version of dialog

IDD_TFE_SETTINGS_DIALOG DIALOG DISCARDABLE  0, 0, 270, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Ethernet Settings"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "&Ethernet",
                    IDC_TFE_SETTINGS_ENABLE_T,9,7,30,8
    COMBOBOX        IDC_TFE_SETTINGS_ENABLE,45,5,50,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "&Interface",
                    IDC_TFE_SETTINGS_INTERFACE_T,9,24,30,8
    COMBOBOX        IDC_TFE_SETTINGS_INTERFACE,45,22,200,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "1",
                    IDC_TFE_SETTINGS_INTERFACE_NAME,9,44,250,8
    LTEXT           "1",
                    IDC_TFE_SETTINGS_INTERFACE_DESC,9,60,250,8
    DEFPUSHBUTTON   "&OK", IDOK, 20,75,50,14, WS_TABSTOP
    PUSHBUTTON      "&Cancel", IDCANCEL, 80,75,50,14, WS_TABSTOP
END


// GERMAN version of dialog

IDD_TFE_SETTINGS_DIALOG_DE DIALOG DISCARDABLE  0, 0, 270, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Ethernet Einstellungen"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "&Ethernet",
                    IDC_TFE_SETTINGS_ENABLE_T,9,7,30,8
    COMBOBOX        IDC_TFE_SETTINGS_ENABLE,45,5,50,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "&Schnittstelle",
                    IDC_TFE_SETTINGS_INTERFACE_T,9,24,30,8
    COMBOBOX        IDC_TFE_SETTINGS_INTERFACE,45,22,200,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "1",
                    IDC_TFE_SETTINGS_INTERFACE_NAME,9,44,250,8
    LTEXT           "1",
                    IDC_TFE_SETTINGS_INTERFACE_DESC,9,60,250,8
    DEFPUSHBUTTON   "&OK", IDOK, 20,75,50,14, WS_TABSTOP
    PUSHBUTTON      "&Abbruch", IDCANCEL, 80,75,50,14, WS_TABSTOP
END


// FRENCH version of dialog

IDD_TFE_SETTINGS_DIALOG_FR DIALOG DISCARDABLE  0, 0, 270, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Paramètres Ethernet"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "&Ethernet",
                    IDC_TFE_SETTINGS_ENABLE_T,9,7,30,8
    COMBOBOX        IDC_TFE_SETTINGS_ENABLE,45,5,50,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "&Interface",
                    IDC_TFE_SETTINGS_INTERFACE_T,9,24,30,8
    COMBOBOX        IDC_TFE_SETTINGS_INTERFACE,45,22,200,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "1",
                    IDC_TFE_SETTINGS_INTERFACE_NAME,9,44,250,8
    LTEXT           "1",
                    IDC_TFE_SETTINGS_INTERFACE_DESC,9,60,250,8
    DEFPUSHBUTTON   "&OK", IDOK, 20,75,50,14, WS_TABSTOP
    PUSHBUTTON      "&Annuler", IDCANCEL, 80,75,50,14, WS_TABSTOP
END


// ITALIAN version of dialog

IDD_TFE_SETTINGS_DIALOG_IT DIALOG DISCARDABLE  0, 0, 270, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Impostazioni del Ethernet"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "&Ethernet",
                    IDC_TFE_SETTINGS_ENABLE_T,9,7,30,8
    COMBOBOX        IDC_TFE_SETTINGS_ENABLE,45,5,50,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "&Interfaccia",
                    IDC_TFE_SETTINGS_INTERFACE_T,9,24,30,8
    COMBOBOX        IDC_TFE_SETTINGS_INTERFACE,45,22,200,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "1",
                    IDC_TFE_SETTINGS_INTERFACE_NAME,9,44,250,8
    LTEXT           "1",
                    IDC_TFE_SETTINGS_INTERFACE_DESC,9,60,250,8
    DEFPUSHBUTTON   "&OK", IDOK, 20,75,50,14, WS_TABSTOP
    PUSHBUTTON      "&Annulla", IDCANCEL, 80,75,50,14, WS_TABSTOP
END


// DUTCH version of dialog

IDD_TFE_SETTINGS_DIALOG_NL DIALOG DISCARDABLE  0, 0, 270, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Ethernet Instellingen"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "&Ethernet",
                    IDC_TFE_SETTINGS_ENABLE_T,9,7,30,8
    COMBOBOX        IDC_TFE_SETTINGS_ENABLE,45,5,50,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "&Interface",
                    IDC_TFE_SETTINGS_INTERFACE_T,9,24,30,8
    COMBOBOX        IDC_TFE_SETTINGS_INTERFACE,45,22,200,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "1",
                    IDC_TFE_SETTINGS_INTERFACE_NAME,9,44,250,8
    LTEXT           "1",
                    IDC_TFE_SETTINGS_INTERFACE_DESC,9,60,250,8
    DEFPUSHBUTTON   "&OK", IDOK, 20,75,50,14, WS_TABSTOP
    PUSHBUTTON      "&Annuleren", IDCANCEL, 80,75,50,14, WS_TABSTOP
END


// POLISH version of dialog

IDD_TFE_SETTINGS_DIALOG_PL DIALOG DISCARDABLE  0, 0, 270, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Ustawienia Ethernet"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "&Ethernet",
                    IDC_TFE_SETTINGS_ENABLE_T,9,7,30,8
    COMBOBOX        IDC_TFE_SETTINGS_ENABLE,45,5,50,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "&Interface",
                    IDC_TFE_SETTINGS_INTERFACE_T,9,24,30,8
    COMBOBOX        IDC_TFE_SETTINGS_INTERFACE,45,22,200,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "1",
                    IDC_TFE_SETTINGS_INTERFACE_NAME,9,44,250,8
    LTEXT           "1",
                    IDC_TFE_SETTINGS_INTERFACE_DESC,9,60,250,8
    DEFPUSHBUTTON   "&OK", IDOK, 20,75,50,14, WS_TABSTOP
    PUSHBUTTON      "&Anuluj", IDCANCEL, 80,75,50,14, WS_TABSTOP
END


// SWEDISH version of dialog

IDD_TFE_SETTINGS_DIALOG_SV DIALOG DISCARDABLE  0, 0, 270, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Ethernet-inställningar"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "&Ethernet",
                    IDC_TFE_SETTINGS_ENABLE_T,9,7,30,8
    COMBOBOX        IDC_TFE_SETTINGS_ENABLE,45,5,50,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "&gränssnitt",
                    IDC_TFE_SETTINGS_INTERFACE_T,9,24,30,8
    COMBOBOX        IDC_TFE_SETTINGS_INTERFACE,45,22,200,80,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "1",
                    IDC_TFE_SETTINGS_INTERFACE_NAME,9,44,250,8
    LTEXT           "1",
                    IDC_TFE_SETTINGS_INTERFACE_DESC,9,60,250,8
    DEFPUSHBUTTON   "&OK", IDOK, 20,75,50,14, WS_TABSTOP
    PUSHBUTTON      "&Avbryt", IDCANCEL, 80,75,50,14, WS_TABSTOP
END
