// TFE specific resources.
//

#include "config.h"
#include "res.h"
#include "rescommon.h"

#pragma code_page(28591)

// original and default ENGLISH version of dialog

IDD_TFE_SETTINGS_DIALOG DIALOG DISCARDABLE  0, 0, 270, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "",
                    IDC_TFE_SETTINGS_ENABLE_T, 9, 7, 30, 8
    COMBOBOX        IDC_TFE_SETTINGS_ENABLE, 45, 5, 50, 80, CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "",
                    IDC_TFE_SETTINGS_INTERFACE_T, 9, 24, 30, 8
    COMBOBOX        IDC_TFE_SETTINGS_INTERFACE, 45, 22, 200, 80, CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "",
                    IDC_TFE_SETTINGS_INTERFACE_NAME, 9, 44, 250, 8
    LTEXT           "",
                    IDC_TFE_SETTINGS_INTERFACE_DESC, 9, 60, 250, 8
    DEFPUSHBUTTON   "", IDOK, 20, 75, 50, 14, WS_TABSTOP
    PUSHBUTTON      "", IDCANCEL, 80, 75, 50, 14, WS_TABSTOP
END

// -----------------------------------------------------------------------------

// original and default ENGLISH text

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
BEGIN
    IDS_TFE_CAPTION         "Ethernet Settings"
    IDS_TFE_ETHERNET        "&Ethernet"
    IDS_TFE_INTERFACE       "&Interface"
END


// GERMAN text

STRINGTABLE
LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL
BEGIN
    IDS_TFE_CAPTION         "Ethernet Einstellungen"
    IDS_TFE_ETHERNET        "&Ethernet"
    IDS_TFE_INTERFACE       "Schn&ittstelle"
END


// FRENCH text

STRINGTABLE
LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL
BEGIN
    IDS_TFE_CAPTION         "Paramètres Ethernet"
    IDS_TFE_ETHERNET        "&Ethernet"
    IDS_TFE_INTERFACE       "&Interface"
END


// HUNGARIAN text

#pragma code_page(28592)
STRINGTABLE
LANGUAGE LANG_HUNGARIAN, SUBLANG_NEUTRAL
BEGIN
    IDS_TFE_CAPTION         "Ethernet beállításai"
    IDS_TFE_ETHERNET        "&Ethernet"
    IDS_TFE_INTERFACE       "&Interfész"
END
#pragma code_page(28591)


// ITALIAN text

STRINGTABLE
LANGUAGE LANG_ITALIAN, SUBLANG_NEUTRAL
BEGIN
    IDS_TFE_CAPTION         "Impostazioni Ethernet"
    IDS_TFE_ETHERNET        "&Ethernet"
    IDS_TFE_INTERFACE       "&Interfaccia"
END


// DUTCH text

STRINGTABLE
LANGUAGE LANG_DUTCH, SUBLANG_NEUTRAL
BEGIN
    IDS_TFE_CAPTION         "Ethernet Instellingen"
    IDS_TFE_ETHERNET        "&Ethernet"
    IDS_TFE_INTERFACE       "&Interface"
END


// POLISH text

#pragma code_page(28592)
STRINGTABLE
LANGUAGE LANG_POLISH, SUBLANG_NEUTRAL
BEGIN
    IDS_TFE_CAPTION         "Ustawienia Ethernet"
    IDS_TFE_ETHERNET        "&Ethernet"
    IDS_TFE_INTERFACE       "&Interface"
END
#pragma code_page(28591)


// SWEDISH text

STRINGTABLE
LANGUAGE LANG_SWEDISH, SUBLANG_NEUTRAL
BEGIN
    IDS_TFE_CAPTION         "Ethernetinställningar"
    IDS_TFE_ETHERNET        "&Ethernet"
    IDS_TFE_INTERFACE       "&Gränssnitt"
END
