// Userport RTC specific resources.
//

// template of dialog for all languages

IDD_USERPORT_RTC_SETTINGS_DIALOG DIALOG DISCARDABLE 0, 0, 180, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "", IDC_USERPORT_RTC_ENABLE,
                    7, 7, 140, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    AUTOCHECKBOX    "", IDC_USERPORT_RTC_SAVE,
                    7, 17, 140, 10, BS_AUTOCHECKBOX | WS_TABSTOP

    DEFPUSHBUTTON   "", IDOK,
                    30, 90, 50, 14, WS_TABSTOP
    PUSHBUTTON      "", IDCANCEL,
                    90, 90, 50, 14, WS_TABSTOP
END

// -----------------------------------------------------------------------------

// original and default ENGLISH text

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
BEGIN
  IDS_USERPORT_RTC_CAPTION "Userport RTC settings"
  IDS_USERPORT_RTC_ENABLE  "Enable the Userport RTC expansion"
  IDS_USERPORT_RTC_SAVE    "Save RTC data when changed"
END


// DANISH text

STRINGTABLE
LANGUAGE LANG_DANISH, SUBLANG_NEUTRAL
BEGIN
  IDS_USERPORT_RTC_CAPTION "Userport RTC settings"
  IDS_USERPORT_RTC_ENABLE  "Aktivér RTC-udviddelse på brugerport"
  IDS_USERPORT_RTC_SAVE    "Save RTC data when changed"
END


// GERMAN text

STRINGTABLE
LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL
BEGIN
  IDS_USERPORT_RTC_CAPTION "Userport RTC Einstellungen"
  IDS_USERPORT_RTC_ENABLE  "Userport RTC Erweiterung aktivieren"
  IDS_USERPORT_RTC_SAVE    "RTC Daten bei Änderung speichern"
END


// SPANISH text

STRINGTABLE
LANGUAGE LANG_SPANISH, SUBLANG_NEUTRAL
BEGIN
  IDS_USERPORT_RTC_CAPTION "Ajustes Puerto usuario RTC"
  IDS_USERPORT_RTC_ENABLE  "Permitir expansión usuario RTC"
  IDS_USERPORT_RTC_SAVE    "Grabar datos RTC cuando cambien"
END


// FRENCH text

STRINGTABLE
LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL
BEGIN
  IDS_USERPORT_RTC_CAPTION "Userport RTC settings"
  IDS_USERPORT_RTC_ENABLE  "Activer l'expansion RTC port utilisateur"
  IDS_USERPORT_RTC_SAVE    "Save RTC data when changed"
END


// HUNGARIAN text

#ifndef WINDRES_CP_IGNORE
#pragma code_page(28592)
#endif
STRINGTABLE
LANGUAGE LANG_HUNGARIAN, SUBLANG_NEUTRAL
BEGIN
  IDS_USERPORT_RTC_CAPTION "Userport RTC settings"
  IDS_USERPORT_RTC_ENABLE  "Enable the Userport RTC expansion"
  IDS_USERPORT_RTC_SAVE    "Save RTC data when changed"
END
#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif


// ITALIAN text

STRINGTABLE
LANGUAGE LANG_ITALIAN, SUBLANG_NEUTRAL
BEGIN
  IDS_USERPORT_RTC_CAPTION "Userport RTC settings"
  IDS_USERPORT_RTC_ENABLE  "Attiva espansione RTC su Userport"
  IDS_USERPORT_RTC_SAVE    "Save RTC data when changed"
END


// KOREAN text

#ifndef WINDRES_CP_IGNORE
#pragma code_page(949)
#endif
STRINGTABLE
LANGUAGE LANG_KOREAN, SUBLANG_NEUTRAL
BEGIN
  IDS_USERPORT_RTC_CAPTION "Userport RTC settings"
  IDS_USERPORT_RTC_ENABLE  "Enable the Userport RTC expansion"
  IDS_USERPORT_RTC_SAVE    "Save RTC data when changed"
END
#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif


// DUTCH text

STRINGTABLE
LANGUAGE LANG_DUTCH, SUBLANG_NEUTRAL
BEGIN
  IDS_USERPORT_RTC_CAPTION "Userport RTC instellingen"
  IDS_USERPORT_RTC_ENABLE  "Activeer de Userport RTC uitbreiding"
  IDS_USERPORT_RTC_SAVE    "Sla de RTC data op indien gewijzigd"
END


// POLISH text

#ifndef WINDRES_CP_IGNORE
#pragma code_page(28592)
#endif
STRINGTABLE
LANGUAGE LANG_POLISH, SUBLANG_NEUTRAL
BEGIN
  IDS_USERPORT_RTC_CAPTION "Userport RTC settings"
  IDS_USERPORT_RTC_ENABLE  "W³±cz rozszerzenie Userport RTC"
  IDS_USERPORT_RTC_SAVE    "Save RTC data when changed"
END
#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif


// RUSSIAN text

#ifndef WINDRES_CP_IGNORE
#pragma code_page(28595)
#endif
STRINGTABLE
LANGUAGE LANG_RUSSIAN, SUBLANG_NEUTRAL
BEGIN
  IDS_USERPORT_RTC_CAPTION "Userport RTC settings"
  IDS_USERPORT_RTC_ENABLE  "Enable the Userport RTC expansion"
  IDS_USERPORT_RTC_SAVE    "Save RTC data when changed"
END
#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif


// SWEDISH text

STRINGTABLE
LANGUAGE LANG_SWEDISH, SUBLANG_NEUTRAL
BEGIN
  IDS_USERPORT_RTC_CAPTION "Userport RTC settings"
  IDS_USERPORT_RTC_ENABLE  "Aktivera användarport-RTC-expansion"
  IDS_USERPORT_RTC_SAVE    "Save RTC data when changed"
END


// TURKISH text

#ifndef WINDRES_CP_IGNORE
#pragma code_page(28599)
#endif
STRINGTABLE
LANGUAGE LANG_TURKISH, SUBLANG_NEUTRAL
BEGIN
  IDS_USERPORT_RTC_CAPTION "Userport RTC settings"
  IDS_USERPORT_RTC_ENABLE  "Userport RTC geniþlemesini aktif et"
  IDS_USERPORT_RTC_SAVE    "Save RTC data when changed"
END
#ifndef WINDRES_CP_IGNORE
#pragma code_page(28591)
#endif


