// VIC20 specific resources.
//

#include "debug.h"
#include "res.rc"
#include "resdrivec64vic20.rc"
#include "resrs232user.rc"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MENUVIC MENU DISCARDABLE
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Autostart disk/tape image...", IDM_AUTOSTART
        MENUITEM SEPARATOR
        POPUP "Attach &disk image"
        BEGIN
            MENUITEM "Drive &8\tAlt+8",  IDM_ATTACH_8
            MENUITEM "Drive &9\tAlt+9",  IDM_ATTACH_9
            MENUITEM "Drive 1&0\tAlt+0", IDM_ATTACH_10
            MENUITEM "Drive &11\tAlt+1", IDM_ATTACH_11
        END
        POPUP "D&etach disk image"
        BEGIN
            MENUITEM "Drive &8",  IDM_DETACH_8
            MENUITEM "Drive &9",  IDM_DETACH_9
            MENUITEM "Drive 1&0", IDM_DETACH_10
            MENUITEM "Drive &11", IDM_DETACH_11
            MENUITEM SEPARATOR
            MENUITEM "&All\tAlt+A", IDM_DETACH_ALL
        END
        POPUP "&Flip list"
        BEGIN
            MENUITEM "&Add current image\tAlt+I",     IDM_FLIP_ADD
            MENUITEM "&Remove current image\tAlt+K",  IDM_FLIP_REMOVE
            MENUITEM "Attach &next image\tAlt+N",     IDM_FLIP_NEXT
            MENUITEM "Attach &previous image\tAlt+B", IDM_FLIP_PREVIOUS
            MENUITEM SEPARATOR
            MENUITEM "&Load flip list", IDM_FLIP_LOAD
            MENUITEM "&Save flip list", IDM_FLIP_SAVE
        END
        MENUITEM SEPARATOR
        MENUITEM "Attach &tape image...\tAlt+T", IDM_ATTACH_TAPE
        MENUITEM "Detac&h tape image",           IDM_DETACH_TAPE
        POPUP "Datassette contro&l"
        BEGIN
            MENUITEM "S&top",          IDM_DATASETTE_CONTROL_STOP
            MENUITEM "&Start",         IDM_DATASETTE_CONTROL_START
            MENUITEM "&Forward",       IDM_DATASETTE_CONTROL_FORWARD
            MENUITEM "&Rewind",        IDM_DATASETTE_CONTROL_REWIND
            MENUITEM "Re&cord",        IDM_DATASETTE_CONTROL_RECORD
            MENUITEM "R&eset",         IDM_DATASETTE_CONTROL_RESET
            MENUITEM "Reset C&ounter", IDM_DATASETTE_RESET_COUNTER
        END
        MENUITEM SEPARATOR
        POPUP "Attach &cartridge image..."
        BEGIN
            MENUITEM "4/8/16KB image at $&2000...", IDM_CART_VIC20_8KB_2000
            MENUITEM "4/8/16KB image at $&4000...", IDM_CART_VIC20_16KB_4000
            MENUITEM "4/8/16KB image at $&6000...", IDM_CART_VIC20_8KB_6000
            MENUITEM "4/8KB image at $&A000...",    IDM_CART_VIC20_8KB_A000
            MENUITEM "4KB image at $&B000...",      IDM_CART_VIC20_4KB_B000
        END
        MENUITEM "Detach c&artridge image", IDM_CART_DETACH
        MENUITEM SEPARATOR
        MENUITEM "&Pause\tAlt+Pause",       IDM_PAUSE
        , CHECKED
        MENUITEM "&Monitor\tAlt+M",         IDM_MONITOR
        POPUP "&Reset"
        BEGIN
            MENUITEM "&Hard\tCtrl+Alt+R", IDM_RESET_HARD
            MENUITEM "&Soft\tAlt+R",      IDM_RESET_SOFT
            MENUITEM SEPARATOR
            MENUITEM "Drive #&8",         IDM_RESET_DRIVE8
            MENUITEM "Drive #&9",         IDM_RESET_DRIVE9
            MENUITEM "Drive #1&0",        IDM_RESET_DRIVE10
            MENUITEM "Drive #&11",        IDM_RESET_DRIVE11
        END
#ifdef DEBUG
		POPUP "&Debug"
        BEGIN
            MENUITEM "&Main CPU Trace\tAlt+F10", IDM_TOGGLE_MAINCPU_TRACE, CHECKED
            MENUITEM "Drive&0 CPU Trace\tAlt+F11", IDM_TOGGLE_DRIVE0CPU_TRACE, CHECKED
            MENUITEM "Drive&1 CPU Trace\tAlt+F12", IDM_TOGGLE_DRIVE1CPU_TRACE, CHECKED
        END
#endif
        MENUITEM SEPARATOR
        MENUITEM "E&xit\tAlt+X", IDM_EXIT
    END
    POPUP "Sna&pshot"
    BEGIN
        MENUITEM "Load snapshot &image...",  IDM_SNAPSHOT_LOAD
        MENUITEM "Save sna&pshot image...",  IDM_SNAPSHOT_SAVE
        MENUITEM "&Load quicksnapshot image\tAlt+L", IDM_LOADQUICK
        MENUITEM "&Save quicksnapshot image\tAlt+S", IDM_SAVEQUICK
        MENUITEM SEPARATOR
        MENUITEM "Start/Stop &Recording History",       IDM_EVENT_TOGGLE_RECORD
        MENUITEM "Start/Stop Pl&ayback History",        IDM_EVENT_TOGGLE_PLAYBACK
        MENUITEM "Set Recording Milestone\tAlt+G",  IDM_EVENT_SETMILESTONE
        MENUITEM "Return to Milestone\tAlt+H",      IDM_EVENT_RESETMILESTONE
        POPUP "Recording start mode"
        BEGIN
            MENUITEM "&Save new snapshot",      IDM_EVENT_START_MODE_SAVE
            MENUITEM "&Load existing snapshot", IDM_EVENT_START_MODE_LOAD
            MENUITEM "Start with &reset",       IDM_EVENT_START_MODE_RESET
            MENUITEM "Overwrite &Playback",     IDM_EVENT_START_MODE_PLAYBACK
        END
        MENUITEM "Select History files/directory",    IDM_EVENT_DIRECTORY
        MENUITEM SEPARATOR
        MENUITEM "Save/stop media file...\tAlt+C", IDM_MEDIAFILE
    END
    POPUP "&Options"
    BEGIN
        POPUP "&Refresh rate"
        BEGIN
            MENUITEM "&Auto",   IDM_REFRESH_RATE_AUTO
            MENUITEM "1/&1",    IDM_REFRESH_RATE_1
            MENUITEM "1/&2",    IDM_REFRESH_RATE_2
            MENUITEM "1/&3",    IDM_REFRESH_RATE_3
            MENUITEM "1/&4",    IDM_REFRESH_RATE_4
            MENUITEM "1/&5",    IDM_REFRESH_RATE_5
            MENUITEM "1/&6",    IDM_REFRESH_RATE_6
            MENUITEM "1/&7",    IDM_REFRESH_RATE_7
            MENUITEM "1/&8",    IDM_REFRESH_RATE_8
            MENUITEM "1/&9",    IDM_REFRESH_RATE_9
            MENUITEM "1/1&0",   IDM_REFRESH_RATE_10
#if 0
            MENUITEM SEPARATOR
            MENUITEM "&Custom", IDM_REFRESH_RATE_CUSTOM
#endif
        END
        POPUP "&Maximum Speed"
        BEGIN
            MENUITEM "&200%",     IDM_MAXIMUM_SPEED_200
            MENUITEM "&100%",     IDM_MAXIMUM_SPEED_100
            MENUITEM "&50%",      IDM_MAXIMUM_SPEED_50
            MENUITEM "&20%",      IDM_MAXIMUM_SPEED_20
            MENUITEM "1&0%",      IDM_MAXIMUM_SPEED_10
            MENUITEM "No &limit", IDM_MAXIMUM_SPEED_NO_LIMIT
            MENUITEM SEPARATOR
            MENUITEM "&Custom",   IDM_MAXIMUM_SPEED_CUSTOM
        END
        MENUITEM "&Warp mode\tAlt+W", IDM_TOGGLE_WARP_MODE
            , CHECKED
        MENUITEM SEPARATOR
        MENUITEM "Fullscreen\tAlt+D", IDM_TOGGLE_FULLSCREEN
        MENUITEM SEPARATOR
        MENUITEM "Video &cache", IDM_TOGGLE_VIDEOCACHE
        , CHECKED
        MENUITEM "&Double size", IDM_TOGGLE_DOUBLESIZE
        , CHECKED
        MENUITEM "Dou&ble scan", IDM_TOGGLE_DOUBLESCAN
        , CHECKED
        MENUITEM "PAL Emulation", IDM_TOGGLE_FASTPAL
        , CHECKED
        MENUITEM "Scale2x", IDM_TOGGLE_SCALE2X
        , CHECKED
        MENUITEM SEPARATOR
	MENUITEM "Swap &Joystick\tAlt+J", IDM_SWAP_JOYSTICK
	MENUITEM SEPARATOR
        MENUITEM "&Sound playback",       IDM_TOGGLE_SOUND, CHECKED
        MENUITEM SEPARATOR
        MENUITEM "&True drive emulation", IDM_TOGGLE_DRIVE_TRUE_EMULATION, CHECKED
        MENUITEM "&Virtual device traps", IDM_TOGGLE_VIRTUAL_DEVICES
	MENUITEM SEPARATOR
        POPUP "Vide&o standard"
        BEGIN
            MENUITEM "&PAL-G",  IDM_SYNC_FACTOR_PAL
            MENUITEM "&NTSC-M", IDM_SYNC_FACTOR_NTSC
        END
	MENUITEM SEPARATOR
	MENUITEM "Emulator &Identification",  IDM_TOGGLE_EMUID
	MENUITEM "VIC-1112 IEEE &488 module", IDM_IEEE488
    END
    POPUP "S&ettings"
    BEGIN
        MENUITEM "&Video settings...",     IDM_VIDEO_SETTINGS
        MENUITEM "V&IC settings...",       IDM_VIC_SETTINGS
        MENUITEM "&Peripheral settings...",IDM_DEVICEMANAGER
        MENUITEM "&Drive settings...",     IDM_DRIVE_SETTINGS
        MENUITEM "D&atasette settings...", IDM_DATASETTE_SETTINGS
        MENUITEM "&Joystick settings...",  IDM_JOY_SETTINGS
        MENUITEM "&Keyboard settings...",  IDM_KEYBOARD_SETTINGS
        MENUITEM "S&ound settings...",     IDM_SOUND_SETTINGS
        MENUITEM "&ROM settings...",       IDM_ROM_SETTINGS
        MENUITEM "RA&M settings...",       IDM_RAM_SETTINGS
        MENUITEM "RS&232 settings...",     IDM_RS232_SETTINGS
        POPUP "&Cartridge/IO settings"
        BEGIN
            MENUITEM "RS&232 userport settings...", IDM_RS232USER_SETTINGS
        END
        MENUITEM SEPARATOR
        MENUITEM "&Save current settings", IDM_SETTINGS_SAVE
        MENUITEM "&Load saved settings",   IDM_SETTINGS_LOAD
        MENUITEM "Set de&fault settings",  IDM_SETTINGS_DEFAULT
        MENUITEM SEPARATOR
	MENUITEM "Save settings on e&xit", IDM_TOGGLE_SAVE_SETTINGS_ON_EXIT
	MENUITEM "&Confirm on exit",	   IDM_TOGGLE_CONFIRM_ON_EXIT
    END
    POPUP "&Help"
    BEGIN
//        MENUITEM "H&elp",               IDM_HELP
//        MENUITEM SEPARATOR
        MENUITEM "&About...",             IDM_ABOUT
        MENUITEM SEPARATOR
        MENUITEM "Command line &options", IDM_CMDLINE
        MENUITEM SEPARATOR
        MENUITEM "&Contributors",         IDM_CONTRIBUTORS
        MENUITEM "&License",              IDM_LICENSE
        MENUITEM "No &warranty",          IDM_WARRANTY
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_VIC20ROM_SETTINGS_DIALOG DIALOG DISCARDABLE  0, 0, 240, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ROM Settings"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT       "Kernal",IDC_STATIC,9,8,40,8
    EDITTEXT    IDC_VIC20ROM_KERNAL_FILE, 55,7,125,12,WS_TABSTOP
    PUSHBUTTON  "&Browse...", IDC_VIC20ROM_KERNAL_BROWSE, 185,7,50,14, 0

    LTEXT       "Basic", IDC_STATIC, 9,28,40,8
    EDITTEXT    IDC_VIC20ROM_BASIC_FILE, 55,27,125,12,WS_TABSTOP
    PUSHBUTTON  "&Browse...", IDC_VIC20ROM_BASIC_BROWSE, 185,27,50,14, 0

    LTEXT       "Character", IDC_STATIC, 9,48,40,8
    EDITTEXT    IDC_VIC20ROM_CHARGEN_FILE, 55,47,125,12,WS_TABSTOP
    PUSHBUTTON  "&Browse...", IDC_VIC20ROM_CHARGEN_BROWSE, 185,47,50,14, 0
END

IDD_VIC20DRIVEROM_SETTINGS_DIALOG DIALOG DISCARDABLE  0, 0, 240, 210
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ROM Settings"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT       "1541",IDC_STATIC,9,8,40,8
    EDITTEXT    IDC_DRIVEROM_1541_FILE, 55,7,125,12,WS_TABSTOP
    PUSHBUTTON  "Browse...", IDC_DRIVEROM_1541_BROWSE, 185,7,50,14, 0

    LTEXT       "1541-II", IDC_STATIC, 9,28,40,8
    EDITTEXT    IDC_DRIVEROM_1541II_FILE, 55,27,125,12,WS_TABSTOP
    PUSHBUTTON  "Browse...", IDC_DRIVEROM_1541II_BROWSE, 185,27,50,14, 0

    LTEXT       "1570", IDC_STATIC, 9,48,40,8
    EDITTEXT    IDC_DRIVEROM_1570_FILE, 55,47,125,12,WS_TABSTOP
    PUSHBUTTON  "Browse...", IDC_DRIVEROM_1570_BROWSE, 185,47,50,14, 0

    LTEXT       "1571",IDC_STATIC,9,68,40,8
    EDITTEXT    IDC_DRIVEROM_1571_FILE, 55,67,125,12,WS_TABSTOP
    PUSHBUTTON  "Browse...", IDC_DRIVEROM_1571_BROWSE, 185,67,50,14, 0

    LTEXT       "1581", IDC_STATIC, 9,88,40,8
    EDITTEXT    IDC_DRIVEROM_1581_FILE, 55,87,125,12,WS_TABSTOP
    PUSHBUTTON  "Browse...", IDC_DRIVEROM_1581_BROWSE, 185,87,50,14, 0

    LTEXT       "2031", IDC_STATIC, 9,108,40,8
    EDITTEXT    IDC_DRIVEROM_2031_FILE, 55,107,125,12,WS_TABSTOP
    PUSHBUTTON  "Browse...", IDC_DRIVEROM_2031_BROWSE, 185,107,50,14, 0

    LTEXT       "2040",IDC_STATIC,9,128,40,8
    EDITTEXT    IDC_DRIVEROM_2040_FILE, 55,127,125,12,WS_TABSTOP
    PUSHBUTTON  "Browse...", IDC_DRIVEROM_2040_BROWSE, 185,127,50,14, 0

    LTEXT       "3040",IDC_STATIC,9,148,40,8
    EDITTEXT    IDC_DRIVEROM_3040_FILE, 55,147,125,12,WS_TABSTOP
    PUSHBUTTON  "Browse...", IDC_DRIVEROM_3040_BROWSE, 185,147,50,14, 0

    LTEXT       "4040", IDC_STATIC, 9,168,40,8
    EDITTEXT    IDC_DRIVEROM_4040_FILE, 55,167,125,12,WS_TABSTOP
    PUSHBUTTON  "Browse...", IDC_DRIVEROM_4040_BROWSE, 185,167,50,14, 0

    LTEXT       "1001", IDC_STATIC, 9,188,40,8
    EDITTEXT    IDC_DRIVEROM_1001_FILE, 55,187,125,12,WS_TABSTOP
    PUSHBUTTON  "Browse...", IDC_DRIVEROM_1001_BROWSE, 185,187,50,14, 0
END

IDD_VIC_SETTINGS_DIALOG DIALOG DISCARDABLE  0, 0, 215, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "VIC Settings"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,30,110,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,130,110,50,14
    GROUPBOX        "&Memory",IDC_STATIC,7,7,200,95
    AUTORADIOBUTTON "&no expansion memory",IDC_VIC_NOEXPANSION,
                    12,23,90,10,BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "3&K (block 0)",IDC_VIC_3KEXPANSION,
                    12,36,90,10,BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&8K (block 1)",IDC_VIC_8KEXPANSION,
                    12,49,90,10,BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "1&6K (blocks 1/2)",IDC_VIC_16KEXPANSION,
                    12,62,90,10,BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "2&4K (blocks 1/2/3)",IDC_VIC_24KEXPANSION,
                    12,75,90,10,BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&Full (blocks 0/1/2/3/5)",IDC_VIC_FULLEXPANSION,
                    12,88,90,10,BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&custom",IDC_VIC_CUSTOMEXPANSION,
                    120,23,50,10,BS_AUTORADIOBUTTON
    AUTOCHECKBOX    "Block &0",IDC_VIC_MEMORY_BLOCK0,
                    132,35,50,10,BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "Block &1",IDC_VIC_MEMORY_BLOCK1,
                    132,47,50,10,BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "Block &2",IDC_VIC_MEMORY_BLOCK2,
                    132,59,50,10,BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "Block &3",IDC_VIC_MEMORY_BLOCK3,
                    132,71,50,10,BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "Block &5",IDC_VIC_MEMORY_BLOCK5,
                    132,83,50,10,BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
END

IDD_VIC20ROM_RESOURCE_DIALOG DIALOG DISCARDABLE  0, 0, 160, 85
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Computer resources"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "Computer resources saved to romset",
                    IDC_STATIC,4,3,151,55
    AUTOCHECKBOX    "Kernal",IDC_VIC20ROM_KERNAL_RESOURCE,
                    11,13,95,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "Basic",IDC_VIC20ROM_BASIC_RESOURCE,
                    11,28,95,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "Character",IDC_VIC20ROM_CHARGEN_RESOURCE,
                    11,43,95,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP

    DEFPUSHBUTTON   "OK", IDOK, 20,65,50,14, WS_TABSTOP
    PUSHBUTTON      "Cancel", IDCANCEL, 80,65,50,14, WS_TABSTOP
END

IDD_VIC20ROMDRIVE_RESOURCE_DIALOG DIALOG DISCARDABLE  0, 0, 160, 190
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Drive resources"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "Drive resources saved to romset",
                    IDC_STATIC,4,3,151,160
    AUTOCHECKBOX    "1541",IDC_DRIVEROM_1541_RESOURCE,
                    11,13,95,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "1541-II",IDC_DRIVEROM_1541II_RESOURCE,
                    11,28,95,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "1570",IDC_DRIVEROM_1570_RESOURCE,
                    11,43,95,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "1571",IDC_DRIVEROM_1571_RESOURCE,
                    11,58,95,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "1581",IDC_DRIVEROM_1581_RESOURCE,
                    11,73,95,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "2031",IDC_DRIVEROM_2031_RESOURCE,
                    11,88,95,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "2040",IDC_DRIVEROM_2040_RESOURCE,
                    11,103,95,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "3040",IDC_DRIVEROM_3040_RESOURCE,
                    11,118,95,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "4040",IDC_DRIVEROM_4040_RESOURCE,
                    11,133,95,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    AUTOCHECKBOX    "1001",IDC_DRIVEROM_1001_RESOURCE,
                    11,148,95,10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP

    DEFPUSHBUTTON   "OK", IDOK, 20,170,50,14, WS_TABSTOP
    PUSHBUTTON      "Cancel", IDCANCEL, 80,170,50,14, WS_TABSTOP
END

IDD_VIC20KBD_MAPPING_SETTINGS_DIALOG DIALOG DISCARDABLE  0, 0, 240, 120
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
BEGIN
    AUTORADIOBUTTON "&Symbolic",IDC_VIC20KBD_MAPPING_SELECT_SYM,
                    10,10,54,10,BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "&Positional",IDC_VIC20KBD_MAPPING_SELECT_POS,
                    10,30,54,10,BS_AUTORADIOBUTTON

    EDITTEXT    IDC_VIC20KBD_MAPPING_SYM, 65,9,110,12,WS_TABSTOP
    PUSHBUTTON  "Browse...", IDC_VIC20KBD_MAPPING_SYM_BROWSE, 185,9,50,14, 0
    EDITTEXT    IDC_VIC20KBD_MAPPING_POS, 65,29,110,12,WS_TABSTOP
    PUSHBUTTON  "Browse...", IDC_VIC20KBD_MAPPING_POS_BROWSE, 185,29,50,14, 0

    PUSHBUTTON  "Dump keyset", IDC_VIC20KBD_MAPPING_DUMP, 10,54,50,14, 0
END

